@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;

// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@import '../fonts/foundation-icons.css';
@import '../../../node_modules/aos/src/sass/aos.scss';
@import '../../../node_modules/slick-carousel/slick/slick.scss';

@import 'global/colors';

$activeColor: $rb-blue1;
@import '../../../node_modules/hover.css/scss/hover.scss';

$slick-font-path: '/assets/fonts/';
$slick-loader-path: '/assets/img/';
@import 'components/rb-slick-theme.scss';
// @import '../../../node_modules/slick-carousel/slick/slick-theme.scss';

@import 'global/misc';
@import 'global/typography';
@import 'global/forms';
@import 'global/nav';
@import 'pages/content-blocks';
@import 'pages/product-pages';
@import 'pages/site-select';
@import 'components/mobile-menubar';
@import 'components/buttons';
@import 'components/locator';
@import 'components/information';
@import 'components/coming-soon';
@import 'components/client-login';
@import 'components/contact';
@import 'components/privacy';
@import 'components/ts-and-cs';
@import 'components/quick-product-info';
// @import 'components/resources';
// @import 'components/product-list';
// @import 'components/application-form';

$font-path: "/assets/fonts/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
