

@mixin col($bg, $fg) {
	background-color: $bg;
	color: $fg;
	// &:hover {
	// 	background-color: $bg;
	// 	color: $fg;
	// }
}

.orange-to-pink { 
	background-image: linear-gradient(to left, #F98407, #B60E60);
	@include breakpoint(menuSwitch) {
		background-image: linear-gradient(to bottom, #F98407, #B60E60);
	}
	color: white;
 }

.gold  { @include col($rb-gold, $black); }

.skyblue { @include col($rb-skyblue, $black); }

.white { @include col($white, $black); }

.cream { @include col($rb-cream, $black); }

.gray { @include col($rb-gray1, $black); }

.green { @include col($rb-green2, $white); }

.clay { @include col($rb-clay, $white);
	.cta {
		// can't target the SVG in the ::after pseudo-element 
		// to apply a style, so change the entire SVG instead 
		&:after {
			content: url('/assets/img/right-arrow-white.svg');
		}
	}
}

.silver {
	background-color: $rb-silver;
	color: $black;
}

.black {
	background-color: $black;
	color: $white;
}

.darkgray {
	background-color: $rb-gray5;
	color: $white;
}

.lightblue {
	background-color: $rb-blue1;
	color: $white;
}

.midblue {
	background-color: $rb-blue2;
	color: $white;
}

.darkblue {
	background-color: $rb-blue3;
	color: $white;
	.cta {
		// can't target the SVG in the ::after pseudo-element 
		// to apply a style, so change the entire SVG instead 
		&:after {
			content: url('/assets/img/right-arrow-white.svg');
		}
	}
}