

// Other elements outside the form tag may use this
div.step:not(.active), div.step-complete:not(.active) {
	display: none;
}

@mixin rb-button-styles {
	button {
		padding-top: rem-calc(16);
		padding-bottom: rem-calc(16);
		&.text-left {
			text-align: left;
		}
		&.text-right {
			text-align: right;
		}
		&.text-center {
			text-align: center;
		}
		&[disabled], &[disabled]:hover {
			background-color: $rb-gray4;
			cursor: default;
		}
		&.submit[disabled], &.submit[disabled]:hover {
			background-color: $rb-gray4;
			cursor: not-allowed;
			color: black;
			opacity: 1;
		}
	}
	
	button.arrow-fw {
		&:after {
			float: right;
			content: url('/assets/img/right-arrow.svg');
			background-size: 2em 0.7em;
			width: 2em;
			height: 0.7em;
			margin-left: .35em;
			padding: 0;
		}
	}
	button.arrow-bw {
		&:before {
			display: inline-block;
			content: url('/assets/img/right-arrow.svg');
			//background-image: url('/assets/img/right-arrow.svg');
			transform: scaleX(-1);
			background-size: 2em 0.7em;
			width: 2em;
			height: 0.7em;
			margin-right: .35em;
			padding: 0;
		}
	}
}

@mixin rb-form-styles {
	fieldset {
		margin-top: rem-calc(40);
		width: 100%;
	}
	legend {
		white-space: nowrap;
		font-size: rem-calc(12);
		color: $rb-blue3;
		.alt {
			font-size: rem-calc(14);
			color: $black;
		}
	}
}

@mixin rb-input-styles {
	// Prevent input field zoom on iOS, minimum 16pt
	// https://thingsthemselves.com/no-input-zoom-in-safari-on-iphone-the-pixel-perfect-way/
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"]
	{
		font-size: 16px;
		width: 133.333333333%;
		line-height: 26.666666667px;
		padding: 6.666666667px;
		/* scale down by 12/16 = 75% */
		transform: scale(0.75);
		transform-origin: left center;
	}
	select {
		font-size: 16px;
		width: 133.333333333%;
		line-height: 26.666666667px;
		padding: 6.666666667px 24px 6.666666667px 0;
		/* scale down by 12/16 = 75% */
		transform: scale(0.75);
		transform-origin: left center;
	}
	textarea {
		font-size: 16px;
		width: 133.333333333%;
		max-width: unset;
		transform: scale(0.75);
		transform-origin: left center;
	}

	label {
		transition: color .4s;
	}
	.labeltext {
		visibility: hidden;                         
	}
	input {
		transition: all .4s;
	}
	input:focus::placeholder {
		color: transparent;
	}
	input, input:active, input:focus, select {
		border-bottom: 1px solid $black;
		&.error {
			border: 1px solid $rb-error;
		}
	}
	input:active, input:focus, input.error, select:focus {
		background-color: $white;
		padding-left: 0.8em;
	}
	select {
		//margin-top: 1.5em;
		background-color: transparent;
		font-weight: bold;
		padding-left: 0.8em;
	}
	input, select {
		margin-bottom: 0;
	}

	input[type="text"] {
		margin-bottom: rem-calc(10);
		&:not(.error) {
			margin-bottom: rem-calc(31);
		}
	}

	input[type="text"].error + span.error {
		position: relative;
		top: rem-calc(-14);
		font-size: rem-calc(12);
		color: $rb-error;
		font-weight: normal;
		font-style: italic;
	}

	input[type="checkbox"], input[type="radio"] {
		+ label {
			margin-top: 1em;
			text-align: center;
			margin-bottom: 0;
		}
	}

	// Checkbox inputs
	//
	//  Markup
	// 	<div id="field-error" class="jqv-error">Error message</div>
	// 	<input name="name" type="checkbox" id="id">
	// 	<label class="checkbox-label" for="id">Label text</label>
	//

	input[type="checkbox"]{
		@include hide-me;
	}
	
	input[type="checkbox"] + label {
		margin: 0;
		margin-top: 1.5em;
		background-color: transparent;
		width: 100%;
		line-height: rem-calc(45);
		border: 1px solid black;  
	}
	
	input[type="checkbox"].error + label {
		border: 1px solid $rb-error;
		background-color: $white;
		font-weight: bold;
	}

	input[type="checkbox"]:checked + label {
		color: white;
		background-color: black;
		font-weight: bold;
	}
	
	input[type="checkbox"] + label:hover:before{
		background:#ddf;
	}
	
	// Radio buttons
	input[type="radio"] {
		@include hide-me;
	}
	
	input[type="radio"] + label {
		background-color: transparent;
		width: 100%;
		line-height: rem-calc(45);
		margin: 0;
		margin-top: 1.5em;
		//padding: 1em 4em;
		border: 1px solid black;  
	}

	input[type="radio"].error + label {
		border: 1px solid $rb-error;
		background-color: $white;
		font-weight: bold;
	}
	
	input[type="radio"]:checked + label {
		color: white;
		background-color: black;
		font-weight: bold;
	}
	
	input[type="radio"] + label:hover:before{
		background:#ddf;
	}
 
		// File input	
	input[type="file"] {
		@include hide-me;
	}
	
	input[type="file"] {
		~ label {
			margin-bottom: 0;
		}
	}

	input[type="file"] + label {
		background-color: transparent;
		width: 100%;
		line-height: rem-calc(45);
		margin: 0;
		margin-top: 1.5em;
		//padding: 1em 4em;
		border: 1px solid black;  
		text-align: center;
		cursor: pointer;
		&:active, &:focus {
			background-color: $white;
		}
		&.filled {
			color: $white;
			background-color: $black;
		}
	}

	input[type="file"].error + label {
		border: 1px solid $rb-error;
		background-color: $white;
		font-weight: bold;
	}

	input[type="file"] ~ .filename {
		font-size: rem-calc(12);
		display: flex;
		> div {
			flex: 1 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.remove-file {
			flex: 1 0 auto;
			margin-left: 4em;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
		}
	}

	// Text Input
	textarea {
		background-color: $rb-gray1;
		color: $black;
		padding: 20px;
		height: 10em;
		margin-top: 2em;
		margin-bottom: 3em;
		&:focus {
			padding: 10px;
			background-color: $white;
			border: 1px solid $rb-gray2;
			&::placeholder {
				color: transparent;
			}
		} 
	}
}



