
//=========================
// Mix-ins
//=========================

@mixin hide-me {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	// position: absolute;
	z-index: -1;
}

@mixin highlight {
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}
@mixin in-progress {
	background: repeating-linear-gradient(
		-45deg,
		yellow,
		yellow 15px,
		black 15px,
		black 30px
	) !important;
}

// Fix flexbox "bug" that breaks Slick slider
* {
	min-height: 0;
	min-width: 0;
}



@keyframes grow-right {
	10% {
		width: 0;
	}
	90% {
		width: 100%;
	}
	100% {
		width: 100%;
	}
}

//===============
// Social Links
//===============

.main-social-links {
	position: fixed;
	height: 160px;
	bottom: 80px;
	left: 56px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	@include breakpoint(menuSwitch) {
		bottom: 60px;
	}
	> * {
		display: block;
	}
}


// Hide the outline ring etc. on buttons

[data-whatintent='mouse'] *:focus {
  outline: none;
}

.section-end-cta, .reveal, .rb-reveal,
button, div.menu-bar__button, div.menu-image, div.menu-text, .tabs-title > a {
	&:focus {
		outline: none;
		-webkit-touch-callout:none; /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust:none; /* prevent webkit from resizing text to fit */
		-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color*/
		-webkit-tap-highlight-color: transparent; /* prevent tap highlight color*/
		-webkit-user-select:none;  /* prevent copy paste, to allow, change 'none' to 'text' */
	}
}

// .open-modal {
// 	font-weight: bold;
// 	cursor: pointer;
// }

@mixin scroll-cue {
	position: absolute;
	bottom: -40px;
	@include breakpoint(large) {
		bottom: 10px;
	}
	z-index: 2;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;	
	p {
		text-transform: uppercase;
		font-size: .75em;
		font-weight: normal;
		margin-bottom: .5em;
	}
	// @media screen and ( max-height: 600px ) {
	// 	bottom: 40px;	
	// 	p {
	// 		margin-bottom: .25em;
	// 	}
	// }
	div.line-down {
		margin: .6em auto;
		width: 1px;
		height: 60px;
		background-color: transparent;
		&:after {
			content: ' ';
			display: block;
			height: 100%;
			background-color: black;
			animation: grow-down 3s;
			animation-iteration-count: infinite;
		}
	}
}

@keyframes grow-down {
	10% {
		height: 0%;
	}
	90% {
		height: 100%;
	}
	100% {
		height: 100%;
	}
}

//=================
// Debug & helpers
//=================

.is-inverted {
	transform: rotate(180deg);
	background-color: red;
}

.rainbow {
	color: black;
	:nth-child(6n+1) {
		background: #FF0000;
	}
	:nth-child(6n+2) {
		background: #FF7800;
	}
	:nth-child(6n+3) {
		background: #FBFF00;
	}
	:nth-child(6n+4) {
		background: #00FF00;
	}
	:nth-child(6n+5) {
		background: #00FDFD;
	}
	:nth-child(6n+6) {
		background: #3700FF;
	}
}

//==================
// Obsolete styles?
//==================

.item-head {
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(10);
	font-size: rem-calc(18);
	font-weight: 600;
}

section.placeholder {
	min-height: 100vh;
	background-image: url(/assets/img/goodmajor.svg);
  background-attachment: fixed;
  background-position: center; 
	background-color: $rb-blue3;
	background-size: 400px;
}

[data-aos="squeeze-up"] {
  transform: translate3d(0, 200px, 0);
  opacity: 0;
  line-height: 4;
  transition-property: transform, opacity, line-height;
  &.aos-animate {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    line-height: 1.4;
  }
}

.product-specs {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 1em;
}

.call-for-details {
	display: flex;
	padding: rem-calc(20) rem-calc(25);
	flex-direction: column;
	p {
		padding: 0;
		margin: 0.2em 0;
	}
	@include breakpoint(xlarge) {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px 45px;
	}				

}


.fade-in-left {
	// @include mui-fade(in, $duration: 1s, $timing: "ease", $delay: .5s);
	// @include mui-slide(in, $duration: 1s, $timing: "ease", $delay: .5s);
	@include mui-fade(in, $duration: 1s, $timing: "ease");
	@include mui-slide(in, $duration: 1s, $timing: "ease");
}
.fade-in-right {
	// @include mui-fade(in, $duration: 1s, $timing: "ease", $delay: .5s);
	// @include mui-slide(in, $duration: 1s, $timing: "ease", $delay: .5s);
	@include mui-fade(in, $duration: 1s, $timing: "ease");
	@include mui-slide(in, right, $duration: 1s, $timing: "ease");
}
