//=========================
// Show / Hide menu-bars
//=========================

$desktop-menu-width: 90px;

.noscroll {
	overflow: hidden;
}

div.off-canvas#rb-off-canvas {
	overflow: visible;
}

@include breakpoint(menuSwitch) {
	body {
		padding-right: $desktop-menu-width;

		&.no-nav {
			padding-right: 0;
		}
	}
}

div.menu-bar {
	display: none;

	@include breakpoint(menuSwitch) {
		backface-visibility: hidden;
		z-index: 2;
		font-size: rem-calc(14);
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		left: -$desktop-menu-width;
		flex-direction: row;
		visibility: visible;
		width: $desktop-menu-width;
		height: 100%;
		writing-mode: vertical-rl;
		text-transform: uppercase;
	}

	&__button {
		padding: rem-calc(8) rem-calc(10);
		cursor: pointer;
		flex: 0 1 50%;

		&--full {
			flex: 1 1 100%;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint(menuSwitch) {
			flex: 3 1 auto;

			&:nth-of-type(1) {
				flex: 1 1 auto;
				min-height: 70px;
				max-height: 200px;
			}

			&:nth-of-type(4) {
				order: 5;
			}
		}
	}

	&__image {
		background-repeat: no-repeat;
		background-size: contain;
		height: 16px;
		width: 16px;
		margin: 0 12px 0 0;

		@include breakpoint(menuSwitch) {
			height: 30px;
			width: 26px;
			margin: 0 0 20px 0;

			@media only screen and (max-height: 750px) {
				display: none;
			}
		}

		&--login {
			background-image: url('/assets/img/login.svg');
		}

		&--create-account {
			background-image: url('/assets/img/create-account.svg');
		}
	}

	&__text {
		line-height: 1;
		text-align: center;

		@include breakpoint(menuSwitch) {
			transform: rotate(180deg);

			@media screen and (-ms-high-contrast: active),
			(-ms-high-contrast: none) {
				transform: none !important;
			}

			@supports (-ms-accelerator:true) {
				transform: none !important;
			}

			@supports (-ms-ime-align: auto) {
				transform: none !important;
			}
		}

	}
}

div.mobile-menu-bar {
	@include breakpoint(menuSwitch) {
		display: none;
	}

	backface-visibility: hidden;
	z-index: 2;
	font-size: rem-calc(14);
	width: 100%;
	height: rem-calc(150);
	position: fixed;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;

	&__button {
		padding: rem-calc(8) rem-calc(10);
		cursor: pointer;
		flex: 0 1 50%;

		&--full {
			flex: 1 1 100%;
		}

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		background-repeat: no-repeat;
		background-size: contain;
		height: 16px;
		width: 16px;
		margin: 0 12px 0 0;

		&--login {
			background-image: url('/assets/img/login.svg');
		}

		&--create-account {
			background-image: url('/assets/img/create-account.svg');
		}
	}

	&__text {
		line-height: 1;
		text-align: center;
	}
}

//===================================
// Use a mixin for handling gutters
//===================================
$menu-gutter-small: 36px;
$menu-gutter-large: 128px;

@mixin add-menu-gutters {
	padding-left: rem-calc($menu-gutter-small);
	padding-right: rem-calc($menu-gutter-small);

	@include breakpoint(menuSwitch) {
		padding-left: rem-calc($menu-gutter-large);
		padding-right: rem-calc($menu-gutter-large);
	}
}

@mixin remove-menu-gutters {
	margin-left: rem-calc(-($menu-gutter-small));
	margin-right: rem-calc(-($menu-gutter-small));
	padding-left: rem-calc($menu-gutter-small);
	padding-right: rem-calc($menu-gutter-small);

	@include breakpoint(menuSwitch) {
		margin-left: rem-calc(-($menu-gutter-large));
		margin-right: rem-calc(-($menu-gutter-large));
		padding-left: rem-calc($menu-gutter-large);
		padding-right: rem-calc($menu-gutter-large);
	}
}

@mixin top-triangle ($color: transparent) {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -12px;
		margin-top: -12px;

		@include breakpoint(menuSwitch) {
			left: rem-calc(144);
		}

		width: 0;
		height: 0;
		border: 12px solid transparent;
		border-bottom-color: $color;
		border-top: 0;

	}
}

.menu-scroll-container {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.nav {
	&__link {
		font-weight: bold;
		cursor: pointer;

		&--home,
		&--cea-home {
			cursor: pointer;
		}
	}

	&__menu-top {
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		height: 78px;
		z-index: 2;

		@include breakpoint(menuSwitch) {
			display: none;
		}
	}

	&__menu-title {
		@include add-menu-gutters;
		font-size: rem-calc(12);
		font-weight: 500;
	}

	&__menu-footer {
		font-size: rem-calc(14);
		margin-top: rem-calc(50);
		margin-bottom: rem-calc(50);

		>div {
			margin-bottom: .8em;
		}
	}

	&__main-menu-container, &__wholesale-container {
		@include add-menu-gutters;
		padding-top: rem-calc(128);
		padding-bottom: rem-calc(128);
		min-height: 100vh;

		// Menu Accordions

		// Regular +/- Style Accordion
		.accordion-title {
			&:before {
				font-size: rem-calc(40);
				font-weight: 200;
				top: 0;
				margin-top: rem-calc(-12);
				right: rem-calc(7);
				line-height: 1.0;
			}
		}

		.is-active>.accordion-title {
			&:before {
				right: rem-calc(8);
				margin-top: rem-calc(-15);
			}
		}

		// Alternative style with uparrow / downarrow
		.accordion-title.accordion-title--alt {
			&:before {
				margin-top: rem-calc(-5);
				content: url("/assets/img/up-angle.svg");
			}
		}

		.is-active>.accordion-title.accordion-title--alt {
			&:before {
				content: url("/assets/img/down-angle.svg");
			}
		}

		.accordion-content {
			@include remove-menu-gutters;
		}
		.accordion-content .accordion-content {
			background-color: $white;
			padding-top: rem-calc(10);
			padding-bottom: rem-calc(10);

			> * {
				display: block;
				padding: rem-calc(5) 0;
			}
		}
	}



	&__wholesale-container {
		color: $white;
		padding-top: rem-calc(128);
		padding-bottom: rem-calc(128);
		min-height: 100vh;
		.accordion-content {
			background-color: $rb-blue2;;
			padding-top: rem-calc(15);
			padding-bottom: rem-calc(15);
			@include top-triangle( $rb-blue2 ); 
			a {
				text-decoration: none;
				cursor: pointer;
			}
			ul, li {
				list-style-type: none;
				color: $white;
				margin: rem-calc(20) 0;
			}
			li.indent {
				margin: rem-calc(10) 0 rem-calc(10) rem-calc(20);
			}

		}
		.accordion, .accordion-item, .accordion-title, .accordion-content {
			color: $white;
		}
	}

	&__menu-item {
		font-weight: bold;
		line-height: 1.5;
		cursor: pointer;
		margin-top: rem-calc(35);
		margin-bottom: rem-calc(35);
		// @include breakpoint(menuSwitch) {
		// 	margin-top: rem-calc(35);
		// 	margin-bottom: rem-calc(35);
		// }
		span.cta {
			margin-bottom: rem-calc(30);
			margin-right: rem-calc(40);
		}
	}
	// &__menu-subitem {
	// 	// e.g. Menu headings inside CEA accordion
	// 	font-weight: 600;
	// 	line-height: 1.5;
	// 	cursor: pointer;
	// 	padding-top: rem-calc(9);
	// 	padding-bottom: rem-calc(9);
	// 	@include breakpoint(menuSwitch) {
	// 		padding-top: rem-calc(24);
	// 		padding-bottom: rem-calc(24);
	// 	}
	// }
	&__menu-social-links {
		display: flex;
		width: rem-calc(160);
		justify-content: space-between;
	}

	&__heading {
		font-size: rem-calc(24);
		font-weight: bold;
		line-height: 1.5;
		margin-bottom: rem-calc(15);
		// @include menu-gutters;
	}

	&__contact {
		color: $black;
		// @include menu-gutters;
	}

	&__faqs {
		@include remove-menu-gutters();
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(50);
		color: #5c5c5c;
		background-color: #dfe2e3;
		@include top-triangle(#dfe2e3);
		ul.accordion {
			padding-top: rem-calc(15);
			padding-bottom: rem-calc(15);
			.accordion-title {
				padding: rem-calc(16) rem-calc(32) rem-calc(16) 0;
				display: flex;
				flex-direction: row;
				line-height: 1.4;
			}
		}
	}

	&__faq-number {
		color: $black;
		font-weight: bold;
		padding-right: rem-calc(12);
	}

	&__faq-question {
		font-weight: 600;
	}

	&__cea {
		padding-top: rem-calc(10);
		color: $rb-gray5;
		background-color: $rb-gray1;
		@include top-triangle($rb-gray1);
		.nav__menu-item {
			margin-top: rem-calc(18);
			margin-bottom: rem-calc(18);
			font-weight: 600;
			padding-left: rem-calc(12);
			&:last-of-type {
				padding-bottom: rem-calc(23);
				// margin-bottom: 0;
			}
		}
	}
	&__cea-downloads {
		.accordion-content {
			@include top-triangle(white);
			.nav__menu-item {
				margin-top: rem-calc(24);
				margin-bottom: rem-calc(24);
				font-weight: 600;
				padding-left: rem-calc(12);
				&:last-of-type {
					padding-bottom: 0;
					// margin-bottom: 0;
				}
			}
		}
	}

	// Begin NavBar styles
	&__button {
		position: absolute;
		margin: 0;
		width: 48px;
		height: 48px;
		z-index: 3;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;

		// transition: opacity .6s, transform .6s;
		&--close {
			background-image: url('/assets/img/close.svg');
		}

		&--close-white {
			background-image: url('/assets/img/close-white.svg');
		}

		&--fixed {
			position: fixed;
		}

		&--primary {
			top: rem-calc(15);
			right: 28px;

			@include breakpoint(menuSwitch) {
				display: none;
			}
		}

		&--modal {
			top: rem-calc(15);
			right: 28px;
		}

		&--secondary {
			top: rem-calc(15);
			right: 91px;

			@include breakpoint(menuSwitch) {
				right: 115px;
			}

			@include breakpoint(large) {
				right: 135px;
			}
		}

		&--tertiary {
			bottom: 140px;
			right: 28px;

			@include breakpoint(menuSwitch) {
				right: 115px;
				bottom: 45px;
			}

			@include breakpoint(large) {
				right: 135px;
			}
		}

		&--in-menu {
			left: 21px;
			top: rem-calc(15);
		}

		&--gray {
			@include col(#EBEBEB, $black);
		}

		&--darken {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&--lighten {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&--hidden {
			transform: scale(0.5);
			opacity: 0;
		}

		&--home {
			background-image: url('/assets/img/home.svg');
		}

		&--locator {
			background-image: url('/assets/img/locator.svg');
			z-index: 5;
		}

		&--menu {
			z-index: 5;
			background-image: url('/assets/img/menu.svg');
		}

		&--info {
			z-index: 5;
			border-radius: 50% 50% 0 50%;
			background-image: url('/assets/img/info.svg');
		}
	}
}

.nav__button--toggle {
	background-image: url('/assets/img/menu.svg');
}

.off-canvas.is-open .nav__button--toggle {
	background-image: url('/assets/img/close.svg');
}

.resources  {
	@include remove-menu-gutters;
	padding-top: rem-calc(50);
	color: $rb-gray5;
	background-color: $rb-gray1;
	@include top-triangle( $rb-gray1 ); 

	&__subhead {
		margin-bottom: rem-calc(20);
	}
	&__tabs {
		padding: 0;
		border: 0;
	}
	&__tabs-title {
		width: rem-calc(134);
		> a {
			padding: rem-calc(15) rem-calc(15);
		}
		border: 1px solid $rb-gray5;
		color: $rb-gray5;
		text-align: center;
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(20);
		&:first-of-type {
			margin-right: rem-calc(16);
		}
		&.is-active, &:focus, &:hover {
			background-color: $rb-gray5;
			font-weight: bold;
			color: $white;
			> a {
				background-color: transparent;
				color: $white;
			}
		}
	}
	&__tabs-content {
		background-color: transparent;
	}
	ul.accordion {
		.accordion-title {
			padding: rem-calc(16) rem-calc(32) rem-calc(16) 0;
		}
	}
	// .accordion-content {
	// 	background-color: $white;
	// }
}


button#info {
	z-index: 4;
	background-image: url('/assets/img/info.svg');
	cursor: help;
}

//========================================
// Logo block in top-left corner
//========================================
div.logo {
	position: fixed;
	// backface-visibility: hidden;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background-color: black;
	color: white;
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;

	&#rambridge-logo {
		backface-visibility: hidden;
		z-index: 4;
		background-image: url('/assets/img/rambridge.svg');
	}

	&#netled-logo {
		backface-visibility: hidden;
		z-index: 4;
		background-color: white;
		color: black;
		background-image: url('/assets/img/netled-nam.svg');
		padding: 0;
		top: 0;
		left: 80px;
		overflow: hidden;
		background-size: 60px;

		@include breakpoint(menuSwitch) {
			top: 80px;
			left: 0;
		}
	}

	// &.is-scrolling {
	// 	opacity: 0;
	// 	transition: opacity .8s;
	// 	transition-delay: 0;
	// }
	// &:before{
	// 	// Hack to preload replacement image and avoid a flash
	// 	content: url('/assets/img/ram.svg');
	// 	width: 80px;
	// 	height: 80px;
	// 	display: none;
	// }
}

// body.is-off-canvas-open {
// 	.menu-bar {
// 		transform: translateX(-678px);
// 		@include breakpoint(xlarge) {
// 			transform: translateX(-900px);
// 		}
// 		z-index: 12;
// 		.nav__button--menu {
// 			display: none;
// 		}
// 	}
// }

.off-canvas {
	height: 100%;
	overflow: hidden;
}


.off-canvas button.nav__button {
	&--menu {
		display: block;
	}

	// &--close {
	// display: none;
	// }
}

// body.is-off-canvas-open {
// 	.off-canvas button.nav__button {
// 			&--menu {
// 				display: none;
// 			}
// 			&--close {
// 				display: block;
// 			}
// 	}
// }

// Begin styles for Create Account form
.create-account {

	&__intro {
		padding-top: rem-calc(44);
		padding-bottom: rem-calc(28);
		@include add-menu-gutters;

		&-container {
			z-index: 2;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}

		&-heading {
			font-size: rem-calc(24);
			font-weight: bold;
			padding-right: rem-calc(100);
			line-height: 1.2;
		}

		&-subhead {
			margin-top: .5em;
		}

		&-step {
			font-size: rem-calc(12);
		}
	}

	&__main {
		@include rb-input-styles;
		@include rb-button-styles;
		@include rb-form-styles;
		@include add-menu-gutters;
		min-height: 100vh;

		form {
			height: 100%;
		}

		// Hide labels...
		label {
			visibility: hidden;
			margin-top: -2em;

			* {
				visibility: visible;
			}

		}

		//...but not for radio buttons or checkboxes or files
		input[type="radio"]~label,
		input[type="checkbox"]~label,
		input[type="file"]~label {
			visibility: visible;
		}

		// padding: 0 $gutter-size;
		.step {
			padding-top: rem-calc(125);

			&:first-of-type {
				padding-top: rem-calc(180);

				@media screen and (min-width: 500px) {
					padding-top: rem-calc(150);
				}
			}
		}
	}

	&__progress-container {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;

		@include breakpoint(menuSwitch) {
			padding-left: rem-calc($menu-gutter-large);
			padding-right: rem-calc($menu-gutter-large);
		}
	}

	&__progress {

		padding: 0 1rem;
		height: 50px;
		position: relative;
		//width: 100%;
		// padding: 0 $gutter-size;
		font-size: rem-calc(12);

		&-bar {
			@include foundation-progress-element;
			height: 7px;
			width: 100%;
			background-color: $rb-blue3;
			position: absolute;
			top: 5px;
			left: 0;

			>.progress-meter {
				background-color: #A3F271;
			}
		}

		&-step {
			margin-top: rem-calc(24);
		}

		&-percent {
			font-weight: bold;
			margin-top: rem-calc(24);
		}
	}

	&__step-complete {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		>* {
			margin: rem-calc(50) 0;
		}

		&-message {
			text-align: center;
		}
	}

	&__close-button {
		width: rem-calc(180);
		color: $white;
		background-color: $black;
		font-weight: bold;

		&:hover {
			color: $white;
			background-color: $black;
			font-weight: bold;
		}
	}

	&__form-controls {
		@include rb-button-styles;
		margin-top: 3em;
		padding-bottom: rem-calc(75);
	}

	&__application-form {
		div.step[data-step="1"].active~.form-controls {

			// Hide the Prev  and Submit button on the first step
			.prev,
			.submit {
				display: none;
			}

			.next,
			.start {
				display: block;
			}
		}

		div.step[data-step="2"].active~.form-controls,
		div.step[data-step="3"].active~.form-controls,
		div.step[data-step="4"].active~.form-controls,
		div.step[data-step="5"].active~.form-controls {

			// Only show Prev and Next button on the middle steps
			.next,
			.prev {
				display: block;
			}

			.start,
			.submit {
				display: none;
			}
		}

		div.step[data-step="6"].active~.form-controls {

			// Show the Submit button only if we're on the last step
			.prev,
			.submit {
				display: block;
			}

			.next,
			.start {
				display: none;
			}
		}
	}


	.single-line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input+label {
			flex-grow: 1;
			max-width: 40px;
			display: inline-block;
			width: auto;
		}
	}

	.cell.open-times {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;

		>div {
			&.day {
				width: 50px
			}

			&.separator {
				text-align: center;
				line-height: rem-calc(38);
				font-size: rem-calc(14);
				font-weight: bold;
				margin-bottom: 0.5em;
			}

			&.open-time,
			&.close-time {
				flex: 1;
				text-align: center;
				margin: 0 2px 0.5em 2px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-end;

				>* {
					margin: 0 2px;
				}

				label.time-hour,
				label.time-minute {
					margin-bottom: 0;

					input {
						margin-bottom: 0;
						text-align: center;

						&:active,
						&:focus {
							padding-left: 0;
							border: 1px solid $black;
						}

						&.error {
							padding-left: 0;
						}
					}

					flex: 0 0 44px;
				}

				.time-am-pm {
					flex: 0 0 55px;
					padding-left: 0;
				}

				>.separator {
					flex: 0 0 auto;
				}
			}

			&.closed-today {
				color: $rb-gray2;
				width: 100%;
				text-align: center;
				line-height: 42px;
				font-size: rem-calc(14);
				font-weight: bold;
				//padding-right: 44px;
			}
		}
	}

	div.cell.error {
		margin-top: 0;
	}
}

@media only screen and (max-device-width: 812px) {
	[data-whatintent='touch'] .create-account__form-controls {
		padding-bottom: rem-calc(200);
	}
}