html {
	font-size: 14px;
	@media screen and (min-width: 376px) {
		font-size: 16px;
	}
	//@include breakpoint(large) {
		//font-size: 18px;
	//}
}


h1, .h1 {
	letter-spacing: -0.02em;
	font-weight: bold;
}
h2, .h2 {
	letter-spacing: -0.02em;
	font-weight: bold;
}
h3, .h3 {
	letter-spacing: -0.02em;
	font-weight: bold;
}
h4, .h4 {
	letter-spacing: -0.02em;
	font-weight: bold;
}
h5, .h5 {
	font-weight: bold;
}

a, a:hover, a:visited, a:active {
	color: inherit;
}

@mixin title {
	font-size: rem-calc(12);
	font-weight: bold;
	color: $rb-blue3;
}

.title {
	@include title;
}

a.tel {
	font-weight: bold;
}

.semibold {
	font-weight: 500;
}

.small {
	font-size: rem-calc(14);
}
.smaller {
	font-size: rem-calc(12);
}
.heading {
	font-size: rem-calc(48px);
	line-height: rem-calc(52px);
	font-weight: bold;
	@include breakpoint(360px) { 
		font-size: rem-calc(69px);
		line-height: rem-calc(75px);
	}
}

.nav-back {
	font-size: rem-calc(12);
	cursor: pointer;
	&:before {
		display: inline-block;
		position: relative;
		top: 2px;
		content: "";
		transform: rotate(180deg);
		background-image: url('/assets/img/right-arrow-white.svg');
		background-size: rem-calc(18) rem-calc(12);
		background-repeat: no-repeat;
		transform: rotate(180deg);
		width: 2em;
		height: 1em;
		margin-left: -.5em;
		margin-right: .8em;
		padding: 0;
	}
}

.cue {
	text-transform: uppercase;
	font-size: rem-calc(12);
}

.cta {
	font-size: rem-calc(14);
	font-weight: 500;
	line-height: rem-calc(20);
	padding-bottom: 5px;
	border-bottom: 3px solid currentColor;
	display: inline-block;
	cursor: pointer;
	&:after {
		display: inline-block;
		content: url('/assets/img/right-arrow.svg');
		//background-image: url('/assets/img/right-arrow.svg');
		background-size: 2em 0.7em;
		width: 2em;
		height: 0.7em;
		margin-left: .35em;
		padding: 0;
	}
	&.alt {
		
		&:after {
			content: url('/assets/img/right-arrow-white.svg');
	
		}
	}
	&--back {
		&:after {
			content: none;
		}
		&:before {
			display: inline-block;
			content: url('/assets/img/right-arrow.svg');
			transform: rotate(180deg);
			width: 2em;
			height: 1em;
			margin-right: .5em;
			padding-bottom: .5em;
			line-height: 1;
	}
	}
}	

.external-link {
	&:after {
		content: url('/assets/img/box+arrow.svg');
		padding-left: rem-calc(30);
		position: relative;
		top: 4px;
	}
}

label.error, span.error {
	font-size: rem-calc(12);
	color: $rb-error;
	font-weight: normal;
	font-style: italic;
}

.cta-icon {
	box-sizing: border-box;
	height: 64px;
	width: 102px;
	padding-left: rem-calc(30);
	margin-bottom: -5px; 
	cursor: pointer;
}

.download {
	font-size: rem-calc(14);
	font-weight: 500;
	line-height: rem-calc(20);
	padding-bottom: 5px;
	border-bottom: 3px solid currentColor;
	display: inline-block;
	cursor: pointer;
	&:after {
		display: inline-block;
		content: url('/assets/img/download.svg');
		margin-left: 1em;
		padding: 0;
		height: 1em;
	}
	&.alt:after {
		content: url('/assets/img/download-white.svg');
	}
}

