<!doctype html>
<html class="no-js" lang="en">

{{> head }}

<body>
	<div class="off-canvas position-right" id="rb-off-canvas" data-off-canvas data-transition="overlap">

		{{> menu-bar }}

		<ul class="tabs" data-tabs id="main-menu-tabs" style="display: none;">
			<li class="tabs-title is-active"><a href="#main-menu__default" aria-selected="true">MAIN</a></li>
			<li class="tabs-title"><a href="#main-menu__wholesale">WHOLESALE</a></li>
			<li class="tabs-title"><a href="#main-menu__create-account">CREATE</a></li>
			<li class="tabs-title"><a href="#main-menu__contact">CONTACT</a></li>
		</ul>

		<div class="menu-scroll-container">
			<div class="tabs-content silver" data-tabs-content="main-menu-tabs">
				<div class="tabs-panel silver is-active" id="main-menu__default">
					{{> menu-tab-main }}
				</div>
				<div class="tabs-panel darkblue" id="main-menu__wholesale">
					{{> menu-tab-wholesale }}
				</div>
				<div class="tabs-panel silver" id="main-menu__create-account">
					{{> menu-tab-create-account }}
				</div>
				<div class="tabs-panel silver" id="main-menu__contact">
					{{> menu-tab-contact }}
				</div>
			</div>

		</div>
	</div>

	<div class="off-canvas-content" data-off-canvas-content>
		<div class="product-details">

			<section class="product-details__images white">

				<a class="product-details__backlink" href="/{{ data.category.fields.slug }}.html">Back to
					{{{formatbrand data.category.fields.name bold=false}}}</a>
				<div class="product-details__category">{{{formatbrand data.category.fields.name bold=false}}}</div>
				<h1 class="product-details__title">{{{formatbrand data.name }}}</h1>

				<div class="product-details__carousel carousel">
					{{#each data.productImages }}
					<img alt="{{ this.fields.title }}" src="{{ this.fields.file.url }}?w=400&h=400">
					{{/each}}
				</div>

				{{#if data.productImages.[1]}}
				<div class="product-details__carousel-nav carousel-nav">
					<div class="cue">Swipe</div>
					<div class="line-right"></div>
					<div class="slick-dots-container"> </div>
				</div>
				{{else}}
				<div class="product-details__scroll-cue">
					<p>Scroll</p>
					<img src="/assets/img/disc.svg" alt="Scroll Down">
					<div class="line-down"></div>
				</div>
				{{/if}}

			</section>

			<section class="product-details__overview silver">
				<h2 class="product-details__overview-title">Product Overview</h2>
				<p class="product-details__overview-product-name">{{{formatbrand data.name }}}</p>
				<div class="product-details__overview-content">
					{{{markdown data.productDescription}}}
				</div>
			</section>

			<section class="product-details__documents">
				<h2 class="product-details__documents-title">Product Documents</h2>
				<p>Some helpful resources</p>
				{{#if data.productDocuments}}
				{{#each data.productDocuments}}
				<div class="product-details__documents-download">
					<div class="pdf"></div>
					<div class="dl-text">
						<div class="description">
							<p>{{ this.fields.title }}</p>
							<p>{{ this.fields.description }}</p>
						</div>
						<div class="download">
							<a class="" href="{{ this.fields.file.url }}" target="_blank">Download Now</a>
						</div>
					</div>
				</div>
				{{/each}}
				{{else}}
				<div>
					{{> unavailable }}
				</div>
				{{/if}}
			</section>
		</div>
		{{> find-a-retailer }}
		{{> newsletter-signup }}
		{{> footer }}
		{{> end-of-page }}
	</div>

	<script src="/{{root}}assets/js/app.js"></script>
</body>
</html>