{{!-- This is the base layout for this project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">

{{> head }}

<body>
	<div class="off-canvas position-right" id="rb-off-canvas" data-off-canvas data-transition="overlap">

		{{> menu-bar }}

		<ul class="tabs" data-tabs id="main-menu-tabs" style="display: none;">
			<li class="tabs-title is-active"><a href="#main-menu__default" aria-selected="true">MAIN</a></li>
			<li class="tabs-title"><a href="#main-menu__wholesale">WHOLESALE</a></li>
			<li class="tabs-title"><a href="#main-menu__create-account">CREATE</a></li>
			<li class="tabs-title"><a href="#main-menu__contact">CONTACT</a></li>
		</ul>

		<div class="menu-scroll-container">
			<div class="tabs-content silver" data-tabs-content="main-menu-tabs">
				<div class="tabs-panel silver is-active" id="main-menu__default">
					{{> menu-tab-main }}
				</div>
				<div class="tabs-panel darkblue" id="main-menu__wholesale">
					{{> menu-tab-wholesale }}
				</div>
				<div class="tabs-panel silver" id="main-menu__create-account">
					{{> menu-tab-create-account }}
				</div>
				<div class="tabs-panel silver" id="main-menu__contact">
					{{> menu-tab-contact }}
				</div>
			</div>

		</div>
	</div>

	<div class="off-canvas-content" data-off-canvas-content>
		<div class="grid-x">
			<div class="cell">
				<section class="product-listing white" id="product-listing">
					<span class="product-listing__backlink nav__trigger--wholesale">Back to Menu</span>
					<div class="product-listing__top-level-category">{{ parent }}</div>
					<div class="product-listing__category silver">
						<div>{{{formatbrand this.name }}}</div>
					</div>
					<p class="product-listing__cue">Select images below for more details</p>
					<div class="grid-x product-listing__grid">
						{{#each data }}
						<div class="cell large-6 xxlarge-4 product-listing__cell">
							<div class="product-listing__image-container">
								<a href="{{{this.fields.slug}}}.html">
									<div class="product-listing__image">
										<img alt="{{{formatbrand this.fields.name bold=false}}}"
											src="{{{this.fields.productImages.[0].fields.file.url}}}">
										<div class="product-listing__title">{{{formatbrand this.fields.name }}}
										</div>
									</div>
									<div class="overlay">
									</div>
									<div class="product-listing__cta">
										<span class="cta alt">View Product Details</span>
									</div>
								</a>
							</div>

						</div>
						{{/each}}

					</div>

				</section>
			</div>

			<div class="cell xlarge-6">
				{{> call-us }}
			</div>
			<div class="cell xlarge-6">
				{{> find-a-retailer }}
			</div>
			<div class="cell">
				{{> newsletter-signup }}
			</div>
		</div>
		{{> footer }}
		{{> end-of-page }}
	</div>

	<script src="/{{root}}assets/js/app.js"></script>
</body>
</html>