button.speech {
	width: 50px;
	height: 50px;
	margin: 0;
	border-radius: 50% 50% 0 50%;
	background-color: $rb-gray3;
	color: black;
	background-repeat: no-repeat;
	background-position: center;
	&:hover, &:focus {
		background-color: $rb-gray3;
	}
}

button.rectangle {
	font-size: rem-calc(14);
	font-weight: bold;
	padding: 1em 2em;
	margin-bottom: 1.8em;
	cursor: pointer;
	&.wide {
		width: 100%;
	}
}

button.boxy {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 0;
	//width: 16em;
	padding: 1.25em;
	span {
		float: left;
	}
	&:after {
		float: right;
		content: ' ';
		background-image: url('/assets/img/right-arrow.svg');
		background-size: 2em 1em;
		background-repeat: no-repeat;
		width: 2em;
		height: 1em;
		line-height: 1;
		margin-left: .35em;
		padding: 0;
	}
	color: black;
	&:hover {
		border: 2px solid $rb-blue1;
		background-color: $rb-blue1;
	}
	strong, strong:hover {
		color: black;
	}
}