.client-login {
	&__modal {
		@include reveal-overlay($white);
		@include reveal-modal-base;
		@include reveal-modal-width(100%, 600px);
		// min-width: 300px;
		padding: rem-calc(24) rem-calc(24) rem-calc(36) rem-calc(24);
		margin: 0;
		bottom: 0;
		@media screen and (min-width: 480px) {
			margin: 2em;
			bottom: unset;
		}
		@include breakpoint(medium) {
			margin: 2em;
			bottom: unset;
			padding: rem-calc(48);
			top: 50% !important;
			left: 50%;
			transform: translate(calc(-50% - 2em), -50%);
			bottom: unset;
		}
	}
	&__title {
		font-size: rem-calc(12);
		font-weight: 600;
		color: $rb-blue2;
		margin-bottom: rem-calc(40);
	}
	&__headline {
		font-size: rem-calc(32);
		line-height: 1.2;
		letter-spacing: -0.02em;
		font-weight: bold;
		margin-bottom: rem-calc(12);
	}
	&__country-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: rem-calc(20) 0; 
		a:first-child {
			border-bottom: 1px solid gray;			
		}
		@include breakpoint(medium) {
			flex-direction: row;
			margin: rem-calc(45) 0; 
			a:first-child {
				border-bottom: none;
				border-right: 1px solid gray;
			}
		}
	}
	&__country {
		font-size: rem-calc(26);
		font-weight: bold;
		line-height: 1.08;
		text-transform: uppercase;
		padding: rem-calc(30) rem-calc(15);
		@include breakpoint(medium) {
			padding: rem-calc(30) rem-calc(35);

		}
		text-align: center;
	}
}