.coming-soon {
	&__modal {
		@include reveal-overlay($white);
		@include reveal-modal-base;
		@include reveal-modal-width(100%, 500px);
		min-width: 300px;
		padding: 2em;
		top: 50% !important;
		left: 50%;
		transform: translate(calc(-50% - 2em), -50%);
		bottom: unset;
		margin: 0 2em;
	}
	&__title {
		font-size: rem-calc(12);
		font-weight: 600;
		color: $rb-blue2;
		margin-bottom: rem-calc(40);
	}
	&__headline {
		font-size: rem-calc(32);
		line-height: 1.2;
		letter-spacing: -0.02em;
		font-weight: bold;
		margin-bottom: rem-calc(12);
	}
	&__phone {
		margin: 1.5em 0;
		a {
			font-weight: bold;
		}
	}
	&__ctas {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a:nth-of-type(2) {
			display: none;
		}
		@include breakpoint(menuSwitch) {
			a:nth-of-type(2) {
				display: block;
			}
		}
	}
}