.contact {
	$gutter-size: 2rem;
	background-color: $rb-silver;
	position: relative;
	&__intro {
		padding: $gutter-size;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 2;
		&-back-link {
			font-size: rem-calc(12);
			font-weight: 500;
			padding: .75em 0;
			cursor: pointer;
			&:before {
				display: inline-block;
				content: url('/assets/img/right-arrow-white.svg');
				transform: rotate(180deg);
				width: 2em;
				height: 1em;
				margin-right: .5em;
				padding-bottom: .5em;
				line-height: 1;
			}
		}
		&-heading {
			font-size: rem-calc(24);
			font-weight: bold;
			padding-right: rem-calc(100);
			line-height: 1.2;
		}
		&-subhead {
			margin-top: .5em;
		}
	}
	&__main {
		min-height: 120vh;
		padding: rem-calc(180) $gutter-size 0 $gutter-size;
		@include rb-button-styles;
		@include rb-form-styles;
		@include rb-input-styles;
		textarea {
			margin-top: 0;
		}
		label {
			visibility: hidden;
			margin-top: -2em;
			* {
				visibility: visible;
			}
		}
	}
	&__thankyou {
		position: fixed;
		background-color: white;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: none;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		&.active {
			display: flex;
			z-index: 2;
		}
		&-logo {
			margin-bottom: 3em;
		}
		&-message {
			text-align: center;
		}
	}
}