.information {
	&__modal {
		@include reveal-overlay($white);
		@include reveal-modal-base;
		@include reveal-modal-width(100%, 360px);
		max-width: 400px;
		padding: 2em;
		top: unset !important;
		left: unset;
		// right: 22px;
		bottom: 64px;
		max-height: calc(100% - 20px);
		margin: 1em;
		@include breakpoint(menuSwitch) {
			right: 98px;
			bottom: 28px;
		}

	}
	&__title {
		font-size: rem-calc(12);
		font-weight: 600;
		color: $rb-blue2;
		margin-bottom: rem-calc(40);
	}
	&__headline {
		font-size: rem-calc(32);
		line-height: 1.2;
		letter-spacing: -0.02em;
		font-weight: bold;
		margin-bottom: rem-calc(12);
	}
	&__phone {
		margin: 1.5em 0;
		a {
			font-weight: bold;
		}
	}
	&__ctas {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}