#locator-main-modal {
	height: 90%;
}
	// .location-title {
	// 	color: $rb-blue2;
	// 	font-weight: 500;
	// 	font-size: rem-calc(12);
	// }
// 	.heading {
// 		font-size: rem-calc(32);
// 		line-height: 1.2;
// 		margin-top: rem-calc(18);
// 		margin-bottom: rem-calc(10);	
// 	}
// 	//height: 100%;
// }

.locator {
	overflow: hidden;
	&__container {
		overflow: hidden;
		position: relative;
		margin: rem-calc(12);
		@media only screen and (min-width: 376px) {
			margin: rem-calc(24);	
		}
		margin-bottom: rem-calc(8);
		display: flex;
		flex-direction: column;
		max-height: 100%;
		height: 100%;
	}
	&__intro {
		flex: 0 0 auto;
	}
	&__intro-title {
		font-size: rem-calc(12);
		font-weight: 600;
		color: $rb-blue2;
		margin-bottom: rem-calc(20);
	}
	&__intro-headline {
		font-size: rem-calc(32);
		line-height: 1.2;
		font-weight: bold;
	}

	&__store-list-container {
		position: absolute;
		margin: 0;
		width: 100%;
		padding-top: rem-calc(30);
		bottom: 20px;
		height: rem-calc(180);
		z-index: 3;
		transition: height .8s;
		@include breakpoint(large) {
			padding-top: 0;
			bottom: 75px;
			height: 30%;
		}
		&.expanded {
			height: 400px;
			// No expanded state on large screens
			@include breakpoint(large) {
				height: 280px;
			}
			& > .locator__store-list-expander {
				background-image: url('/assets/img/minus.svg');
			}
		}
		@include breakpoint(large) {
			.locator__store-headings {
				.cell:nth-of-type(1) {
					padding-left: .7em;
				}
			}
		}
	}
	&__store-list-expander {
		// background-color: yellow;
		width: 24px;
		height: 24px;
		padding: 20px 28px;
		position: absolute;
		top: 4px;
		right: 0px;
		cursor: pointer;
		background-image: url('/assets/img/plus.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
	&__store-list {
		width: 100%;
		height: 100%;
		padding-bottom: rem-calc(20);
		overflow-y: scroll;
		margin-top: rem-calc(16);
		@include breakpoint(large) {
			padding-bottom: 0;
			margin-top: rem-calc(48);
		}
	}
	&__store-headings {
		padding: 1em 0;
		font-weight: bold;
		font-size: rem-calc(14);
		border-bottom: 3px solid #707070;
		background-color: $white;
		width: 100%;
		position: absolute;
		top: 0;
	}
	&__store {
		padding: .7em;
		@include breakpoint(large) {
			&:nth-child(odd) { background-color: #F2F2F2; }
			&:nth-child(even) { background-color: white; }
		}
		&--highlight {
			background-color: $rb-silver;
		}
	}

	&__store-name {
		font-weight: bold;
		font-size: rem-calc(18);
		@include breakpoint(large) {
			font-size: rem-calc(14);
		}
	}
	&__store-address {
		font-size: rem-calc(14);
		@include breakpoint(large) {
			font-size: rem-calc(16);
		}
	}
	&__store-distance {
		font-size: rem-calc(16);
	}
	&__store-phone {
		font-size: rem-calc(16);
	}
	&__store-cta {
		@include breakpoint(large) {
			padding: 0 1em;
		}
		@media only screen and (max-width: rem-calc(360)) {
			a.cta:after {
				content: "";
				width: 0;
				height: 0;
				margin: 0;
			}
		}	
		@media only screen and (min-width: rem-calc(1024)) and (max-width: rem-calc(1280)) {
			a.cta:after {
				content: "";
				width: 0;
				height: 0;
				margin: 0;
			}
		}
	}
}

#locator-map {
	flex: 1 1 auto;
	// min-height: 400px;
	height: 100%;
	margin-bottom: rem-calc(150);
}

div.map-controls {
	position: relative;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

div#search-here {
	background-color: $white;
	font-size: rem-calc(12);
	position: absolute;
	top: 0px;
	z-index: 2;
	padding: 10px;
	margin: 8px;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 1px 4px -1px rgba(0,0,0,.3);
}


.locator-search {
	&__container {
		overflow: scroll;
	}
	&__search-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__input {
		margin-top: 3em;
		max-width: 320px;
		width: 100%;
		border: 2px solid $rb-gray1;
		border-radius: 3px;
		padding: 0 1em;
		&:focus, &.valid {
			font-size: rem-calc(14);
			font-weight: bold;
			text-align: center;
			border: 2px solid $rb-blue1;
			&::placeholder {
				font-size: rem-calc(14);
				font-weight: normal;
				text-align: start;
				display: none;
			}	
		}
		
		&:hover {
			border: 2px solid $rb-blue1;
		}

	}
	&__button {
		width: 100%;
		max-width: 320px;
		padding: 1em;
		margin: 1em 0;
		cursor: pointer;
		&--submit {
			background-color: $rb-gray1;
		}
		&--cancel {
			margin-top: rem-calc(30);
			@media only screen and (min-width: 321px) {
				margin-top: rem-calc(100);
			}
		}
	}
}