$menubar-small: 60px;
$menubar-medium: 80px;

$mobile-menubar-height: 60px;

.tabs-content {
	border: 0;
}


#mobile-menu-bar {
	z-index: 4;
	cursor: pointer;
	text-align: center;
	font-size: rem-calc(14);
	font-weight: 500;
	> div {
		padding: rem-calc(8) 0;
	}
	.menu-text {
		line-height: 1;
	}
	.menu-image {
		background-position: center;
		height: 24px;
		margin: 0 0 6px 0;
		background-repeat: no-repeat;
	}
	#create-account-button {
		flex: 0 0 rem-calc(110);
		background-color: $rb-blue1;
		.menu-image {
			background-image: url('/assets/img/create-account.svg');
		}
	}
	#login-button {
		flex: 0 0 rem-calc(110);
		background-color: $rb-blue2;
		.menu-image {
			background-image: url('/assets/img/login.svg');
		}
	}
	#wholesale-button {
		flex: 1;
		padding: rem-calc(8) 1em;
		line-height: 1.2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


.menu-footer {
	margin-bottom: 1em;
	> * {
		//width: 100%;
		margin: rem-calc(10) rem-calc(32);
	}	
}

.menu-categories {
	position: relative;
	margin-top: 15vh;
	font-size: rem-calc(16);
	.menu-item {
		font-weight: bold;
		padding: 1em 2em;
		@media screen and (min-height: 640px) {
			padding: 1.3em 2em;
		}
	}
	ul.accordion {
		margin-bottom: 0;
	}
	.accordion-title {
		padding: 1em 2em;
		@media screen and (min-height: 640px) {
			padding: 1.4em 2em;
		}
		font-weight: bold;
		&:before {
			margin-top: rem-calc(-18);
			margin-right: rem-calc(28);
			font-size: 2em;
			font-weight: normal;
			line-height: 1;
		}
	}
	.accordion-content {
		position: relative;
		padding: 1.5em rem-calc(32);
		ul {
			margin-left: 0;
			ul {
				padding: .5em 0 .5em 1.5em;
			}
		}
		li {
			list-style: none;
			padding: .4em 0;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 0;
			height: 0;
			border: 0.625em solid transparent;
			border-top: 0;
			margin-left: -0.625em;
			margin-top: -0.625em;
		}
		.heading {
			font-size: rem-calc(24);
			line-height: 1.4;
			margin-top: .5em;
			margin-bottom: 1em;
		}
		p {
			margin-bottom: .2em;
		}
		p.contact {
			margin-bottom: 3em;
		}
		ul.resources {
			margin-bottom: 2em;
			&:last-of-type {
				margin-bottom: 0.5em;
			}
		}
		// Nested accordion styles
		.accordion-title {
			padding: 1em 2em 1em 0;
			line-height: 1.4;
			&:before {
				top: rem-calc(22);
				//margin-top: rem-calc(-32);
				margin-right: rem-calc(-18);
				content: url("/assets/img/up-angle.svg");
			}
		}
		.is-active > .accordion-title {
			&:before {
				content: url("/assets/img/down-angle.svg");
			}
		}
		.faqs {
			.accordion-title {
				display: flex;
				.faq-number {
					color: $white;
					font-weight: bold;
					padding-right: rem-calc(12);
				}
				.faq-question {
					font-weight: 500;
				}	
			}
			.accordion-content {
				padding: 0 32px;
				margin: 0 -32px;
				border-bottom: 1px $rb-gray2 solid;
				p {
					margin-bottom: 1em;
				}
			}
		}	
	}
}


.mobile-menu-container {
	padding: 0;
	//position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

#wholesale-menu {
	.accordion-content {
		background-color: $rb-blue2;
		&:after {
			border-bottom-color: $rb-blue2;
		}	
	}
}

#mobile-menu {
	.accordion-content {
		background-color: $rb-gray1;
		color: $rb-gray5;
		&:after {
			border-bottom-color: $rb-gray1;
		}	
	}

	// .mobile-menu-heading {
	// 	padding: rem-calc(32);
	// 	position: fixed;
	// 	width: 100%;
	// 	z-index: 2;
	// 	background-color: $rb-silver;
	// 	font-size: rem-calc(12);
	// }
}


.faqs a {
	font-weight: bold;
}