#nav-icon {
  width: 20px;
	height: 20px;
	margin: auto;
	position: relative;
	top: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon.open span:nth-of-type(2n) {
  width: 100%;
}
#nav-icon span:nth-of-type(2n) {
  width: 66%;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 5px;
}

#nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
