.privacy {
	$gutter-size: 2rem;
	&__modal {
		padding: 0;
	}
	&__intro {
		padding: $gutter-size;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 2;
		&-back-link {
			font-size: rem-calc(12);
			font-weight: 500;
			padding: .75em 0;
			cursor: pointer;
			&:before {
					display: inline-block;
					content: url('/assets/img/right-arrow-white.svg');
					transform: rotate(180deg);
					width: 2em;
					height: 1em;
					margin-right: .5em;
					padding-bottom: .5em;
					line-height: 1;
			}
		}
		&-heading {
			font-size: rem-calc(24);
			font-weight: bold;
			padding-right: rem-calc(100);
			line-height: 1.2;
		}
		&-subhead {
			margin-top: .5em;
		}
	}
	&__content {
		margin-top: rem-calc(180);
		padding: 0 $gutter-size;
		&-item-head {
			margin-top: rem-calc(30);
			margin-bottom: rem-calc(10);
			font-size: rem-calc(18);
			font-weight: 600;
		}
	}
}