.quick-product-info {
	$gutter-size: 2rem;
	&__modal {
		padding: 0;
		overflow-y: hidden;
		display: flex;
		flex-direction: column;
		max-height: 100vh;
	}
	&__sku {
		padding: $gutter-size;
		&-sku {
			color: $white;
			font-size: rem-calc(36);
			font-weight: bold;
		}
		&-number {
			color: $white;
			font-weight: 500;
		}
	}
	&__cta-container {
		padding: $gutter-size;
	}
	&__content {
		padding: $gutter-size;
		overflow-y: scroll;
	}
}