@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color  !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url){
@if function-exists(image-url) {
	@return image-url($url);
}

@else {
	@return url($slick-loader-path + $url);
}
}

@function slick-font-url($url){
@if function-exists(font-url) {
	@return font-url($url);
}

@else {
	@return url($slick-font-path + $url);
}
}

// .carousel {
// 	max-height: 400px; 
// }

// Show DRAG or SWIPE based on input device 
.carousel-nav {
	div.cue--mouse {
		display: none;
	}
	div.cue--touch {
		display: block;
	}
}
html[data-whatintent='mouse'], html[data-whatintent='keyboard'] {
	.carousel-nav {
		div.cue--mouse {
			display: block;
		}
		div.cue--touch {
			display: none;
		}
	}
}

.carousel-nav {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;

	justify-content: space-between;
	// > div:nth-last-child(1) {
	// 	margin-left: auto;
	// }
	align-items: center;
	margin: rem-calc(16) 0 rem-calc(16) 0;

	@include breakpoint(large) {
		margin-bottom: 2em;
	}

	.cue {
		margin-right: rem-calc(8);
		flex: 0 0 auto;
	}

	.line-right {
		flex: 2 1 auto;
		margin: 0 .5em;
		max-width: 500px;
		height: 1px;
		display: inline-block;
		background-color: transparent;

		&:after {
			content: ' ';
			display: block;
			height: 1px;
			width: 0;
			background-color: black;
			animation: grow-right 3s;
			animation-iteration-count: infinite;
		}
	}

	.slick-dots-container {
		flex: 1 1 auto;
	}

	/* Dots */

	ul.slick-dots {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		width: 100%;
	
		li {
			flex: 1 0 auto;
			height: 3px;
			min-width: 30px;
			padding: 12px 0 14px 0;
			margin: 0 .3em;
			cursor: pointer;
	
			button {
				border: 0;
				margin: 0;
				background: $rb-gray2;
				display: block;
				position: relative;
				height: 3px;
				width: 100%;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				cursor: pointer;
	
				&:hover,
				&:focus {
					outline: none;
				}
			}
	
			&.slick-active button {
				background: $rb-blue3;
			}
		}
	}
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
	}
}


// https://stackoverflow.com/a/53131996

.slick-track
{
	display: flex !important;
}
.slick-slide {
	height: inherit !important;
}

// .example-carousel {
// 	width: 100%;
// 	height: 400px;
// 	overflow: hidden;
// }

// .example-carousel > div img {
// 	width: 100%;
// 	height: 400px; // Needed for object-position: to work on Safariu
// 	object-fit: contain;  // Show the whole image
// 	object-position: center;
// }


/* Icons */
@if $slick-font-family =="slick" {
	@font-face {
		font-family: "slick";
		src: slick-font-url("slick.eot");
		src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}



/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;

	&:hover,
	&:focus {
		outline: none;
		background: transparent;
		color: transparent;

		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}

	&:before {
		font-family: $slick-font-family;
		font-size: 20px;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.slick-prev {
	left: -25px;

	[dir="rtl"] & {
		left: auto;
		right: -25px;
	}

	&:before {
		content: $slick-prev-character;

		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: -25px;

	[dir="rtl"] & {
		left: -25px;
		right: auto;
	}

	&:before {
		content: $slick-next-character;

		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}