<table id="exampleTable" class="responsive-card-table unstriped">
	<thead>
		<tr>
			<th>Unit</th>
			<th>UPC</th>
			<th>Quantity</th>
			<th>Volume (cf)</th>
			<th>Weight (lb)</th>
			<th>Length (in)</th>
			<th>Width (in)</th>
			<th>Height (in)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="Unit">Each</td>
			<td data-label="UPC">849969033618</td>
			<td data-label="Quantity">1</td>
			<td data-label="Volume (cf)">0.005</td>
			<td data-label="Weight (lb)">0.04</td>
			<td data-label="Length (in)">5.12</td>
			<td data-label="Width (in)">1.57</td>
			<td data-label="Height (in)">0.98</td>
		</tr>
		<tr>
			<td data-label="Unit">Case</td>
			<td data-label="UPC">10849969033615</td>
			<td data-label="Quantity">20</td>
			<td data-label="Volume (cf)">1.12</td>
			<td data-label="Weight (lb)">9.9225</td>
			<td data-label="Length (in)">15.16</td>
			<td data-label="Width (in)">10.83</td>
			<td data-label="Height (in)">11.81</td>
		</tr>
	</tbody>
</table>