<table id="exampleTable" class="stack">
	<thead>
		<tr>
			<th></th>
			<th>Each</th>
			<th>Case</th>
			<th>Pallet</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UPC</td>
			<td>849969033618</td>
			<td>10849969033615</td>
			<td></td>	
		</tr>
		<tr>
			<td>Quantity</td>
			<td>1</td>
			<td>200</td>
			<td></td>
		</tr>
		<tr>
			<td>Volume (cf)</td>
			<td>0.005</td>
			<td>1.12</td>
			<td></td>
		</tr>
		<tr>
			<td>Weight (lb)</td>
			<td>0.04</td>
			<td>9.9225</td>
			<td></td>
		</tr>
		<tr>
			<td>Length (in)</td>
			<td>5.12</td>
			<td>15.16</td>
			<td></td>
		</tr>
		<tr>
			<td>Width (in)</td>
			<td>1.57</td>
			<td>10.83</td>
			<td></td>
		</tr>
		<tr>
			<td>Height (in)</td>
			<td>0.98</td>
			<td>11.81</td>
			<td></td>
		</tr>
	</tbody>
</table>