<!-- Start of completion screen -->
<div class="create-account__step-complete step">

	<div class="rambridge">
		<img src="/assets/img/rambridge+ram.svg">
	</div>
	<div class="create-account__step-complete-message">
		<div><strong>Account Request Submitted!</strong></div>
		<div>We’ll get back to you soon.</div>
	</div>
	<button type="button" class="button create-account__close-button" data-close>Close</button>

</div>
<!-- End of completion screen -->