<!-- Start of step 2 -->
<div class="step" data-step="2">
	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Tax ID# & Years In Business</strong> (Fill Out Both)</legend>
			</div>
			<div class="cell small-6">
				<label for="tax-id">Federal Tax ID<span class="labeltext">Federal Tax ID #</span><input name="tax-id" type="text" id="tax-id" placeholder="Federal Tax ID #" required></label>
			</div>
			<div class="cell small-6">
				<label for="years-in-business">Years in Business<span class="labeltext">Years in Business</span><input name="years-in-business" type="number" id="years-in-business" placeholder="Years in Business" required></label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Receive Invoices by</strong> (Choose One)</legend>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="invoice-by-mail" value="Mail" type="radio" required />
				<label for="invoice-by-mail">Mail</label>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="invoice-by-email" value="Email" type="radio" required />
				<label for="invoice-by-email">Email</label>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="invoice-by-fax" value="Fax" type="radio" required />
				<label for="invoice-by-fax">Fax</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Type of Business</strong> (Choose All That Apply)</legend>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-retail-store" id="app-is-retail-store" type="checkbox" />
				<label for="app-is-retail-store">Retail Store</label>
			</div>
			<div class="cell retail-store-only">
				<div class="title">Please Provide Your Licence #</div>
				<label for="retail-licence-number">Retail Licence Number<span class="labeltext">Retail Licence #</span><input name="retail-licence-number" type="text" id="retail-licence-number" placeholder="Retail Licence # (Mandatory)" required>
</label>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-plants-nursery" id="app-is-plants-nursery" type="checkbox" />
				<label for="app-is-plants-nursery">Plants / Nursery Stock</label>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-garden-supplies" id="app-is-garden-supplies" type="checkbox" />
				<label for="app-is-garden-supplies">Garden Supplies</label>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-hardware-plumbing" id="app-is-hardware-plumbing" type="checkbox" />
				<label for="app-is-hardware-plumbing">Hardware Plumbing</label>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-feed" id="app-is-feed" type="checkbox" />
				<label for="app-is-feed">Feed</label>
			</div>
			<div class="cell">
				<input class="app-business-type" name="is-propagation-nursery" id="app-is-propagation-nursery" type="checkbox" />
				<label for="app-is-propagation-nursery">Propagation Nursery</label>
			</div>
			<div class="cell">
				<label>
					<textarea id="additional-info" name="additional-info"
						placeholder="If additional info regarding the type of business you own is required, please tell us here."></textarea>
				</label>
			</div>
		</div>
	</fieldset>
</div>
<!-- End of step 2 -->