<!-- Start of step 3 -->
<div class="step" data-step="3">

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Additional Buyer Names</strong> (Only if Applicable)</legend>
			</div>
			<div class="cell">
				<label for="additional-buyer-1">Additional Buyer 1<input name="additional-buyer-1" type="text" id="additional-buyer-1" minlength="5" placeholder="Full Name #1"></label>
			</div>
			<div class="cell">
				<label for="additional-buyer-2">Additional Buyer 2<input name="additional-buyer-2" type="text" id="additional-buyer-2" minlength="5" placeholder="Full Name #2"></label>
			</div>
			<div class="cell">
				<label for="additional-buyer-3">Additional Buyer 3<input name="additional-buyer-3" type="text" id="additional-buyer-3" minlength="5" placeholder="Full Name #3"></label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Type of Business</strong> (Choose One)</legend>
			</div>
			<div class="cell">
				<input name="app-business-structure" value="Sole Proprietorship" id="app-is-sole-proprietorship" type="radio" required />
				<label for="app-is-sole-proprietorship">Sole Proprietorship</label>
			</div>
			<div class="cell">
				<input name="app-business-structure" value="Partnership" id="app-is-partnership" type="radio" required />
				<label for="app-is-partnership">Partnership</label>
			</div>
			<div class="cell">
				<input name="app-business-structure" value="LLC" id="app-is-llc" type="radio" required />
				<label for="app-is-llc">LLC</label>
			</div>
			<div class="cell">
				<input name="app-business-structure" value="Corporation" id="app-is-corporation" type="radio" required />
				<label for="app-is-corporation">Corporation</label>
			</div>
		</div>
	</fieldset>
	
</div>
<!-- End of step 3 -->