<!-- Start of step 1 -->
<div class="step active" data-step="1">
	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Choose your account location</strong></legend>
			</div>
			<div class="cell">
				<label>Country<select name="countrychooser" id="countrychooser"><option disabled value="hint">Choose your account location</option><option selected value="Canada">Canadian / Intl. Account</option><option value="USA">American Account</option></select></label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Business Address</strong></legend>
			</div>
			<div class="cell">
				<label for="app-businessname">Business Name<input name="businessname" type="text" id="app-businessname" minlength="6" placeholder="Business Name" required></label>
			</div>
			<div class="cell">
				<label for="app-contactname">Contact Name<input name="contactname" type="text" id="app-contactname" placeholder="Contact Name" required></label>
			</div>
			<div class="cell small-8">
				<label for="app-biz-streetaddress">Street Address<input name="biz-streetaddress" type="text" id="app-biz-streetaddress" placeholder="Street Address" required></label>
			</div>
			<div class="cell small-4">
				<label for="app-biz-unitnumber">Unit Number<input name="biz-unitnumber" type="text" id="app-biz-unitnumber" placeholder="Unit Number"></label>
			</div>
			<div class="cell">
				<label for="app-biz-city">City<input name="biz-city" type="text" id="app-biz-city" placeholder="City" required></label>
			</div>
			<div class="cell small-6 canada-only">
				<label for="app-biz-province">Province<input name="biz-province" type="text" id="app-biz-province" placeholder="Province" class="canada-only" required></label>
			</div>
			<div class="cell small-6 canada-only">
				<label for="app-biz-postalcode">Postal Code<input name="biz-postalcode" type="text" id="app-biz-postalcode" placeholder="Postal Code" class="canada-only" required></label>
			</div>

			<div class="cell small-6 usa-only">
				<label for="app-biz-state">State<input name="biz-state" type="text" id="app-biz-state" placeholder="State" class="usa-only" required></label>
			</div>
			<div class="cell small-6 usa-only">
				<label for="app-biz-zipcode">Zipcode<input name="biz-zipcode" type="text" id="app-biz-zipcode" placeholder="Zipcode" class="usa-only" required></label>
			</div>

			<div class="cell small-6">
				<label for="app-phone">Phone<input name="phone" type="text" id="app-phone" placeholder="Phone" required></label>
			</div>
			<div class="cell small-6">
				<label for="fax">Fax<input name="fax" type="text" id="app-fax" placeholder="Fax"></label>
			</div>

			<div class="cell">
				<label for="app-email">Email<input name="email" type="text" id="app-email" placeholder="Email" required></label>
			</div>

			<div class="cell">
				<label for="app-website">Website<input name="website" type="text" id="app-website" placeholder="Website"></label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Delivery Address Different From Above?</strong></legend>
			</div>
			<div class="cell small-6">
				<input type="radio" id="app-has-delivery-address" name="add-delivery-address" value="has-delivery-address" id="app-has-delivery-address">
				<label for="app-has-delivery-address">Yes, it's different</label>
			</div>
			<div class="cell small-6">
				<input type="radio" id="app-no-delivery-address" name="add-delivery-address" value="no-delivery-address" id="app-no-delivery-address" checked>
				<label for="app-no-delivery-address">No, it's the same</label>
			</div>
		</div>
	</fieldset>

	<fieldset class="delivery-address">
		<div id="delivery-address" class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Delivery Address</strong></legend>
			</div>
			<div class="cell small-8">
				<label for="dlv-streetaddress">Street Address (Delivery)<input class="" name="dlv-streetaddress" type="text" id="dlv-streetaddress" placeholder="Street Address" required></label>
			</div>
			<div class="cell small-4">
				<label for="dlv-unitnumber">Unit Number (Delivery)<input class="" name="dlv-unitnumber" type="text" id="dlv-unitnumber" placeholder="Unit Number"></label>
			</div>
			<div class="cell">
				<label for="dlv-city">City (Delivery)<input class="" name="dlv-city" type="text" id="dlv-city" placeholder="City" required> </label>
			</div>
			<div class="cell small-6 canada-only">
				<label for="dlv-province">Province (Delivery)<input class="" name="dlv-province" type="text" id="dlv-province" placeholder="Province" required></label>
			</div>
			<div class="cell small-6 canada-only">
				<label for="dlv-postalcode">Postal Code (Delivery)<input class="" name="dlv-postalcode" type="text" id="dlv-postalcode" placeholder="Postal Code" required></label>
			</div>
			<div class="cell small-6 usa-only">
				<label for="dlv-state">State (Delivery)<input name="dlv-state" type="text" id="dlv-state" placeholder="State" class="" required></label>
			</div>
			<div class="cell small-6 usa-only">
				<label for="dlv-zipcode">Zipcode (Delivery)<input name="dlv-zipcode" type="text" id="dlv-zipcode" placeholder="Zipcode" class="" required></label>
			</div>
		</div>
	</fieldset>

</div>
<!-- End of step 1 -->