<!-- Start of step 6 -->
<div class="step" data-step="6">

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>One Photo Inside & Outside Your Store</strong></legend>
			</div>
			<div class="cell">
				<input class="document-upload" type="file" name="interior-photo-upload" id="interior-photo-upload" required />
				<label for="interior-photo-upload">Upload One Interior Photo</label>
			</div>
			<div class="cell">
				<input class="document-upload" type="file" name="exterior-photo-upload" id="exterior-photo-upload" required />
				<label for="exterior-photo-upload">Upload One Exterior Photo</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Copy of Your Sellers Permit</strong></legend>
			</div>
			<div class="cell">
				<input class="document-upload" type="file" name="sellers-permit-upload" id="sellers-permit-upload" />
				<label for="sellers-permit-upload">Upload Seller's Permit</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Copy of Business or Nursery License</strong></legend>
			</div>
			<div class="cell">
				<input class="document-upload" type="file" name="business-license-upload" id="business-license-upload"/>
				<label for="business-license-upload">Upload Business License</label>
			</div>
			<div class="cell">
				<input class="document-upload" type="file" name="nursery-license-upload" id="nursery-license-upload"/>
				<label for="nursery-license-upload">Upload Nursery License</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Sign Me Up For Your Newsletter</strong></legend>
			</div>
			<div class="cell small-6">
				<input name="newsletter-consent" id="newsletter-yes" type="radio" required />
				<label for="newsletter-yes">Yes</label>
			</div>
			<div class="cell small-6">
				<input name="newsletter-consent" id="newsletter-no" type="radio" required />
				<label for="newsletter-no">No</label>
			</div>
		</div>
	</fieldset>

</div>
<!-- End of step 6 -->