<!-- Start of tidy form -->

<form action="/" method="POST" name="application-form-tidy" data-netlify="true">

	<input name="Country" type="hidden">
	<input name="Business Name" type="hidden">
	<input name="Contact Name" type="hidden">
	<input name="Phone" type="hidden">
	<input name="Fax" type="hidden">
	<input name="Email" type="hidden">
	<input name="Website" type="hidden">
	<input name="Business Address" type="hidden">
	<input name="Delivery Address" type="hidden">
	<input name="Federal Tax ID" type="hidden">
	<input name="Years in Business" type="hidden">
	<input name="Invoice Method" type="hidden">

	<input name="Retail Store" type="hidden">
	<input name="Retail Licence Number" type="hidden">
	<input name="Plants / Nursery" type="hidden">
	<input name="Garden Supply" type="hidden">
	<input name="Hardware Plumbing" type="hidden">
	<input name="Feed" type="hidden">
	<input name="Propagation Nursery" type="hidden">
	<input name="Additional Info" type="hidden">

	<input name="Additional Buyer 1" type="hidden">
	<input name="Additional Buyer 2" type="hidden">
	<input name="Additional Buyer 3" type="hidden">
	<input name="Type of Business" type="hidden">

	<input name="Store with Public Access" type="hidden">

	<input name="Monday" type="hidden">
	<input name="Tuesday" type="hidden">
	<input name="Wednesday" type="hidden">
	<input name="Thursday" type="hidden">
	<input name="Friday" type="hidden">
	<input name="Saturday" type="hidden">
	<input name="Sunday" type="hidden">

	<input name="Has Forklift?" type="hidden">
	<input name="Need Liftgate?" type="hidden">

	<input name="Max Truck Size" type="hidden">
	<input name="Delivery Instructions" type="hidden">

	<input name="Interior Photo" type="file" hidden>
	<input name="Exterior Photo" type="file" hidden>
	<input name="Sellers Permit" type="file" hidden>
	<input name="Business License" type="file" hidden>
	<input name="Nursery License" type="file" hidden>

	<input name="Newsletter Opt-In" type="hidden">
</form>

<!-- End of tidy form -->