<!-- Start of form controls -->
<div class="form-controls create-account__form-controls">
	<div class="grid-x grid-margin-x">
		<div class="cell small-4">
			<button type="button" class="button expanded start" disabled>&nbsp;</button>
			<button type="button" class="button expanded arrow-bw prev">&nbsp;</button>
		</div>
		<div class="cell small-8">
			<button type="button" class="button expanded arrow-fw gold text-left next">Next</button>
			<button class="button expanded arrow-fw gold text-left submit">Send</button>
		</div>
	</div>
</div>
<!-- End of form controls -->