<div class="white client-login__modal rb-reveal" id="client-login__modal" data-v-offset data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<button class="nav__button nav__button--modal nav__button--close nav__button--gray" data-close></button>
	<div class="client-login__title">My Account Login</div>
	<div class="client-login__headline">Welcome</div>
	<p>To access the client area, please select your country below.</p>
	<div class="client-login__country-container">
		<a href="https://storecan.rambridge.com/" target="_new" >
			<div class="client-login__country">Canadian &amp;<br />International</div>
		</a>
		<a href="https://storeus.rambridge.com/" target="_new">
			<div class="client-login__country">American</div>
		</a>
	</div>
	<p>You will be redirected to another page where you will be asked to provide your credentials. If you have not already created your free account, please click the link below to get started.</p>
	<a href="#" class="cta nav__trigger--create-account">Create your free account</a>
</div>