<div class="white coming-soon__modal rb-reveal" id="coming-soon__modal" data-v-offset data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<button class="nav__button nav__button--modal nav__button--close nav__button--gray" data-close></button>
	<div class="coming-soon__title">My Account Login</div>
	<div class="coming-soon__headline">Coming Soon</div>
	<p>We’re hard at work building an amazing login site. Stay tuned!</p>
	<p class="coming-soon__phone">Call Toll Free: <a href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a></p>
	<p>Also try:</p>
	<div class="coming-soon__ctas">
		<a href="#" class="cta nav__trigger--create-account">Create your free account</a>
		<a href="#" class="cta nav__trigger--wholesale">Browse wholesale items</a>
	</div>
</div>