<div class="white information__modal rb-reveal" id="information-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<button class="nav__button nav__button--modal nav__button--close nav__button--gray" data-close></button>
	<div class="information__title">Information & Support</div>
	<div class="information__headline">We’re&nbsp;your support&nbsp;team</div>
	<p>We love questions, and love answering them! Get in touch if you can’t find what you’re looking for.</p>
	<p class="information__phone">Call Toll Free: <a href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a></p>
	<p>Also try:</p>
	<div class="information__ctas">
		<span class="cta nav__trigger--faq">Find FAQs</span>
		<!-- <a href="#" class="cta">Access Resources</a> -->
	</div>
</div>