<div class="reveal large white locator" id="locator-main-modal" data-reveal data-animation-in="fade-in"
	data-animation-out="fade-out">
	<button class="nav__button nav__button--modal nav__button--close nav__button--gray" data-close></button>
	<div class="locator__container">
		<div class="locator__intro white">
			<div class="locator__intro-title">Retail Location Finder</div>
			<div class="locator__intro-headline">Find&nbsp;Our Products Near&nbsp;You</div>
			<p>We have over 1800 trusted retailers across North America. Find the closest to you.</p>
		</div>
		<div class="map-controls">
			<div id="search-here">
				Search This Area
			</div>
		</div>
		<div id="locator-map">
			LOADING...
		</div>

		<div class="locator__store-list-container white">
			<div class="grid-x locator__store-list-expander hide-for-large">
			</div>

			<div class="grid-x locator__store-headings show-for-large">
				<div class="cell large-3">
					Name
				</div>
				<div class="cell large-1">
					Distance
				</div>
				<div class="cell large-2">
					Address
				</div>
				<div class="cell large-2">
					Phone
				</div>
				<div class="cell large-2 small-6">
				</div>
				<div class="cell large-2 small-6">
				</div>
			</div>

			<div class="locator__store-list">

				<!-- <div id="store1" class="grid-x locator__store">
					<div class="cell large-3 locator__store-name">
						1. Name of Store
					</div>
					<div class="cell large-1 locator__store-distance show-for-large">
						10km / 6mi
					</div>
					<div class="cell large-2 locator__store-address">
						Address Line 1,<br />
						City<br />
						State, Zipcode
					</div>
					<div class="cell large-2 locator__store-phone">
						(555) 555-5555
					</div>
					<div class="cell large-2 small-6 locator__store-cta">
						<a href="#" class="cta">Visit Website</a>
					</div>
					<div class="cell large-2 small-6 locator__store-cta">
						<a href="#" class="cta">Get Directions</a>
					</div>
				</div> -->

			</div>
		</div>

	</div>

	<div class="reveal large white locator-search__modal" id="locator-zipcode-modal" data-reveal
		data-animation-in="fade-in" data-animation-out="fade-out">
		<button class="nav__button nav__button--modal nav__button--close nav__button--gray" data-close></button>
		<div class="locator-search__container">

			<div class="locator__intro white">
				<div class="locator__intro-title">Retail Location Finder</div>
				<div class="locator__intro-headline">Find&nbsp;Our Products Near&nbsp;You</div>
				<p>We have over 1800 trusted retailers across North America. Find the closest to you.</p>
			</div>

			<form id="store-search" name="store-search" class="" novalidate>
				<fieldset>
					<div class="locator-search__search-form">

							<input class="locator-search__input" name="store-search-address" type="text" id="store-search-address"
								placeholder="Enter Postal Code / Zip Code" required>
							<button type="submit" class="locator-search__button locator-search__button--submit">Search This
								Area</button>
						<button type="reset" class="locator-search__button locator-search__button--cancel"
								data-close>Cancel</button>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</div>