<div class="reveal full silver privacy__modal" id="privacy-modal" data-reveal data-animation-in="fade-in"
	data-animation-out="fade-out">
	<div class="privacy__intro darkgray">
		<button class="nav__button nav__button--modal nav__button--close-white nav__button--fixed nav__button--darken"
			data-close></button>
		<div class="privacy__intro-back-link" data-close>Back To Main Menu</div>
		<div class="privacy__intro-heading">Privacy Policy</div>
		<div class="privacy__intro-subhead">How we use your data at Rambridge.</div>
	</div>
	<div class="privacy__content">
		<p class="privacy__content-item-head">PRIVACY POLICY</p>
		<p>This policy is applicable to Rambridge Wholesale Supply (“Rambridge”), and sets out policy on the gathering and
			use of information on this site and our other sites (collectively "Sites"). Rambridge is committed to providing
			safe web sites for visitors of all ages and has implemented this Privacy Policy to demonstrate our firm commitment
			to your privacy. The Company complies with Canadian Federal and Provincial privacy laws and regulations including
			the Personal Information and Electronic Documents Act.</p>
		<p>Please read this policy carefully and contact us if you have any questions.</p>
		<p><strong>LAST UPDATE OF THIS PRIVACY POLICY – November 7, 2019</strong></p>
		<p class="privacy__content-item-head">BEFORE USING OUR SITES, PLEASE READ THIS PRIVACY POLICY CAREFULLY</p>
		<p>This Privacy Policy is applicable to Rambridge Wholesale Supply (“Rambridge") and sets out our policy on the
			gathering and use of information on this site and our other sites (collectively "Sites"). The Company is committed
			to providing safe web sites for visitors of all ages and has implemented this Privacy Policy to demonstrate our
			firm commitment to your privacy. The Company complies with Canadian Federal and Provincial privacy laws and
			regulations including the Personal Information and Electronic Documents Act.</p>
		<p>There may be links from our Sites to other web sites; note that this Privacy Policy applies only to our Sites and
			not to web sites of other companies or organizations to which our Sites may be linked. You must check on any
			linked sites for the privacy policy that applies to that site and/or make any necessary inquiries in respect of
			that privacy policy with the operator of the linked site. These links to third party websites are provided as a
			convenience and are for informational purposes only. The Company does not endorse, and is not responsible for,
			these linked websites.</p>
		<p>Although you are not required to register to access our Sites, you may be asked to provide us with personal
			information when you visit certain sections of our Sites. Your use of our Sites signifies your acknowledgement and
			consent to our Privacy Policy. If you do not agree to this Privacy Policy, please do not continue to use our
			Sites. Your continued use of the Sites signifies your acceptance of these terms and any changes in effect at the
			time of use.</p>
		<p class="privacy__content-item-head">COLLECTION OF PERSONAL INFORMATION</p>
		<p>Personal Information is information about you that identifies you as an individual, for example, your name,
			address, e-mail address, or telephone number.</p>
		<p>We collect information that you voluntarily provide to us through responses to surveys, search functions,
			questionnaires, feedback, etc. On some of our Sites, we offer facility assessment tools that ask you to provide
			self-assessment information. We may also ask you to provide additional information such as your e-mail address if
			you want to obtain additional services, information, participate in a contest or to resolve complaints or
			concerns.</p>
		<p class="privacy__content-item-head">HOW DOES COMPANY USE INFORMATION GATHERED ABOUT ONLINE VISITORS?</p>
		<p>Before forwarding us any personal information, please be advised that any information gathered on our Sites may
			be used in the aggregate for research and development relating to our Sites and/or for future site development
			and, if you ask us to, to send you promotional materials. In particular, we may use information gathered about you
			for the following purposes: to monitor interest in our range of products and to assist us to tailor the content of
			our Sites to your needs by collecting information about your preferences through tracking of patterns page views
			on our Sites; to create a profile relating to you in order to show you the content that might be of interest to
			you and to display the content according to your preferences; and, in circumstances where you have indicated that
			you wish to receive additional information, to send you information about us and promotional material about our
			products together with details of any offers we may have available from time to time.</p>
		<p class="privacy__content-item-head">PROMOTIONAL AND INFORMATIONAL OFFERS</p>
		<p>With the permission of an online visitor, information submitted at the time of registration or submission may be
			used for marketing and promotional purposes by the Company provided notice of this fact is made available online.
			If a visitor objects to such use for any reason, he/she may prevent that use, either by e-mail request or by
			modifying the registration information provided. The Company uses reasonable efforts to maintain visitors'
			information in a secure environment. If you have submitted personal information and want to change it or opt-out,
			please contact us as described below.</p>
		<p class="privacy__content-item-head">DISCLOSURE OF INFORMATION</p>
		<p>The Company will not disclose personal information that you provide on its Sites to any third parties other than
			to a Company agent except: i) in accordance with the terms of this Privacy Policy, or ii) to comply with legal
			requirements such as a law, regulation, warrant, subpoena or court order, and/or iii) if you are reporting an
			adverse event/side effect, in which case the Company may be required to disclose such information to bodies such
			as, but not limited to, Canadian and/or international regulatory authorities. Please note that any of these
			disclosures may involve the storage or processing of personal information outside of Canada and may therefore be
			subject to different privacy laws than those applicable in Canada, including laws that require the disclosure of
			personal information to governmental authorities under circumstances that are different than those that apply in
			Canada.</p>
		<p class="privacy__content-item-head">COOKIES</p>
		<p>The Company, in common with many web site operators, may use standard technology called "cookies" on its Sites.
			Cookies are small data files that are downloaded onto your computer when you visit a particular web site. You can
			disable cookies by turning them off in your browser; however, some areas of the Sites may not function properly if
			you do so.</p>

		<p class="privacy__content-item-head">PROTECTION OF CHILDREN ONLINE</p>
		<p>The Company considers the protection of children's privacy, especially online, to be of the utmost importance. We
			do not knowingly collect or solicit personal information from children nor do we allow them to become registered
			users of, or to request information through, our Sites or help-seeking information lines.</p>

		<p class="privacy__content-item-head">ADDITIONAL TERMS FOR CERTAIN WEBSITES</p>
		<p>The following additional information applies to our Sites that require registration. Generally, you are not
			required to provide personal information as a condition of using our Sites, except as may be necessary to provide
			you with a product or service that you have requested. However, some of our Sites are restricted to certain
			individuals such as health care professionals or our prescription drug patients and we may require these
			individuals to register upon entry by providing us with certain information.</p>
		<p class="privacy__content-item-head">PROTECTION OF INFORMATION:</p>
		<p><strong>Commitment to Security</strong></p>
		<p>We have put in place physical, electronic, and managerial procedures to safeguard and help prevent unauthorized
			access, maintain data security, and correctly use the information we collect online. The Company applies security
			safeguards appropriate to the sensitivity of the information, such as retaining information in secure facilities
			and making personal information accessible only to authorized employees on a need-to-know basis.</p>
		<p><strong>Types of Information Collected</strong></p>
		<p>We collect personal information that you provide to us through our Sites; for example, when you request
			information about or purchase a product or service through one of our websites or mobile applications; create
			accounts on our websites or mobile applications; subscribe for email reminders and content; request text alerts
			and mobile phone notifications; activate or use an internet enabled product or service; submit an online entry in
			one of our sweepstakes or contests; submit rebates or coupons online; take an online survey; or submit information
			through any other interactive features of our websites, mobile applications, internet enabled products and
			services, or social media profiles. Such information can include, for example, your:</p>
		<ul>
			<li>E-mail address </li>
			<li>Postal address</li>
			<li>Telephone number</li>
			<li>Username and password</li>
			<li>Social media information (e.g., ID, profile picture, gender, age range, friends’ IDs)</li>
			<li>Payment account or card number</li>
			<li>Purchase, return, and exchange information</li>
			<li>Demographic information about you and your household, such as gender or product use preferences, and behaviors
			</li>
			<li>Future communication preferences</li>
			<li>Contact information for others that you may wish for us to share content and other information with (e.g.,
				links to articles, videos, and other content)</li>
			<li>Job applicant information when applying for a job through one of our websites, including, but not limited to,
				work experience, educational background, position sought and the information contained in your resume</li>
		</ul>

		<p>If you choose not to provide certain personal information, we may not be able to provide you with the products,
			services, or information requested.</p>

		<p><strong>Information Automatically Collected</strong></p>
		<p>Each time you access or use our Online Services, we generate and collect certain information by automated methods
			and technologies, see the section below entitled "Technologies Used". Such information can include, for example:
		</p>
		<ul>
			<li>Browser characteristics</li>
			<li> Service provider IP address</li>
			<li>Search engine used to locate our website</li>
			<li> Search terms</li>
			<li>Unique device identifiers</li>
			<li>Device characteristics</li>
			<li>Location information based on GPS, Wi-Fi, or other means</li>
			<li>Operating system</li>
			<li>Language preferences</li>
			<li>Referring URLs</li>
			<li>Actions executed and visited content</li>
			<li>Error codes and product system logs</li>
			<li>Dates and times of use and access</li>
			<li>Application performance</li>
		</ul>
		<p><strong>Storage of Information</strong></p>
		<p>Personal information you share with us is stored on our database servers at Company data centers (in whatever
			country they may be located), or hosted by third parties who have entered into agreements with us that require
			them to observe our Privacy Policy.</p>
		<p><strong>Information Use and Transfer</strong></p>
		<p>We use reasonable security measures that are designed to help protect personal information that we collect from
			you through our Online Services from reasonably anticipated threats of unauthorized disclosure. While we use
			reasonable security measures that are designed to help protect your personal information from reasonably
			anticipated threats of unauthorized disclosure, the Internet is not 100% secure and we cannot and do not promise
			that your use of our Online Services or the personal information that we collect from you through our Online
			Services will be safe or secure. We encourage you to use caution when using the Internet.</p>

		<p class="privacy__content-item-head">POLICY CHANGE</p>
		<p>If we alter our Privacy Policy, any changes will be posted on this page of our Site so that you are always
			informed of the information we collect about you, how we use it and the circumstances under which we may disclose
			it.</p>

		<p class="privacy__content-item-head">ACCEPTANCE OF OUR PRIVACY POLICY</p>
		<p>By using this Site or any other The Company Site or interactive banner ads, you signify your acceptance of our
			Privacy Policy, and you adhere to the terms and conditions posted on the Site. By submitting your information, you
			agree that it will be governed by our Privacy Policy.
		</p>

		<p class="privacy__content-item-head">CONTACT INFORMATION</p>

		<p>If you have questions concerning this policy, you may contact us by email at info@rambridge.com by phone at
			1-800-265-4769, or by mail at:</p>
			<p>Rambridge Wholesale Supply<br>
			#150 – 7880 66 Street SE<br>
			Calgary, AB<br>
			T2C 5V2<br>
		</p>
	</div>
</div>