{{#each carouselFancy.items}}
{{#ifequal this.fields.id 'latest-products'}}
	{{#each this.fields.items}}

	<div class="reveal quick-product-info__modal medium silver" id="{{{productID this.fields.productName }}}" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
			<button class="nav__button nav__button--modal nav__button--close nav__button--darken" data-close></button>
			<div class="quick-product-info__sku gold text-center">
				<div class="quick-product-info__sku-sku">SKU</div>
				<div class="quick-product-info__sku-number">{{{ this.fields.sku }}}</div>
			</div>
			<div class="quick-product-info__cta-container gray">
				<p class="quick-product-info__product-name">{{{formatbrand this.fields.productName }}}</p>
				<a href="{{{ this.fields.link.fields.slug}}}.html" class="quick-product-info__cta cta">Read all about this</a>
			</div>
			<div class="quick-product-info__content silver">
				<p><strong>Overview</strong></p>
				<p class="quick-product-info__description">
					{{{markdown this.fields.overview }}}
				</p>
			</div>
		</div>
	{{/each}}
{{/ifequal}}
{{/each}}