<div class="reveal full silver ts-and-cs__modal" id="terms-and-conditions-modal" data-reveal data-animation-in="fade-in"
	data-animation-out="fade-out">
	<div class="ts-and-cs__intro darkgray">
		<button class="nav__button nav__button--modal nav__button--close-white nav__button--fixed nav__button--darken" data-close></button>
		<div class="ts-and-cs__intro-back-link" data-close>Back To Main Menu</div>
		<div class="ts-and-cs__intro-heading">Terms &amp; Conditions</div>
		<div class="ts-and-cs__intro-subhead">Just so we're all on the same page.</div>
	</div>

	<div class="ts-and-cs__content">
		<p class="ts-and-cs__content-item-head">Terms and Conditions</p>
		<p>Net 30 days from date of invoice on approval of credit, otherwise orders must be prepaid prior to shipping.
			Customers will be advised immediately when an order exceeds their credit limit so they can rectify the situation
			and the order can be shipped expediently.</p>

		<p class="ts-and-cs__content-item-head">Product Returns</p>
		<p>All returns must be authorized by Rambridge prior to shipping any return to our warehouse. Items returned to
			Rambridge without authorization and/or freight collect will be refused. All returns must be shipped freight
			prepaid. Items subject to freezing damage must be returned by heated carrier. Any replacement product will have
			freight prepaid back to your door.</p>

		<p class="ts-and-cs__content-item-head">Non-Defective Returns</p>
		<p>Returned non-defective goods will only be accepted within 30 days from the date of purchase and must be in
			original packaging and in clean, resaleable condition. All non-defective returns will be subject to a 15%
			restocking charge unless otherwise authorized.</p>

		<p class="ts-and-cs__content-item-head">Warranty Returns</p>
		<p>Warranty returns must be accompanied by the original end user bill of sale, a clear explanation of why the
			product is being returned under warranty and a brief description of any inspection and evaluation performed
			prior to its return. Acceptance of a warranty return does not constitute acknowledgement of warranty given.
			Credit or replacement will only be authorized after warranty confirmation by the manufacturer or supplier. We
			reserve the right to issue credit or product, in lieu of credit. All returns should be pre-authorized and
			freight prepaid.</p>

		<p class="ts-and-cs__content-item-head">Freight Claims</p>
		<p>All orders are shipped F.O.B. our warehouse unless otherwise authorized. If you have a preferred carrier please
			inform us, otherwise we will ship with the best available carrier for the product being shipped. Heated service
			is required in the winter for some products. All shipments will be insured unless we are otherwise advised.</p>

		<p class="ts-and-cs__content-item-head">Carrier Responsibility</p>
		<p>The carrier is responsible for the safe delivery of the goods and any claims for damage or shortages should be
			made with the carrier.</p>

		<p class="ts-and-cs__content-item-head">Shipment Inspection</p>
		<p>Inspect each shipment as soon as it arrives while the carrier is still present. Any damage must be reported at
			the time of receipt to the carrier and Rambridge. Damage should be documented with photos if possible.</p>

		<p class="ts-and-cs__content-item-head">Warranty and Liability Limitations</p>
		<p>Rambridge Wholesale Supply makes no warranties, expressed or implied, including without limitation the implied
			warranties of merchantability and fitness for a particular purpose and in no event will be liable for any
			consequential, incidental or indirect damages arising out of the use or inability to use a product. All
			warranties shall be the warranties of the manufacturer or supplier and shall be limited to either the purchase
			price or product replacement with the same or equivalent product at the sole discretion of Rambridge.</p>

	</div>
</div>