---
title: Cannabis Applications at Rambridge Wholesale Supply
---

<div class="grid-x">
	<div class="cell">
		{{> cannabis-hero }}	
	</div>
	<div class="cell">
		{{> why-trust-us }}	
	</div>
	<div class="cell xlarge-6">
		{{> book-your-consultation }}	
	</div>
	<div class="cell xlarge-6">
		{{> latest-products }}
	</div>
	<div class="cell xlarge-6 xlarge-order-2">
		{{> commercial-vs-craft }}
	</div>
	<div class="cell xlarge-6 xlarge-order-1">
		{{> intake-forms }}
	</div>
	<div class="cell xlarge-order-3">
		{{> consultation-form }}
	</div>
</div>
{{> footer }}