---
title: Carousel Test
---


<style>
    .container {
        width: 100%;
        padding: 200px;
    }

    .test-carousel {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    
    .slick-track
    {
        display: flex !important;
    }
    .slick-slide {
        height: inherit !important;
    }
    .test-carousel > div img {
        width: 100%;
        height: 400px; 
        object-fit: cover;
        object-position: center;
    }

</style>


<div class="container">
    <div class="test-carousel">
        <div><img src="//placekitten.com/200/300"></div>
        <div><img src="//via.placeholder.com/300x200.png/0000FF/808080"></div>
        <div><img src="//placekitten.com/300/300"></div>
        <div><img src="//placekitten.com/400/200"></div>
        <div><img src="//via.placeholder.com/300x600.png/FF00FF/808080"></div>
        <div><img src="//via.placeholder.com/600x150.png/00FFFF/808080"></div>
        <div><img src="//placekitten.com/200/500"></div>
        <div><img src="//placekitten.com/200/400"></div>
    </div>
</div>