---
title: Welcome to Rambridge Wholesale Supply and Netled North America
---

<section id="site-select" class="site-select">

	<div class="site-select__card site-select__card--rambridge site-select__card--dark nav__link--home">
		<div class="site-select__card-contents">
			<div class="site-select__card-contents-inner"> 
				<h1>Wholesale&nbsp;Gardening<br />Products</h1>
				<div class="site-select__logo site-select__logo--rambridge"></div>
				<span class="site-select__button site-select__button--dark">Visit Now</span>
			</div>
		</div>
	</div>

	<div class="site-select__card site-select__card--netled nav__link--cea-home">
		<video autoplay loop muted playsinline poster="/assets/img/netled-site-bg.jpg">
			<source src="/assets/video/netled.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<div class="site-select__card-contents">
			<div class="site-select__card-contents-inner">
				<h1>Controlled&nbsp;Environment<br />Agriculture</h1>
				<span class="site-select__button">Visit Now</span>
			</div>
		</div>
	</div>

</section>
