<section id="about-us" class="about-us skyblue">

	<h1 class="about-us__headline" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">Meet&nbsp;our roots
	</h1>
	<div class="about-us__subhead" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200">
		Helping&nbsp;you&nbsp;build a better future with innovative growth&nbsp;products.</div>
	<div>
		<a class="about-us__cta cta nav__trigger--create-account" href="#" data-aos="fade-right" data-aos-delay="2500">Sign Up Now</a>
	</div>
	<div class="about-us__scroll-cue" data-aos="fade-up" data-aos-delay="2500">
		<p>Scroll</p>
		<img src="/assets/img/disc.svg" alt="Scroll Down">
		<div class="line-down"></div>
	</div>

</section>