<section id="always-growing" class="always-growing gold">
	<h2 class="" data-aos-duration="1000" data-aos-delay="200" data-aos="fade-up">We're always growing</h2>
	<div class="always-growing__subhead">
		<p data-aos-duration="1000" data-aos-delay="400" data-aos="fade-up">Need it? We have it, and more.</p>
		<p data-aos-duration="1000" data-aos-delay="500" data-aos="fade-up"> We’re committed to setting the standard for commercial growing products, which is why our catalog is always growing!</p>
	</div>
	<div>
		<span class="cta nav__trigger--create-account">Access with your free account</span>
	</div>
</section>