<section class="book-your-consultation">
	<h2 class="book-your-consultation__heading">
		Book&nbsp;your consultation with&nbsp;ease!
	</h2>
	<h3 class="book-your-consultation__subhead">
		We’re here to help!
	</h3>
	<div class="book-your-consultation__accordion">
		<ul class="accordion" data-accordion>
			<li class="accordion-item is-active" data-accordion-item>
				<a href="#" class="accordion-title">Let’s get to know you</a>
				<div class="accordion-content" data-tab-content>
					First, we’ll ask you to fill out our intake form. Be as detailed as possible so we can provide you with the tailored help you need.
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">We’ll make it official</a>
				<div class="accordion-content" data-tab-content>
					Once you fire off your form, a member of our team will reach out to book a time that fits well for your schedule.
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Let’s talk!</a>
				<div class="accordion-content" data-tab-content>
					At the time of the call, one of our experts will walk you through a personalized consultation session and
					answer all your questions along the way.
				</div>
			</li>
		</ul>
	</div>

	<div class="book-your-consultation__cta">
		<span class="cta alt nav__trigger--consultation-form">Book Now</span>
	</div>
</section>