<section id="call-us" class="call-us silver">

	<div class="call-us__container">
		<div class="call-us__outline"></div>
		<a href="tel:1-800-265-4769">
			<img class="call-us__icon" src="/assets/img/cellphone.svg">
		</a>
		<h3 class="call-us__heading">Not sure where to start?</h3>
		<p>Call&nbsp;us and we’ll get you sorted&nbsp;out.</p>
	</div>
	<a href="tel:1-800-265-4769">
		<button class="call-us__button rectangle gold wide">
			Toll Free Number: 1&#8209;800&#8209;265&#8209;4769
		</button>
	</a>
</section>