<section class="cannabis-hero">
	<div class="cannabis-hero__prehead hide-for-menuSwitch">Learn from our expertise</div>
	<h1 class="cannabis-hero__heading">Cannabis applications</h1>
	<h3 class="cannabis-hero__subhead">Don’t go it alone. Kick off your cannabis project the right way.</h3>
	<div class="cannabis-hero__cta">
		<span class="cta nav__trigger--consultation-form">Apply Now</span>
	</div>
	<div class="hero__scroll-cue">
			<p>Scroll</p>
			<img src="/assets/img/disc.svg" alt="Scroll Down">
			<div class="line-down"></div>
		</div>
</section>	