<section class="cea-netled-partnership">

    <div class="grid-x">
        <div class="cell xlarge-6">
            <div class="cea-netled-partnership__image-container cea-netled-partnership__image-container--pri">
                <div class="cea-netled-partnership__image cea-netled-partnership__image--pri"></div>
            </div>
        </div>

        <div class="cell xlarge-6">
            <div class="cea-netled-partnership__text">
                <p>
                    In 2020 we began our partnership with Netled Oy to bring vertical farming solutions to North
                    America.
                    Netled has a 40+ year history in bringing sustainable growing solutions to clients around the world.
                </p>
                <p>
                    With Netled&apos;s vertical farming technologies and Rambridge&apos;s technical experience and
                    complimentary consumables catalog we strive to bring complete solutions to clients across North
                    America.
                </p>
            </div>
            <div class="cea-netled-partnership__image-container cea-netled-partnership__image-container--sec">
                <div class="cea-netled-partnership__image cea-netled-partnership__image--sec"></div>
            </div>
        </div>
    </div>
    <div class="cea-netled-partnership__logo"></div>
</section>

<section class="cea-netled-partnership-team">
    <div class="cea-netled-partnership-team__headline">
        As Netled North America, let our team help you build your full solution!
    </div>
    <div class="cea-netled-partnership-team__subhead">
        We can help you design, build, implement, warranty, and continually support your grow.
    </div>
</section>