<section id="cea-carousel" class="white cea-carousel">
	<div class="cea-carousel__carousel carousel" id="cea-carousel">
		{{#each imageCarousel.items}}
			{{#ifequal this.fields.id 'cea-photos'}}
				{{#each this.fields.image}}
					<img src="{{ this.fields.file.url }}">
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>
	<div class="carousel-nav hide-for-menuSwitch">
		<div class="cue cue--touch">Swipe</div>
		<div class="cue cue--mouse">Drag</div>
		<div class="slick-dots-container"></div>
	</div>
</section>