<section class="cea-hero" id="cea-hero">
	<h1 class="cea-hero__headline" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">Vertical Farming Made Easy</h1>
	<div class="cea-hero__subhead" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200">
		Take&nbsp;your crops to a whole new level,&nbsp;literally!</div>
	<div class="cea-hero__cta">
		<a class="cta" href="/cea/why-we-dig-it.html" data-aos="fade-right" data-aos-delay="2000">Learn More About Vertical Farming</a>
		<a class="cta" href="#cea-capabilities" data-aos="fade-right" data-aos-delay="2500">How We Can Help Grow Your CEA</a>
	</div>
	<div class="cea-hero__scroll-cue" data-aos="fade-up" data-aos-delay="2500">
		<p>Scroll</p>
		<img src="/assets/img/disc.svg" alt="Scroll Down">
		<div class="line-down"></div>
	</div>
</section>