<section class="cea-intro white">
    <div class="grid-x">
        <div class="cell large-6">
            <div class="cea-intro__content">
                <div class="cea-intro__heading">Vertical Farming &amp;&nbsp;CEA</div>
                <div class="cea-intro__subhead">Why we dig it?</div>
                <img class="cea-intro__image hide-for-large" src="/assets/img/netled-intro.jpg">
                <div class="cea-intro__bodytext">
                    Controlled Environment Agriculture is a technology-based approach towards food production that
                    includes both indoor agriculture and vertical farming. By growing crops indoors, production can
                    occur all year round using optimized growing conditions.
                </div>
                <div class="cea-intro__cta">
                    <a href="/cea/why-we-dig-it.html" class="cta">Read More</a>
                </div>
            </div>
        </div>
        <div class="cell large-6">
            <div class="cea-intro__image show-for-large"></div>
        </div>
    </div>
</section>