<section id="cea-capabilities" class="cea-capabilities white">
    <div class="cea-capabilities__subhead">What We Can Do For You</div>
    <div class="cea-capabilities__heading">CEA Applied Capabilities</div>
    <div class="cea-capabilities__container">

        <div class="cea-capabilities__item" data-capability="technology">
            <div class="cea-capabilities__image"></div>
            <div class="cea-capabilities__title">Technology</div>
            <div class="cea-capabilities__cta">
                <a href="/cea/netled-system.html#netled-technology" class="cta">Learn More</a>
            </div>
        </div>
        <div class="cea-capabilities__item" data-capability="horticulture">
            <div class="cea-capabilities__image"></div>
            <div class="cea-capabilities__title">Horticulture</div>
            <div class="cea-capabilities__cta">
                <a href="/cea/netled-system.html#netled-system-performance" class="cta">Learn More</a>
            </div>
        </div>
        <div class="cea-capabilities__item" data-capability="facility">
            <div class="cea-capabilities__image"></div>
            <div class="cea-capabilities__title">Facility</div>
            <div class="cea-capabilities__cta">
                <a href="/cea/netled-system.html#netled-why-vera" class="cta">Learn More</a>
            </div>
        </div>
        <div class="cea-capabilities__item" data-capability="vera">
            <div class="cea-capabilities__image"></div>
            <div class="cea-capabilities__title">Vera<sup>&reg;</sup></div>
            <div class="cea-capabilities__cta">
                <a href="/cea/netled-system.html#netled-vera-range" class="cta">Learn More</a>
            </div>
        </div>
        <div class="cea-capabilities__item" data-capability="consumables">
            <div class="cea-capabilities__image"></div>
            <div class="cea-capabilities__title">Consumables</div>
            <div class="cea-capabilities__cta">
                <a href="#" class="cta nav__trigger--wholesale">Learn More</a>
            </div>
        </div>
    </div>
</section>