<section class="cea-latestnews white">
	<div class="cea-latestnews__subhead">Stay in the know with our</div>
	<div class="cea-latestnews__heading">Latest News</div>
	<div class="cea-latestnews__grid-container">
		<div class="cea-latestnews__grid grid-x grid-margin-x">
			<div class="cea-latestnews__item cell large-4">
				<div class="cea-latestnews__image">
					<img src="{{ ceaNews.items.[0].fields.image.fields.file.url }}">
				</div>
				<div class="cea-latestnews__title">
					{{ ceaNews.items.[0].fields.title }}
				</div>
				<div class="cea-latestnews__intro">
					{{ ceaNews.items.[0].fields.introText }}
				</div>
				<div class="cea-latestnews__cta">
					<a href="{{ ceaNews.items.[0].fields.link }}" target="_blank" rel="noopener noreferrer" class="cta">Read the Full Story</a>
				</div>
			</div>
			<div class="cea-latestnews__item cell large-4">
				<div class="cea-latestnews__image">
					<img src="{{ ceaNews.items.[1].fields.image.fields.file.url }}">
				</div>
				<div class="cea-latestnews__title">
					{{ ceaNews.items.[1].fields.title }}
				</div>
				<div class="cea-latestnews__intro">
					{{ ceaNews.items.[1].fields.introText }}
				</div>
				<div class="cea-latestnews__cta">
					<a href="{{ ceaNews.items.[1].fields.link }}" target="_blank" rel="noopener noreferrer" class="cta">Read the Full Story</a>
				</div>
			</div>
			<div class="cea-latestnews__item cell large-4">
				<div class="cea-latestnews__image">
					<img src="{{ ceaNews.items.[2].fields.image.fields.file.url }}">
				</div>
				<div class="cea-latestnews__title">
					{{ ceaNews.items.[2].fields.title }}
				</div>
				<div class="cea-latestnews__intro">
					{{ ceaNews.items.[2].fields.introText }}
				</div>
				<div class="cea-latestnews__cta">
					<a href="{{ ceaNews.items.[2].fields.link }}" target="_blank" rel="noopener noreferrer" class="cta">Read the Full Story</a>
				</div>
			</div>
		</div>
	</div>
</section>