<section class="cea-consumables">
	<h2 class="cea-consumables__heading">
		Get&nbsp;the goods!
	</h2>
	<div class="cea-consumables__content">
		Learn about more products we carry to help your&nbsp;grow.
	</div>
	<div class="cea-consumables__lower">
		<div class="cea-consumables__cta">
			<span class="cta nav__trigger--wholesale">All Consumables</span>
		</div>
		<div class="cea-consumables__icon nav__link nav__trigger--wholesale"></div>
	</div>
</section>