<section id="cea-intake" class="cea-intake">
	<div class="cea-intake__prehead">
		Interested in Vertical Farming &amp; CEA?
	</div>
	<div class="cea-intake__headline">
		Kickstart your growth
	</div>
	<div class="cea-intake__form-cue">
		*Mandatory Fields
	</div>
	<div class="cea-intake__form-title">
		Entry Information
	</div>
	<div class="cea-intake__form">
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
		<script>
			hbspt.forms.create({
				region: "na1",
				portalId: "6650165",
				formId: "0473fb15-2660-415e-924b-61a5c1bcb0c4"
			});
		</script>
	</div>
</section>