<section class="cea-allnews">
    <div class="cea-allnews__back-link nav__trigger--back">Back</div>
	<div class="cea-allnews__subhead">Stay in the know with our</div>
	<div class="cea-allnews__heading">Latest News</div>

    {{#each ceaNews.items }}

        <div class="cea-allnews__item">
            <div class="cea-allnews__image">
                <img src="{{ this.fields.image.fields.file.url }}">
            </div>
            <div class="cea-allnews__text">
                <div class="cea-allnews__title">
                    {{ this.fields.title }}
                </div>
                <div class="cea-allnews__intro">
                    {{ this.fields.introText }}
                </div>
                <div class="cea-allnews__cta">
                    <a href="{{ this.fields.link }}" target="_blank" rel="noopener noreferrer" class="cta">Read the Full Story</a>
                </div>
            </div>
        </div>

    {{/each}}

</section>