<section class="find-out-more find-out-more--cea" id="find-out-more-cea">
	<div class="find-out-more__heading">Let&apos;s become friends</div>
	<p class="find-out-more__content">We&apos;re always happy to share more info about our products and services.</p>
	<div class="find-out-more__cta nav__trigger--contact">
		<a href="#" class="cta">Get In Touch</a>
	</div>
	<div class="find-out-more__call-us">
		<strong>Call&nbsp;Us&nbsp;Toll&nbsp;Free:</strong>
		<a href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a>
	</div>
</section>