<section class="commercial-vs-craft">
	<h2 class="commercial-vs-craft__heading">
		Is&nbsp;this for&nbsp;me?
	</h2>
	<h3 class="commercial-vs-craft__subhead">
		Let’s clear it up for you.
	</h3>
	<div class="commercial-vs-craft__accordion">
		<ul class="accordion" data-accordion>
			<li class="accordion-item is-active" data-accordion-item>
				<a href="#" class="accordion-title">Commercial growers</a>
				<div class="accordion-content" data-tab-content>
					Whether you’ve been in the game for a while or just getting started, we’ll walk you through your next steps.
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a href="#" class="accordion-title">Craft growers</a>
				<div class="accordion-content" data-tab-content>
					Need more personal and catered guidance for your artisanal growth? No problem. Our team understands the needs of small-scale growers and can help you go from seed to harvest.
				</div>
			</li>
		</ul>
	</div>


</section>