<section class="consultation silver" id="consultation-form">
	<div class="consultation__main">

		<h3 class="h4">Apply for your personalized consultation</h3>

		<form action="/" method="POST" id="consultation-form" name="consultation-form" class="consultation__form" novalidate data-netlify="true">

			{{> consultation-step-1 }}
			{{> consultation-step-2 }}
			{{> consultation-step-3 }}
			{{> consultation-step-4 }}
			{{> consultation-step-5 }}
			{{> consultation-step-6 }}
			{{> consultation-complete }}
			{{> form-controls }}
			{{> consultation-form-tidy }}

		</form>
	</div>
</section>