<section id="feature-products" class="white feature-products">
	<h2 class="feature-products__heading h4">Our feature products</h2>

	<div class="feature-products__carousel carousel" id="feature-carousel">
		{{#each carouselSimple.items}}
			{{#ifequal this.fields.id 'homepage-feature'}}
				{{#each this.fields.items}}
					<img src="{{ this.fields.image.fields.file.url }}" alt="{{ this.fields.image.fields.description }}">
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>
	<div class="carousel-nav">
		<div class="cue cue--touch">Swipe</div>
		<div class="cue cue--mouse">Drag</div>
		<div class="line-right"></div>
		<div class="slick-dots-container"></div>
	</div>
	<div class="feature-products__products">
		{{#each carouselSimple.items}}
			{{#ifequal this.fields.id 'homepage-feature'}}
				{{#each this.fields.items}}
					<a href="{{{ this.fields.link.fields.slug}}}.html" class="feature-products__product-link cta">
						{{{formatbrand this.fields.productName}}}
					</a>
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>
</section>