<section class="clay find-a-retailer" id="find-a-retailer">

	<div class="h5 find-a-retailer__prehead">Visit your nearest retailer&nbsp;and</div>
	<div class="h2 find-a-retailer__headline">Get&nbsp;the goods!</div>

	<div class="find-a-retailer__subhead-container">
		<div class="find-a-retailer__subhead">We work
			closely with our retailers to bring you attentive, quality services and help you expand your grow to the next
			level.
		</div>

		<div class="find-a-retailer__cta nav__trigger--locator">
			<div class="cta">Find a store now</div>
			<img class="cta-icon" src="/assets/img/map-pin.svg">
		</div>
	</div>
</section>