<section class="hero" id="hero">
	<h1 class="hero__headline" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">Build&nbsp;your
		own&nbsp;grow</h1>
	<div class="hero__subhead" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200">
		Your&nbsp;people&#8209;focused partner for all growing&nbsp;needs.</div>
	<div class="hero__cta">
		<a class="cta" href="/about.html" data-aos="fade-right" data-aos-delay="2000">Learn More</a>
		<a class="cta nav__trigger--create-account" data-aos="fade-right" data-aos-delay="2500">Sign Up Now</a>
	</div>
	<!-- <div class="hero__cta">
		<a style="background: yellow" class="cta" href="{{ snippets.homepageCtaLink }}" data-aos="fade-right" data-aos-delay="3000">{{ snippets.homepageCtaText }}</a>
	</div> -->
	<div class="hero__scroll-cue" data-aos="fade-up" data-aos-delay="2500">
		<p>Scroll</p>
		<img src="/assets/img/disc.svg" alt="Scroll Down">
		<div class="line-down"></div>
	</div>
</section>