<section class="intake-form green">
	<div class="intake-form__container">
		<h3 class="intake-form__heading">Lighting&nbsp;Request Intake&nbsp;Form</h3>
		<div class="intake-form__description">Start your personalized lighting layout&nbsp;today!</div>
		<div class="intake-form__link">
			<a href="https://assets.ctfassets.net/09thoqeer93l/5Y7JOjvZJ6q6SfuuFFzoSq/ab87d49dd2e96ee8bdcf62039683f997/2019_Rambridge_Light_Request_Form.pdf" class="download alt" target="_blank">Download Form Now</a>
		</div>
	</div>

	<div class="intake-form__container">
		<h3 class="intake-form__heading">HVAC&nbsp;Facilities Intake&nbsp;Form</h3>
		<div class="intake-form__description">Let the experts from Anden help you to maximize your grow room’s&nbsp;HVAC.</div>
		<div class="intake-form__link">
			<a href="https://assets.ctfassets.net/09thoqeer93l/Zjl6jSENrw6TZepqonX7R/258b2dd63dd9614db060d919a7cdefea/Anden_Sizing_Request_Form.pdf" class="download alt" target="_blank">Download Form Now</a>
		</div>
	</div>

	<div class="intake-form__container">
		<h3 class="intake-form__heading">Compost Technical Quote</h3>
		<div class="intake-form__description">Break down, denature or valorize waste from commercial productions.</div>
		<div class="intake-form__link">
			<a href="https://www.bromecompost.com/en/rambridge/?ref=rws4769" class="cta alt" target="_blank">Get Quote Now</a>
		</div>
	</div>
	
</section>