<section id="latest-products" class="latest-products white">

	<div class="latest-products__pre-carousel">
		<h3 class="h4 latest-products__headline">Our newest arrivals!</h3>
		{{#each carouselFancy.items}}
			{{#ifequal this.fields.id 'latest-products'}}
				{{#each this.fields.items}}
					<div class="latest-products__product-name">
						{{{formatbrand this.fields.productName }}}
					</div>
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>

	<div class="latest-products__carousel" id="latest-carousel">
		{{#each carouselFancy.items}}
			{{#ifequal this.fields.id 'latest-products'}}
				{{#each this.fields.items}}
					<img src="{{ this.fields.image.fields.file.url }}" alt="{{ this.fields.image.fields.description }}">
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>

	<div class="latest-products__quick-product-link-list">
		{{#each carouselFancy.items}}
			{{#ifequal this.fields.id 'latest-products'}}
				{{#each this.fields.items}}
				<button class="latest-products__quick-product-link rectangle gold" data-open="{{{productID this.fields.productName }}}">Catch A Quick Glimpse</button>
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>

	<div class="latest-products__carousel-nav carousel-nav">
		<div class="cue cue--touch">Swipe</div>
		<div class="cue cue--mouse">Drag</div>
		<div class="line-right"></div>
		<div class="slick-dots-container"></div>
	</div>

	<div class="latest-products__cta-list">
			{{#each carouselFancy.items}}
			{{#ifequal this.fields.id 'latest-products'}}
				{{#each this.fields.items}}
					<a href="{{{ this.fields.link.fields.slug}}}.html" class="latest-products__cta cta">Read all about this</a>
				{{/each}}
			{{/ifequal}}
		{{/each}}
	</div>
</section>