<section id="netled-system-performance" class="netled-system-performance white">
    <div class="grid-x">
        <div class="cell large-7">
            <div class="netled-system-performance__content">
                <div class="netled-system-performance__heading">Superior performance. Complete control and integration.
                </div>
                <img class="netled-system-performance__image hide-for-large"
                    src="/assets/img/netled-system-performance.jpg">
                <div class="netled-system-performance__bodytext">
                    <p>
                        We believe that Vera® is the most advanced vertical farming platform in the world.
                        Vera<sup>&reg;</sup> is a family of Netled&apos;s proprietary vertical farming systems. It is
                        the only true end-to-end turn-key vertical farming solution on the market.
                    </p>
                    <p>
                        Vera<sup>&reg;</sup> offers an easy solution for every grower be they first-time producer or
                        established operations. Netled acts as a partner throughout the whole project, from the initial
                        design to the installation, commissioning, documentation as well as further maintenance and data
                        analysis. Vera® is scalable from in-store to industrial: in-store cabinets for marketing,
                        compact-size for piloting, industrial size for commercial growing, and it works with any growing
                        media and pots.
                    </p>
                </div>
            </div>
        </div>
        <div class="cell large-1"></div>
        <div class="cell large-4">
            <div class="netled-system-performance__image show-for-large"></div>
        </div>
    </div>
</section>