<section id="netled-technology" class="netled-technology">
    <div class="netled-technology__container">

        <div class="netled-technology__headline">Seamlessly integrated and automated vertical technology by
            Vera<sup>&reg;</sup></div>

        <div class="netled-technology__features-list">
            <div class="netled-technology__features-group">

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Dynamic Spacing System</div>
                    In Vera<sup>&reg;</sup>, there are over 40% more plants in the growing area and even 8 times more in
                    the
                    floor area than in similar open field or traditional greenhouse cultivation. In Vera<sup>&reg;</sup>
                    we use FIFO, ie.
                    first in, first out flow through growing. In Vera<sup>&reg;</sup> the crop density is optimized and
                    changed along the
                    crop cycle.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Mechanics</div>
                    Vera<sup>&reg;</sup> has a servo operated gutter movement system, which is already commonly used in
                    traditional greenhouses. The structure is made of high strength aluminium body, and the design is
                    flexible and modular. The system can be built with easy instructions and factory assembled
                    construction
                    modules. Long lasting materials ensure longer lifecycle.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Automation</div>
                    The automation of Vera<sup>&reg;</sup> serves as the core of managing the whole vertical farming
                    system.
                    The system is reliable and firewall protected. All detective sensors feed the information of the
                    operation, and automation manages the functions between the pre-set values. The smart IoT-based
                    automation system has a very intuitive user interface (Vera<sup>&reg;</sup> OS) with an easy-to-use
                    touch
                    screen. The system collects data, which can be analyzed and used to create your own growing recipes.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Lighting</div>
                    Vera<sup>&reg;</sup> has a unique, patent pending LED lighting system, which produces optimal light
                    for
                    plants from above and below. The amount and distribution of light is always designed according to
                    the
                    needs of specific plants.
                </div>

            </div>
            <div class="netled-technology__features-group">

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Processing</div>
                    The modern processing of Vera<sup>&reg;</sup> includes, for example, seeding, transplanting and
                    harvesting of the plants.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Virtual Power Plant</div>
                    The fully digital, adjustable lighting system allows the electric company to reserve the LED
                    luminaire
                    power and stabilize the grid. This is also an asset to the electricity companies, who are often
                    willing
                    to pay for this feature. Stabilization can be compensated by dimming the light to reduce the load
                    and
                    increasing the light during lighting hours.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Climate</div>
                    Vera<sup>&reg;</sup> can be combined to heat recovery systems. Integrated lighting, LED cooling and
                    recovered heat
                    together form a highly energy efficient system. Automation steers the climate and keeps the growing
                    environment always optimal. Special optical design enables an even distribution of light to the
                    plants.
                    Vera<sup>&reg;</sup> makes the controlling of microclimate easy.
                </div>

                <div class="netled-technology__feature">
                    <div class="netled-technology__feature-title">Irrigation</div>
                    The irrigation system includes all water and fertilizer handling equipment as well as fully
                    automated
                    steering. In Vera<sup>&reg;</sup> we use NFT, ie. Nutrient Film Technique as a growing system. This
                    technique is a
                    developed version of the traditional hydroponic cultivation. Modular design enables diversity of
                    plants
                    in the same growing facility and also plant specific recipes. Nutrients and CO2 are fed constantly
                    to
                    the system, but not led back into the nature.
                </div>
            </div>
        </div>
    </div>
</section>