<section id="netled-vera-range" class="netled-vera-range">
    <div class="netled-vera-range__headline">
        Discover our range of Vera<sup>&reg;</sup>&nbsp;products
    </div>

    <div class="netled-vera-range__product-list">
        <div id="vera-leafy-greens" class="netled-vera-range__product">
            <div class="netled-vera-range__product-wrapper">
                <div class="netled-vera-range__product-title">
                    Vera<sup>&reg;</sup> Leafy Greens
                </div>
                <div class="netled-vera-range__product-image hide-for-large" data-product="leafy-greens"></div>
                <div class="netled-vera-range__product-description">
                    Vera<sup>&reg;</sup> Leafy Greens is a vertical farming system designed specifically for growing,
                    harvesting, and packing lettuce and other leafy greens. If you&apos;re looking to grow lettuce
                    with a high production rate, Vera<sup>&reg;</sup> Leafy Greens is a perfect solution for you.
                </div>
                <div class="cta netled-vera-range__cta">
                    <a href="https://netled.fi/vertical-farming-vera/">Learn more</a>
                </div>
            </div>
            <div class="netled-vera-range__product-image show-for-large" data-product="leafy-greens"></div>
        </div>

        <div id="vera-herbs" class="netled-vera-range__product">
            <div class="netled-vera-range__product-wrapper">
                <div class="netled-vera-range__product-title">
                    Vera<sup>&reg;</sup> Herbs
                </div>
                <div class="netled-vera-range__product-image hide-for-large" data-product="herbs"></div>
                <div class="netled-vera-range__product-description">
                    Vera<sup>&reg;</sup> Herbs is a vertical farming system designed specifically for growing,
                    harvesting and packing potted herbs. Herbs are sensitive plants and it requires a special know-how
                    to create a perfectly optimal growing environment for them. With Vera<sup>&reg;</sup> Herbs,
                    you&apos;ll succeed with even these delicate plants.
                </div>
                <div class="cta netled-vera-range__cta">
                    <a href="https://netled.fi/vertical-farming-vera/">Learn more</a>
                </div>
            </div>
            <div class="netled-vera-range__product-image show-for-large" data-product="herbs"></div>
        </div>

        <div id="vera-berry" class="netled-vera-range__product">
            <div class="netled-vera-range__product-wrapper">
                <div class="netled-vera-range__product-title">
                    Vera<sup>&reg;</sup> Berry
                </div>
                <div class="netled-vera-range__product-image hide-for-large" data-product="berry"></div>
                <div class="netled-vera-range__product-description">
                    <p>Vera<sup>&reg;</sup> Berry is a vertical farming solution suitable for growing strawberries or
                        other
                        continuous harvest cultivars and cultivars with similar growing space requirements such as
                        cloudberry, or arctic raspberry.
                    </p>
                    <p>
                        The Vera Berry vertical farm utilizes all the benefits of
                        controlled environment agriculture such as minimized growing risks, balanced year-round yield,
                        and
                        obviated pesticides and herbicides. Vera Berry has it all, its components elegantly designed to
                        work
                        in perfect harmony. From lighting to irrigation, everything is easily controlled via
                        Vera<sup>&reg;</sup> automation.
                    </p>
                    <p>
                        Vera<sup>&reg;</sup> Berry brings harvesting into one location and
                        dramatically reduces logistics and enables more plants per square meter than traditional
                        strawberry
                        cultivation methods.
                    </p>
                </div>
                <div class="cta netled-vera-range__cta">
                    <a href="https://netled.fi/vertical-farming-vera/">Learn more</a>
                </div>
            </div>
            <div class="netled-vera-range__product-image show-for-large" data-product="berry"></div>
        </div>

    </div>
</section>