<section class="netled-system-hero">
	<h1 class="netled-system-hero__headline">Netled Vertical Farming Systems</h1>
	<div class="netled-system-hero__subhead">Vera<sup>&reg;</sup> &dash; the world leader in vertical farming technology.</div>
	<div class="hero__scroll-cue">
		<p>Scroll</p>
		<img src="/assets/img/disc.svg" alt="Scroll Down">
		<div class="line-down"></div>
	</div>
</section>