<section id="netled-why-vera" class="netled-why-vera">
    <div class="netled-why-vera__container">

        <div class="netled-why-vera__headline">Why Vera<sup>&reg;</sup> &dash; 8&nbsp;reasons for the smartest choice</div>

        <div class="netled-why-vera__reasons-list">
            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Space</div>
                Optimized plant density along the crop cycle enables over 40% plants per growing area and up to 100x
                bigger yield than in horizontal cultivation.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Water</div>
                Water, nutritions and CO2 are fed constantly and precisely to the plants. Saved water: up to 95% vs
                traditional systems.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Quality</div>
                Vera improves the look and taste of salads, allowing them to grow until harvesting time at the same
                speed. Compatible with organic, non-organic and pesticide-free production. Full traceability.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Light</div>
                Growth speed increases up to 30&hyphen;40% with our unique patent-pending LED lighting distributed for
                plants from above and below.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Money</div>
                Our systems are designed for the best performance for the investment. Estimated OPEX+CAPEX savings
                30&hyphen;50% vs competition.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Footprint</div>
                Closed cultivation process doesn&apos;t pollute soil or waters. You can cut climate emissions to zero
                with 100% renewable energy.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Energy</div>
                Absolute control over air humidity heat energy circulation and cooling leads up to 60% energy savings.
            </div>

            <div class="netled-why-vera__reason">
                <div class="netled-why-vera__reason-title">Time</div>
                Seamlessly integrated and automated IoT-based system needs little maintenance. You save time and
                worries. We support you with 100% care.
            </div>

        </div>
    </div>
</section>