<section class="netled-which-vera white">
    <div class="netled-which-vera__container">

        <div class="netled-which-vera__headline">Find the Vera<sup>&reg;</sup> that&nbsp;works for you</div>

        <div class="netled-which-vera__options-list">
            <a href="#vera-leafy-greens" class="netled-which-vera__option">Leafy Greens</a>
            <a href="#vera-herbs" class="netled-which-vera__option">Herbs</a>
            <a href="#vera-berry" class="netled-which-vera__option">Berry</a>
        <div>
    </div>
</section>