<section class="netled-vera-features">
    <div class="netled-vera-features__container">

        <div class="netled-vera-features__prehead">
            Vera Features
        </div>
        <div class="netled-vera-features__headline">
            Vera<sup>&reg;</sup> Software for control and&nbsp;support
        </div>

        <div class="netled-vera-features__features-list">

            
            <div class="netled-vera-features__features-group">

                <div class="netled-vera-features__feature">
                    <div class="netled-vera-features__feature-title">
                        The highest level of hardware-software integration on the market
                    </div>
                    <div class="netled-vera-features__feature-description">
                        <p>
                            Complete production automation from seed to retail.
                        </p>
                        <p>
                            Complete control of facility humidity, lighting, nutrients, irrigation, automatic dynamic
                            spacing of growing crops, thinning, harvesting, packing and boxing for delivery.
                        </p>
                        <p>
                            Direct remote connection to all Vera® farms for technical and biological monitoring, fast
                            diagnosis, pre-emptive service, steering, and consulting.
                        </p>
                    </div>
                </div>

                <div class="netled-vera-features__feature">
                    <div class="netled-vera-features__feature-title">
                        Vera<sup>&reg;</sup> Robotics for automation and optimal performance
                    </div>
                    <div class="netled-vera-features__feature-description">
                        <p>
                            Latest innovations in robotics for automating the entire production flow.
                        </p>
                        <p>
                            Transplanting, harvesting and packing of crops. 
                        </p>
                        <p>
                            Automatic gutter washing.
                        </p>
                        <p>
                            Automatic palletizing and foil wrapping of pallets
                        </p>
                    </div>
                </div>

            </div>
            <div class="netled-vera-features__features-group">

                <div class="netled-vera-features__feature">
                    <div class="netled-vera-features__feature-title">
                        Vera<sup>&reg;</sup> Crop Recipes for productivity and quality
                    </div>
                    <p>
                        All the essential variables necessary for successful growing.
                    </p>
                    <div class="netled-vera-features__feature-description">
                        <p>
                            Multiple adjustable parameters for each crop that can be fine-tuned for perfect yield and quality.
                        </p>
                        <p>
                            Continuous development of technical parameters and cultivars.
                        </p>
                        <p>
                            Standardized growing environment where all recipes work regardless of the Vera system in use. 
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="netled-vera-features__image"></div>
</section>