<section class="silver newsletter-signup" id="">

	<div class="newsletter-signup__thankyou silver" id="newsletter-signup-thankyou">
		<div class="newsletter-signup__thankyou-logo">
			<img src="/assets/img/rambridge+ram.svg">
		</div>
		<div class="newsletter-signup__thankyou-message">Thankyou for subscribing!</div>
	</div>

	<div class="newsletter-signup__prehead">Get&nbsp;in&nbsp;the know, and
		never miss a chance&nbsp;to</div>
	<h2 class="newsletter-signup__headline">Grow&nbsp;your next&nbsp;project!</h2>
	<form novalidate id="newsletter-signup" name="newsletter-signup" class="newsletter-signup__form rb-form multi-step">
		<div class="step active" id="signup-step1" data-step="1">
			<div class="newsletter-signup__count-container">
				<span class="newsletter-signup__count">01</span>
				<span class="newsletter-signup__total"> / 02</span>
			</div>
			<fieldset>
				<legend class="newsletter-signup__legend active" data-step="1">Let’s&nbsp;start with the&nbsp;basics
				</legend>

				<div class="grid-x grid-margin-x">
					<div class="cell large-6">
						<label for="nl_firstname">
							<span class="newsletter-signup__labeltext">First&nbsp;Name</span>
							<input name="nl_firstname" type="text" id="nl_firstname" minlength="2" required>
						</label>
					</div>
					<div class="cell large-6">
						<label for="nl_lastname">
							<span class="newsletter-signup__labeltext">Last&nbsp;Name</span>
							<input name="nl_lastname" type="text" id="nl_lastname" minlength="2" required>
						</label>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="step" id="signup-step2" data-step="2">
			<div class="newsletter-signup__count-container">
				<span class="newsletter-signup__count">02</span>
				<span class="newsletter-signup__total"> / 02</span>
			</div>
			<fieldset>
				<legend class="newsletter-signup__legend" data-step="2">Almost there!</legend>
				<label for="nl_email">
					<span class="newsletter-signup__labeltext">Email&nbsp;Address</span>
					<input type="email" minlength="6" id="nl_email" name="nl_email" required>
				</label>
				<input class="rb-check" type="checkbox" id="nl_consent" name="nl_consent" required>
				<label class="checkbox-label" for="nl_consent">I agree to receiving helpful emails</label>
			</fieldset>
		</div>

		<div class="grid-x grid-margin-x newsletter-signup__form-controls form-controls">
			<div class="cell small-4 large-3">
				<button type="button" class="button expanded start" disabled>&nbsp;</button>
				<button type="button" class="button expanded arrow-bw white prev">&nbsp;</button>
			</div>
			<div class="cell small-8 large-6 large-offset-3">
				<button type="button" class="button expanded arrow-fw gold text-left next" disabled>Next</button>
				<button class="button expanded arrow-fw gold text-left submit" disabled>Sign me up</button>
			</div>
		</div>

	</form>

</section>