<section class="nursery-browse">
	<h2 class="nursery-browse__heading">
		Browse our fresh arrivals
	</h2>
	<div class="nursery-browse__content">
		Learn about the latest innovations from around the world.
	</div>
	<div class="nursery-browse__lower">
		<div class="nursery-browse__cta">
			<span class="cta nav__trigger--wholesale">Start Browsing</span>
		</div>
		<div class="nursery-browse__icon nav__link nav__trigger--wholesale"></div>
	</div>
</section>