<section id="nursery-products-2" class="white nursery-products">
		<h2 class="nursery-products__heading h4">Harvest the best!</h2>
		<p>Our customers’ favorite finds.</p>
		<div class="nursery-products__carousel carousel" id="nursery-products-carousel-2">
				{{#each carouselSimple.items}}
				{{#ifequal this.fields.id 'nursery-favorite'}}
					{{#each this.fields.items}}
						<img src="{{ this.fields.image.fields.file.url }}" alt="{{ this.fields.image.fields.description }}">
					{{/each}}
				{{/ifequal}}
			{{/each}}
		</div>
		<div class="carousel-nav flex-container align-middle">
			<div class="cue cue--touch">Swipe</div>
			<div class="cue cue--mouse">Drag</div>
			<div class="line-right flex-child-grow"></div>
			<div class="slick-dots-container"></div>
		</div>
		<div class="nursery-products__products">
				{{#each carouselSimple.items}}
				{{#ifequal this.fields.id 'nursery-favorite'}}
					{{#each this.fields.items}}
						<a href="{{{ this.fields.link.fields.slug}}}.html" class="nursery-products__product-link cta">
							{{{formatbrand this.fields.productName}}}
						</a>
					{{/each}}
				{{/ifequal}}
			{{/each}}
		</div>
	</section>