<section class="nursery-hero">
	<h1 class="nursery-hero__heading">Nursery &<br />Greenhouse</h1>
	<h3 class="nursery-hero__subhead">Whether you’re growing indoors or<br /> outdoors, we’ve got you covered.</h3>
	<div class="nursery-hero__cta">
		<span class="cta nav__trigger--create-account">Sign Up Now</span>
	</div>
	<div class="hero__scroll-cue">
			<p>Scroll</p>
			<img src="/assets/img/disc.svg" alt="Scroll Down">
			<div class="line-down"></div>
		</div>
</section>	