<section class="our-clients white" id="our-clients">

	<h2 class="h3 our-clients__heading">Spreading roots across the continent</h2>
	<div class="our-clients__stat-container">
		<div class="our-clients__number">1800+</div>
		<p>retail affiliations across North America</p>
	</div>
	<div class="our-clients__stat-container">
		<div class="our-clients__number">3.5k+</div>
		<p>innovative products and growing daily</p>
	</div>
	<blockquote class="our-clients__testimonial darkblue">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh dolor, commodo vel nisl nec, tempusfaucibus urna.
		Curabitur elementum mollis rutrum.
		<cite class="our-clients__cite darkblue">Dave Smith<br /><strong>XYZ COMPANY</strong></cite>
	</blockquote>

</section>