<section class="our-clients white" id="our-clients">

	<h2 class="h3 our-clients__heading">Spreading roots across the continent</h2>
	<div class="our-clients__stat-container">
		<div class="our-clients__number">1800+</div>
		<p>retail affiliations across North America</p>
	</div>
	<div class="our-clients__stat-container">
		<div class="our-clients__number">3.5k+</div>
		<p>innovative products and growing daily</p>
	</div>

</section>