<section class="cell gray our-services" id="our-services">
	<h2 class="h3 our-services__headline">What&nbsp;we can do for&nbsp;you</h2>
	<div class="our-services__container">
		<div class="our-services__service-container">
			<div class="our-services__upper-container">
				<h3 class="our-services__lead">Innovative and adaptive products for&nbsp;all</h3>
				<div class="our-services__icon our-services__icon--seedling"></div>
			</div>
			<p class="our-services__text">Your one&#8209;stop shop for high&#8209;quality products for growers big	and&nbsp;small.</p>
			<a class="cta our-services__cta" href="/nursery-and-greenhouse.html">Shop Nursery & Greenhouse</a>
		</div>
		<div class="our-services__service-container">
			<div class="our-services__upper-container">
				<h3 class="our-services__lead">Planting seeds across North&nbsp;America</h3>
				<div class="our-services__icon our-services__icon--store"></div>
			</div>
			<p class="our-services__text">We help retailers throughout the continent build a better future collectively by
				supplying them with the best quality growing&nbsp;products.</p>
			<a class="cta our-services__cta" href="/about.html">Come have a visit</a>
		</div>
		<div class="our-services__service-container">
			<div class="our-services__upper-container">
				<h3 class="our-services__lead">World-class growth consultant&nbsp;team</h3>
				<div class="our-services__icon our-services__icon--team"></div>
			</div>
			<p class="our-services__text">Our friendly and approachable team has intimate product knowledge to help fast-track
				your path to cultivating your own&nbsp;grow.</p>
			<span class="cta our-services__cta nav__trigger--contact">Let’s have a chat</span>
		</div>
	</div>
</section>