<section class="what-is-cea white">
    <div class="grid-x">
        <div class="cell large-6">
            <div class="what-is-cea__image show-for-large"></div>
        </div>
        <div class="cell large-6">
            <div class="what-is-cea__content">
                <div class="what-is-cea__heading">What is CEA?</div>
                <img class="what-is-cea__image hide-for-large" src="/assets/img/what-is-cea.jpg">
                <div class="what-is-cea__bodytext">
                    <p>
                        Controlled Environment Agriculture is a technology-based approach towards food production that
                        includes both indoor agriculture and vertical farming. By growing crops indoors, production can
                        occur all year round using optimized growing conditions.
                    </p>
                    <p>
                        Building your own space can be a daunting task. You must consider different variables including 
                        design, materials, workflows, environment, farming unit integration, etc.
                    </p>
                    <p>
                        Let us help you out! Our teams will work with you to design and source your complete CEA solutions.
                    </p>
                </div>
                <div class="what-is-cea__cta">
                    <a href="/cea/index.html#cea-intake" class="cta">Start yours today</a>
                </div>
            </div>
        </div>
    </div>
</section>