<section class="who-is-rambridge darkblue" id="who-is-rambridge">
	<h2 class="h3 who-is-rambridge--heading">Who is Rambridge?</h2>
	<p class="who-is-rambridge__content">
		We’re a family-run manufacturer and wholesale distributor based in Canada, focused on indoor/outdoor garden and
		greenhouse goods. Our partners receive our heartfelt dedication to accelerate every project.
	</p>
	<p class="who-is-rambridge__content">
		While we have grown over the past 35+ years, we remain people-focused: your success is our success.
	</p>
	<p class="who-is-rambridge__content">
		Our knowledgeable team provides education to small-scale and professional application growers to lead successful
		grows from start to finish.
	</p>
	<div>
		<span class="cta nav__trigger--contact">Get In Touch</span>
	</div>
</section>