<section class="why-trust-us">
	<h2 class="why-trust-us__heading">
		Why&nbsp;trust us&nbsp;with your&nbsp;consultation?
	</h2>
	<div class="why-trust-us__reason-container">

		<div class="why-trust-us__reason">
			<h3 class="why-trust-us__reason-heading">35+ Years of Experience</h3>
			<div class="why-trust-us__reason-text">We’ve been around the garden. We don’t want to say we know everything, but
				when it comes to indoor and outdoor growth, we’re pretty confident we’ve got it.</div>
		</div>

		<div class="why-trust-us__reason">
			<h3 class="why-trust-us__reason-heading">Dedicated to Your Success</h3>
			<div class="why-trust-us__reason-text">We only succeed when you succeed! Your expert growth advisor will provide
				personalized, actionable advice to fast-track your success.</div>
		</div>

		<div class="why-trust-us__reason">
			<h3 class="why-trust-us__reason-heading">Intimate Product Knowledge</h3>
			<div class="why-trust-us__reason-text">We’re not just consultants - we know the best products, techniques, real
				world application. We can guide you on the best purchasing solutions for your unique needs.</div>
		</div>

	</div>
	<div class="why-trust-us__footer">
		<hr class="flower" />
	</div>
</section>