<section class="why-we-dig-it-hero" id="why-we-dig-it-hero">
	<h1 class="why-we-dig-it-hero__headline" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">Why&nbsp;we dig&nbsp;it?</h1>		
	<div class="why-we-dig-it-hero__scroll-cue" data-aos="fade-up" data-aos-delay="2500">
		<p>Scroll</p>
		<img src="/assets/img/disc.svg" alt="Scroll Down">
		<div class="line-down"></div>
	</div>
</section>