// Gutters

$gutter-small: 32px;
$gutter-medium: 120px;
$gutter-large: 120px;
$gutter-xlarge: 120px;
$gutter-xxlarge: 160px;

@mixin rb-add-page-gutters {
	overflow: hidden;
	padding-left: $gutter-small;
	padding-right: $gutter-small;

	@include breakpoint(medium) {
		padding-left: $gutter-medium;
		padding-right: $gutter-medium;
	}

	@include breakpoint(large) {
		padding-left: $gutter-large;
		padding-right: $gutter-large;
	}

	@include breakpoint(xlarge) {
		padding-left: $gutter-xlarge;
		padding-right: $gutter-xlarge;
	}

	@include breakpoint(xxlarge) {
		padding-left: $gutter-xxlarge;
		padding-right: $gutter-xxlarge;
	}
}

@mixin rb-add-section-vertical-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-top: rem-calc(60);
	padding-bottom: rem-calc(60);

	min-height: 100vw;

	@include breakpoint(medium) {
		min-height: 600px;
	}

	@include breakpoint(medium) {
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(80)
	}

	@include breakpoint(large) {
		padding-top: rem-calc(100);
		padding-bottom: rem-calc(100)
	}
}

@mixin rb-accordion ($active-color: #a3f271) {

	margin-bottom: rem-calc(38);

	margin-left: -$gutter-small;
	margin-right: -$gutter-small;

	@include breakpoint(menuSwitch) {
		margin-left: 0;
		margin-right: 0;
	}

	.accordion {
		&-title {
			font-weight: bold;
			padding-top: 1em;
			padding-bottom: 1em;

			padding-left: $gutter-small;
			padding-right: $gutter-small;
			// @include breakpoint(menuSwitch) { padding-left: 0; padding-right: 0; }

			@include breakpoint(xlarge) {
				font-size: rem-calc(24);
				padding-top: 1.5em;
				padding-left: rem-calc(30);
			}

			border-top: 1px solid $white;

			&:before {
				top: rem-calc(22);
				right: rem-calc(40);

				@include breakpoint(xlarge) {
					top: rem-calc(40);
					// right: rem-calc(40);
				}

				content: url("/assets/img/up-angle-white.svg");
			}
		}

		.is-active>.accordion-title {
			color: $active-color;

			&:before {
				content: url("/assets/img/down-angle-white.svg");
			}
		}

		&-content {
			padding-left: $gutter-small;
			padding-right: $gutter-small;
			padding-bottom: 1.5em;

			@include breakpoint(xlarge) {
				padding-bottom: 2.5em;
				// margin-left: rem-calc(30);
			}
		}

		&-item {
			&.is-active {

				.accordion-title,
				.accordion-content {
					background-color: rgba(0, 0, 0, .7);
				}
			}

			&:last-of-type {
				.accordion-content {
					border-bottom: 1px solid $white;
				}
			}

			&:last-of-type:not(.is-active) {
				.accordion-title {
					border-bottom: 1px solid $white;
				}
			}
		}
	}

}

//==========================
// Common Section styles
//==========================

// Obsolete, moowahahaha


//=================
// Hero Section
//=================

.hero {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	position: relative;
	background-color: #DADFD8;
	background-image: url('/assets/img/rambridge-homepage.jpg');
	background-position-x: 70%;
	background-position-y: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	min-height: 600px;

	@include breakpoint(large) {
		background-position: right center;
		min-height: 800px;
	}

	&__headline {
		padding-top: 60px;

		@media screen and (max-width: 320px) {
			font-size: 48px;
		}
	}

	&__subhead {
		margin-bottom: rem-calc(45);

		@include breakpoint(large) {
			font-size: rem-calc(24);
		}
	}

	&__cta {
		margin-bottom: 80px;
		display: flex;

		a:first-of-type {
			margin-right: rem-calc(50);
		}
	}

	&__scroll-cue {
		@include scroll-cue;
	}
}

//==========================
// Always Growing Section 
//==========================

.always-growing {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	h2 {
		color: $white;
	}

	&__subhead {
		margin-bottom: rem-calc(45);
	}
}


//==========================
// Feature Products Section 
//==========================

.feature-products {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__carousel {
		height: 400px;
		overflow: hidden;

		div img {
			width: 100%;
			height: 400px;
			object-fit: contain;
			object-position: center;
		}

		margin: 1.5em (-$gutter-small) .5em (-$gutter-small);

		@include breakpoint(large) {
			margin: 1.5em (-$gutter-large) .5em (-$gutter-large);
		}
	}

	&__product-link {
		&:not(.active) {
			display: none;
		}
	}
}

//==========================
// Our Services Section 
//==========================

.our-services {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__container {
		// height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include breakpoint(medium) {}

		@include breakpoint(xlarge) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__service-container {
		max-width: rem-calc(400);
		margin-top: rem-calc(45);
		margin-bottom: rem-calc(45);

		@include breakpoint(medium) {
			max-width: rem-calc(500);
		}

		@include breakpoint(xlarge) {
			margin-top: rem-calc(0);
			margin-bottom: rem-calc(0);
			max-width: 30%;
		}
	}

	&__upper-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: .75em;

		@include breakpoint(xlarge) {
			flex-direction: column;
			align-items: flex-start;
			margin: 3em 0 1.25em 0;
		}
	}

	&__lead {
		font-size: rem-calc(20);
		margin-bottom: 0;
		flex: 1 1 auto;

		@include breakpoint(xlarge) {
			order: 2;
		}
	}

	&__icon {
		height: rem-calc(65);
		width: rem-calc(65);
		margin-left: rem-calc(20);
		background-size: contain;
		flex: 0 0 auto;
		background-repeat: no-repeat;
		background-position: center;

		@include breakpoint(xlarge) {
			margin-left: 0;
			height: rem-calc(85);
			width: rem-calc(85);
			align-self: center;
			margin-bottom: rem-calc(20);
		}

		&--seedling {
			background-image: url("/assets/img/seedling.svg");
		}

		&--store {
			background-image: url("/assets/img/store.svg");
		}

		&--team {
			background-image: url("/assets/img/team.svg");
		}
	}

	&__text {
		max-width: 400px;
		min-height: unset;

		@include breakpoint(large) {
			max-width: unset;
			margin-right: 0;
		}
	}

	&__cta {
		margin-top: .5em;
	}
}

//==========================
// Latest Products Section 
//==========================

.latest-products {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__pre-carousel {
		width: 100%;

		@include breakpoint(large) {
			flex: 1 1 100%;
		}
	}

	&__product-name {
		min-height: rem-calc(48);

		&:not(.active) {
			display: none;
		}

		@include breakpoint(large) {
			margin-top: 1em;
		}
	}

	&__carousel {
		height: 300px;
		overflow: hidden;

		div img {
			width: 100%;
			height: 300px;
			object-fit: contain;
			object-position: center;
		}

		margin: 1.5em (-$gutter-small) .5em (-$gutter-small);

		@include breakpoint(large) {
			order: 4;
			margin: 1.5em (-$gutter-large) .5em (-$gutter-large);
		}
	}

	&__carousel-nav {
		@include breakpoint(large) {
			order: 5;
		}
	}

	// &__post-carousel {
	// }
	&__quick-product-link-list {
		@include breakpoint(large) {
			margin-right: 2em;
		}
	}

	&__quick-product-link {
		&:not(.active) {
			display: none;
		}

		@include breakpoint(large) {
			order: 2;
			margin-top: 1.5em;
		}
	}

	&__cta-list {
		min-width: rem-calc(180);
	}

	&__cta {
		margin-top: 1em;

		&:not(.active) {
			display: none;
		}

		@include breakpoint(large) {
			order: 3;
			margin-top: 2em;
		}
	}
}

//==========================
// Find A Retailer Section 
//==========================

.find-a-retailer {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	@include breakpoint(medium) {
		min-height: unset;
	}

	&__prehead {
		margin-bottom: rem-calc(5);
	}

	&__headline {
		margin-bottom: rem-calc(40);
	}

	&__subhead-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	&__subhead {
		padding-right: rem-calc(20);
		max-width: 800px;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		margin-bottom: rem-calc(30);
		min-height: 64px;
	}

	&__cta {
		display: flex;
		flex: 0 0 280px;
		align-items: center;
		width: 300px;
		margin-bottom: rem-calc(30);
		min-height: 64px;
	}
}

//=================================
// Newsletter Subscription Section 
//=================================

.newsletter-signup {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	position: relative;

	&__prehead {
		margin-bottom: rem-calc(5);
		font-size: rem-calc(20);
		font-weight: bold;
		padding-right: rem-calc(50);
		line-height: 1.1;
	}

	&__headline {
		margin-bottom: 0;
		font-size: rem-calc(44);
		line-height: 1;
	}

	&__subhead {
		margin-bottom: rem-calc(30);
		padding-right: rem-calc(20);
	}

	&__count-container {
		display: flex;
		align-items: flex-start;
		margin: rem-calc(30) 0;
	}

	&__count {
		font-size: rem-calc(36);
		font-weight: bold;
		line-height: 1;
		vertical-align: top;
	}

	&__total {
		padding-top: rem-calc(4);
		font-size: rem-calc(12);
		font-weight: bold;
		vertical-align: top;
		color: $rb-gray4;
	}

	&__legend {
		font-size: rem-calc(22);
		margin-bottom: 2em;
	}

	&__labeltext {
		font-size: rem-calc(14);
		color: $rb-gray2;
		margin-right: 1em;

		~span.error {
			color: $rb-error;
			font-style: normal;
			font-weight: 500;
		}
	}

	&__thankyou {
		visibility: hidden;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		&-logo {
			margin-bottom: rem-calc(50);
		}

		&-message {
			font-size: rem-calc(18);
		}
	}

	&__form {
		fieldset {
			min-height: rem-calc(250);

			@include breakpoint(large) {
				min-height: rem-calc(200);
			}
		}

		label.checkbox-label {
			font-size: rem-calc(16);

			//margin-left: -1em;
			&:before {
				content: " ";
				height: rem-calc(20);
				width: rem-calc(20);
				background-color: white;
				display: inline-block;
				position: relative;
				right: rem-calc(8);
				top: rem-calc(4);
				// margin-left: rem-calc(-7);
				// margin-top: rem-calc(5);
				// margin-right:rem-calc(8);
				border: 1px solid black;
			}
		}

		input[type="checkbox"] {
			@include hide-me;

			&:checked+label.checkbox-label:before {
				background-color: $rb-green;
				content: '\2713';
				text-align: center;
				vertical-align: top;
				line-height: 20px;
			}
		}

		input,
		input:focus {
			border-bottom: 1px solid $black;
			font-size: rem-calc(18);
			font-weight: 500;
			height: rem-calc(32);
			padding-top: 4px;
		}

		button[disabled].next,
		button[disabled].next:hover,
		button[disabled].submit,
		button[disabled].submit:hover {
			opacity: 0.5;
			background-color: $rb-gray4;
			cursor: not-allowed;
		}

		div.step[data-step="1"].active~.form-controls {
			background-clip: red;

			// Hide the Prev  and Submit button on the first step
			.prev,
			.submit {
				display: none;
			}

			.next,
			.start {
				display: block;
			}
		}

		div.step[data-step="2"].active~.form-controls {

			// Show the Submit button only if we're on the last step
			.prev,
			.submit {
				display: block;
			}

			.next,
			.start {
				display: none;
			}
		}
	}

	&__form-controls {
		@include rb-button-styles;
		padding-top: rem-calc(24);
		// padding-bottom: rem-calc(32); 
	}
}

//==========================
// About Us Section 
//==========================

.about-us {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	min-height: calc(100vh - 40px);
	max-height: 100vh;
	position: relative;

	background-color: #CBDCE6;
	background-image: url('/assets/img/about-background.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 100% auto;

	@include breakpoint(medium) {
		min-height: 600px;
		max-height: unset;
		background-image: url('/assets/img/about-background-large.jpg');
		background-size: auto 100%;
	}

	&__headline {
		padding-top: 0;
	}

	&__subhead {
		margin-bottom: rem-calc(45);
		// max-width: 60%;
	}

	&__scroll-cue {
		@include scroll-cue;
	}

	&__cta {
		margin-bottom: 150px;

		@include breakpoint(medium) {
			margin-bottom: 50px;
		}
	}
}


//==========================
// Moraine Lake Section 
//==========================

.moraine-lake {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	background-position: center;
	background-image: url("/assets/img/moraine-lake.png");
	background-size: cover;
	background-repeat: no-repeat;
}

//==========================
// Who Is Rambridge Section 
//==========================

.who-is-rambridge {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__heading {
		font-size: rem-calc(44);
		font-weight: bold;
	}

	&__content {
		font-size: rem-calc(20);
		line-height: 1.8;
		margin-bottom: 1em;

		@include breakpoint (large) {
			font-size: rem-calc(18);
			line-height: 1.6666667;
		}
	}
}

//==========================
// Our Story Section 
//==========================

.our-story {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__heading {
		line-height: 1.5;
		margin-bottom: 1em;

		@include breakpoint(large) {
			line-height: 1.1;
			margin-bottom: 1.5em;
		}
	}

	&__content {
		line-height: 1.5;
		margin-bottom: 1em;
	}
}

//==========================
// Our Clients Section 
//==========================

.our-clients {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	justify-content: flex-start;

	&__heading {
		// font-size: rem-calc(24);
		// font-weight: bold;
		line-height: 1.5;

		@include breakpoint(large) {
			line-height: 1.1;
		}
	}

	&__stat-container {
		// width: 50%;
		padding-right: rem-calc(20);
	}

	&__number {
		font-size: rem-calc(100);
		font-weight: bold;
		color: $rb-gray2;
		line-height: 1;
		margin-top: rem-calc(50);

		@include breakpoint(large) {
			font-size: rem-calc(80);
		}

		// margin-bottom: rem-calc(15);

	}

	&__testimonial {
		margin-top: rem-calc(50);
		padding: rem-calc(50);
		line-height: 1.5;
		position: relative;

		&:before {
			content: "\201C";
			font-size: rem-calc(60);
			font-weight: bold;
			position: absolute;
			top: rem-calc(1);
			left: rem-calc(16);
		}

		&:after {
			content: "";
			width: 0px;
			height: 0px;
			position: absolute;
			border-left: 15px solid $rb-blue3;
			border-right: 15px solid transparent;
			border-top: 15px solid $rb-blue3;
			border-bottom: 15px solid transparent;
			left: 0;
			bottom: -25px;
		}
	}

	&__cite {
		margin-top: 1.5em;
		font-style: normal;
		font-size: rem-calc(12);

		&:before {
			content: "";
		}
	}
}

//============================
// Logo Only filler Section 
//============================

.logo-only {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	min-height: unset !important;

	&__image {
		min-height: 250px;
		background-image: url('/assets/img/ramshead-white.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

//==========================
// Find Out More Section 
//==========================

.find-out-more {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	background-color: $rb-skyblue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(large) {
		min-height: unset;
		background-color: $white;
	}

	&__heading {
		font-size: rem-calc(24);
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: rem-calc(30);
	}

	&__content {
		line-height: 1.5;
		margin-bottom: rem-calc(30);

		// @include breakpoint(large) {
		// 	margin-bottom: 0;
		// }
	}

	&__logo {
		padding: rem-calc(75) 0 rem-calc(90) 0;
		display: flex;
		justify-content: center;

		@include breakpoint(large) {
			display: none;
		}
	}

	&__cta {
		margin-bottom: rem-calc(30);
	}

	&__call-us {
		font-size: rem-calc(14);
	}

	// Variant for CEA pages
	&--cea {
		background-image: url('/assets/img/lets-become-friends.jpg');
		background-position: 20% 28%;
		background-size: cover;
		background-repeat: no-repeat;

		>* {
			filter: invert(100);

			@include breakpoint(xlarge) {
				margin-left: rem-calc(90);
			}
		}

		.find-out-more {
			&__heading {
				font-size: rem-calc(44);
				max-width: rem-calc(240);

				@include breakpoint(xlarge) {
					font-size: rem-calc(70);
				}

				@include breakpoint(xlarge) {
					font-size: rem-calc(100);
					max-width: rem-calc(440);
				}
			}

			&__content {
				max-width: rem-calc(240);

				@include breakpoint(xlarge) {
					max-width: rem-calc(440);
				}
			}

		}

	}

}

//==========================
// Call Us Section 
//==========================

.call-us {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	min-height: unset;
	background-color: #D9DED9;
	display: flex;

	&__container {
		position: relative;
		height: 140px;
		margin-bottom: rem-calc(30);

		@include breakpoint(medium) {
			height: 225px;
		}

		@include breakpoint(large) {
			height: 350px;
		}

		@include breakpoint(xlarge) {
			height: 300px;
			margin-bottom: rem-calc(50);
		}

		// @include breakpoint(xlarge) {
		// 	height: 400px;
		// }
		@media screen and (min-width: 1800px) {
			height: 400px;
		}
	}

	&__outline {
		width: 100%;
		height: 100%;
		float: right;
		shape-outside: circle(64px at calc(100% - 54px) calc(100% - 54px));
		clip-path: circle(64px at calc(100% - 54px) calc(100% - 54px));

		@include breakpoint(medium) {
			shape-outside: circle(74px at calc(100% - 54px) calc(100% - 54px));
			clip-path: circle(74px at calc(100% - 54px) calc(100% - 54px));
		}

		@include breakpoint(large) {
			shape-outside: circle(80px at calc(100% - 80px) calc(100% - 80px));
			clip-path: circle(80px at calc(100% - 80px) calc(100% - 80px));
		}

		@include breakpoint(xlarge) {
			shape-outside: circle(74px at calc(100% - 54px) calc(100% - 54px));
			clip-path: circle(74px at calc(100% - 54px) calc(100% - 54px));
		}

		@include breakpoint(xxlarge) {
			shape-outside: circle(80px at calc(100% - 80px) calc(100% - 80px));
			clip-path: circle(80px at calc(100% - 80px) calc(100% - 80px));
		}

		@media all and (-ms-high-contrast: none),
		(-ms-high-contrast: active) {
			display: none;
		}
	}

	&__icon {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 108px;
		height: 108px;

		@include breakpoint(large) {
			width: 160px;
			height: 160px;
		}

		@include breakpoint(xlarge) {
			width: 108px;
			height: 108px;
		}

		@include breakpoint(xxlarge) {
			width: 160px;
			height: 160px;
		}
	}

	&__heading {
		line-height: 1;
		margin-bottom: rem-calc(12);
		color: $rb-blue3;

		@media screen and (min-width: 400px) {
			font-size: rem-calc(44);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(60);
			margin-bottom: rem-calc(25);
		}

		@include breakpoint(large) {
			font-size: rem-calc(90);
			margin-bottom: rem-calc(44);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(60);
		}

		@include breakpoint(xxlarge) {
			font-size: rem-calc(80);
		}

		@media screen and (min-width: 1800px) {
			font-size: rem-calc(100);
		}
	}

	p {
		margin-bottom: rem-calc(24);

		@include breakpoint(large) {
			margin-bottom: rem-calc(60);
			font-size: rem-calc(18);
		}
	}

	&__button {
		@include breakpoint(xxlarge) {
			font-size: rem-calc(20) !important;
		}
	}
}

//==========================
// Cannabis Hero Section 
//==========================

.cannabis-hero {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	// min-height: 600px;
	background-image: url('/assets/img/cannabis.jpg');
	background-position: center right;

	@include breakpoint(large) {
		background-image: url('/assets/img/cannabis-large.jpg');
		background-position: center bottom;
		padding-top: 200px;
		min-height: 800px;
	}

	position: relative;
	background-color: #FDEFD5;
	background-size: cover;
	background-repeat: no-repeat;

	&__prehead {
		font-weight: bold;
		margin-bottom: 1em;
	}

	&__heading {
		font-size: rem-calc(48);

		@media screen and (min-width: 400px) {
			font-size: rem-calc(55);
		}

		margin-bottom: rem-calc(30);

		@include breakpoint(large) {
			font-size: rem-calc(100);
			letter-spacing: -.05em;
			margin-bottom: rem-calc(60);
		}
	}

	&__subhead {
		font-size: rem-calc(16);
		line-height: 1.25;

		@include breakpoint(large) {
			font-size: rem-calc(32);
		}

		font-weight: normal;
		margin-bottom: 2em;
	}

	&__scroll-cue {
		@include scroll-cue;
	}
}

//==========================
// Why Trust Us Section 
//==========================

.why-trust-us {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	background-color: $white;

	@include breakpoint(menuSwitch) {
		background-color: #F9F6ED;
	}

	@include breakpoint(xlarge) {
		min-height: 900px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__heading {
		font-size: rem-calc(16);
		font-weight: bold;
		line-height: 1.5;
		margin-bottom: rem-calc(50);
		max-width: 55%;

		@include breakpoint(xlarge) {
			max-width: unset;
			font-size: rem-calc(60);
			margin-bottom: 0;
			line-height: 1;
		}
	}

	&__reason {
		@include breakpoint(xlarge) {
			max-width: 28%;
		}

		&-container {
			@include breakpoint(xlarge) {
				display: flex;
				justify-content: space-between;
			}
		}

		&-heading {
			font-size: rem-calc(24);
			font-weight: bold;
			margin-bottom: rem-calc(16);

			@include breakpoint(xlarge) {
				font-size: rem-calc(32);
			}
		}

		&-text {
			margin-bottom: 2.5em;
			line-height: 1.5;

			@include breakpoint(xlarge) {
				font-size: rem-calc(18);
				margin-bottom: 0;
			}
		}
	}

	&__footer {
		hr.flower {
			border-top: 1px solid $black;
			text-align: center;
			margin-top: 100px;
		}

		hr.flower:after {
			content: '';
			background-color: $white;

			@include breakpoint(menuSwitch) {
				background-color: #F9F6ED;
			}

			background-image: url('/assets/img/plant.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			position: relative;
			width: 60px;
			height: 80px;
			padding: 0 20px;
			top: -56px;

			@include breakpoint(xlarge) {
				width: 85px;
				height: 113px;
				padding: 0 30px;
				top: -78px;
			}

		}


	}
}

//================================
// Book Your Consultation Section 
//================================

.book-your-consultation {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	min-height: 720px;

	@include breakpoint(xlarge) {
		min-height: 920px;
	}

	background-color: #4B411E;
	background-image: url('/assets/img/book-consultation.jpg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;

	&__heading {
		font-size: rem-calc(48);

		@include breakpoint(xlarge) {
			font-size: rem-calc(60);
			margin-bottom: rem-calc(25);
		}
	}

	&__subhead {
		font-size: rem-calc(18);
		font-weight: normal;
		margin-bottom: rem-calc(24);

		@include breakpoint(large) {
			font-size: rem-calc(32);
			font-weight: bold;
		}
	}

	&__accordion {
		@include rb-accordion;
	}
}

//================================
// Intake Forms Section 
//================================

.intake-form {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	min-height: 680px;
	justify-content: space-between;

	// &__container {
	// }
	&__heading {
		font-size: rem-calc(24);
		margin-bottom: rem-calc(15);
		line-height: 1.333333;
	}

	&__description {
		margin-bottom: rem-calc(15);
		line-height: 1.625;
	}

	// &__link {
	// }
}

//================================
// Is This For Me? Section 
//================================

.commercial-vs-craft {
	@include rb-add-page-gutters;
	min-height: 720px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-top: 80px;
	padding-bottom: 80px;

	@include breakpoint(large) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	background-color: #4B411E;
	background-image: url('/assets/img/commercial-vs-craft.jpg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;

	&__heading {
		font-size: rem-calc(48);

		@include breakpoint(xlarge) {
			font-size: rem-calc(60);
			margin-bottom: rem-calc(25);
		}
	}

	&__subhead {
		font-size: rem-calc(18);
		font-weight: normal;
		margin-bottom: rem-calc(24);

		@include breakpoint(large) {
			font-size: rem-calc(32);
			font-weight: bold;
		}
	}

	&__accordion {
		@include rb-accordion(#edcb75);
	}

}

//==========================
// Greenhouse & Nursery Hero Section 
//==========================

.nursery-hero {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	min-height: 500px;
	position: relative;
	background-repeat: no-repeat;
	background-color: #E1E5E1;
	background-image: url('/assets/img/nursery-greenhouse.jpg');
	background-position-x: 65%;
	background-position-y: bottom;
	background-size: auto 100%;

	@include breakpoint(large) {
		background-position: center bottom;
		min-height: 800px;
	}

	@include breakpoint(xxlarge) {
		background-position: right bottom;
		min-height: 800px;
	}

	&__prehead {
		font-weight: bold;
		margin-bottom: 1em;
	}

	&__heading {
		font-size: rem-calc(46);
		letter-spacing: -.02em;
		;
		margin-bottom: rem-calc(30);
		margin-top: rem-calc(-60);

		@include breakpoint(medium) {
			font-size: rem-calc(60);
		}

		@include breakpoint(large) {
			font-size: rem-calc(100);
			letter-spacing: -.05em;
			margin-bottom: rem-calc(60);
		}
	}

	&__subhead {
		font-size: rem-calc(16);
		line-height: 1.25;

		@include breakpoint(large) {
			font-size: rem-calc(32);
		}

		font-weight: normal;
		margin-bottom: 2em;
	}

	&__scroll-cue {
		@include scroll-cue;
	}
}

//================================
// Browse Our Fresh Arrivals Section 
//================================

.nursery-browse {

	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	background-color: #EBE0C3;

	&__heading {
		font-size: rem-calc(44);
		margin-bottom: rem-calc(35);
		line-height: 1.2;

		@include breakpoint(large) {
			font-size: rem-calc(60);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(80);
		}
	}

	&__content {
		margin-bottom: rem-calc(35);
	}

	&__lower {
		display: flex;
		// align-items: flex-start;
	}

	&__cta {
		margin-right: rem-calc(40);

	}

	&__icon {
		width: rem-calc(115);
		height: rem-calc(115);

		@media screen and (min-width: 400px) {
			width: rem-calc(132);
			height: rem-calc(132);
		}

		background-image: url('/assets/img/nursery-coin.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

//================================
// Nursery Carousels (x2) 
//================================

.nursery-products {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__carousel {
		height: 400px;
		overflow: hidden;
		div img {
			width: 100%;
			height: 400px; // Needed for object-position: to work on Safariu
			object-fit: contain; // Show the whole image
			object-position: center;
		}
		margin: 1.5em (-$gutter-small) .5em (-$gutter-small);
		@include breakpoint(large) {
			margin: 1.5em (-$gutter-large) .5em (-$gutter-large);
		}
	}

	&__product-link {
		display: none;

		&.active {
			display: inline-block;
		}
	}
}

//================================
// Show & Grow Sections
//================================

.show-and-grow-1 {
	height: 100%;
	background-image: url('/assets/img/greenhouse.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;

	&__heading {
		color: $white;
		font-size: rem-calc(44);
		font-weight: bold;
		line-height: 1.2;

		@include breakpoint(xlarge) {
			display: none;
		}
	}
}

.show-and-grow-2 {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	background-color: #CDDCE6;
	padding-top: rem-calc(40);
	justify-content: space-evenly;

	@include breakpoint(xlarge) {
		padding-top: rem-calc(80);
		justify-content: center;
	}

	&__heading {
		display: none;
		color: #95A65D;
		font-size: rem-calc(44);
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 1.2em;

		@include breakpoint(xlarge) {
			display: block;
			margin-bottom: .5em;
		}
	}

	p {
		line-height: 1.8;
	}
}

//=================
// CEA page Hero Section
//=================

.cea-hero {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	position: relative;
	background-color: #DADFD8;
	background-image: url('/assets/img/cea-homepage.jpg');
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;

	@include breakpoint(large) {
		min-height: 800px;
	}

	// @include breakpoint(landscape) {
	// 	@include breakpoint(large) {
	// 		min-height: 100vh;
	// 	}
	// }

	&__headline {
		font-size: rem-calc(36);

		@media screen and (min-width: 320px) {
			font-size: rem-calc(40)
		}

		@media screen and (min-width: 375px) {
			padding-top: rem-calc(60);
			font-size: rem-calc(54);
		}

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(60);
		}

		@include breakpoint(large) {
			font-size: rem-calc(90);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(100);
		}

		@include breakpoint(xxlarge) {
			font-size: rem-calc(120);
		}

	}

	&__subhead {
		margin-bottom: rem-calc(35);
		letter-spacing: -0.03em;

		@include breakpoint(large) {
			font-size: rem-calc(24);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(32);
		}
	}

	&__cta {
		margin-bottom: rem-calc(50);
		display: flex;
		flex-direction: column;
		align-items: stretch;

		@include breakpoint(large) {
			width: 100%;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;

			a:first-of-type {
				margin-right: rem-calc(50);
			}
		}

		.cta {
			font-size: rem-calc(16);
			margin-bottom: rem-calc(20);

			&:after {
				position: absolute;
				right: 0;

				@include breakpoint(large) {
					position: static;
				}
			}

			@include breakpoint(menuSwitch) {
				max-width: rem-calc(300);
			}

			@include breakpoint(large) {
				max-width: unset;
			}
		}
	}

	&__scroll-cue {
		@include scroll-cue;
	}
}

//=================
// CEA page Intro Section
//=================

.cea-intro {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	@include breakpoint(xlarge) {
		padding-top: rem-calc(180);
		padding-bottom: rem-calc(180);
	}

	&__content {
		@include breakpoint(medium) {
			min-height: 600px;
		}

		@include breakpoint(large) {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: rem-calc(60);
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: rem-calc(10);

		// @include breakpoint(menuSwitch) {
		// 	font-size: rem-calc(30);	
		// }
		@include breakpoint(large) {
			font-size: rem-calc(36);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(70);
		}
	}

	&__subhead {
		font-style: italic;
		font-weight: 600;
		line-height: 1.1;
		font-size: rem-calc(28);
		margin-bottom: rem-calc(12);

		// @include breakpoint(menuSwitch) {
		// 	font-size: rem-calc(18);	
		// }
		// @include breakpoint(large) {
		// 	font-size: rem-calc(24);	
		// }
		@include breakpoint(xlarge) {
			font-size: rem-calc(50);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: rem-calc(20) 0;

		@include breakpoint(large) {
			margin: 0 rem-calc(-$gutter-large) 0 0;
			width: unset;
			background-image: url('/assets/img/netled-intro.jpg');
			background-size: cover;
			background-position: left;
		}
	}

	&__bodytext {
		line-height: 1.6;
		margin-bottom: rem-calc(30);
	}
}

//=================
// CEA page Capabilities Section
//=================

.cea-capabilities {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	// padding-bottom: 0;
	// margin-bottom: rem-calc(30);

	// @include breakpoint(large) {
	// 	margin-bottom: rem-calc(50);
	// }

	&__subhead {
		font-weight: 500;
		font-size: rem-calc(16);

		// margin-bottom: 0;
		@include breakpoint(menuSwitch) {
			font-size: rem-calc(20);
		}

		@include breakpoint(large) {
			font-size: rem-calc(28);
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: rem-calc(30);

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(50);
		}

		@include breakpoint(large) {
			font-size: rem-calc(80);
		}
	}

	&__container {
		@include breakpoint(menuSwitch) {
			width: 100%;
			height: rem-calc(720);
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: nowrap;
			align-items: center;
		}
	}

	&__item {
		margin-bottom: rem-calc(50);
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&[data-capability="technology"] {
			.cea-capabilities__image {
				background-image: url('/assets/img/cea-technology.svg');
			}

			@include breakpoint(menuSwitch) {
				order: 1;
				align-self: flex-start;
			}
		}

		&[data-capability="horticulture"] {
			.cea-capabilities__image {
				background-image: url('/assets/img/cea-horticulture.svg');
			}

			@include breakpoint(menuSwitch) {
				order: 3;
				align-self: flex-start;
			}
		}

		&[data-capability="facility"] {
			.cea-capabilities__image {
				background-image: url('/assets/img/cea-facility.svg');
			}

			@include breakpoint(menuSwitch) {
				order: 5;
				align-self: flex-start;
			}
		}

		&[data-capability="vera"] {
			.cea-capabilities__image {
				background-image: url('/assets/img/cea-vera.svg');
			}

			@include breakpoint(menuSwitch) {
				order: 2;
				align-self: flex-end;
			}
		}

		&[data-capability="consumables"] {
			.cea-capabilities__image {
				background-image: url('/assets/img/cea-consumables.svg');
			}

			@include breakpoint(menuSwitch) {
				order: 4;
				align-self: flex-end;
			}
		}

	}

	&__image {
		margin: rem-calc(20) 0;
		height: 120px;
		width: 120px;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		@include breakpoint(medium) {
			height: 160px;
			width: 160px;
		}

		@include breakpoint(menuSwitch) {
			height: 180px;
			width: 180px;
		}

		@include breakpoint(xlarge) {
			height: 200px;
			width: 200px;
		}


	}

	&__title {
		font-weight: 700;
		font-size: rem-calc(28);
		margin-bottom: rem-calc(6);

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(24);
		}

		@include breakpoint(large) {
			font-size: rem-calc(28);
		}
	}

	&__cta {
		.cta {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: rem-calc(150);
		}
	}

	sup {
		font-size: rem-calc(14);
		position: relative;
		top: rem-calc(-12);
	}
}

//================================
// CEA Consumables Section 
//================================

.cea-consumables {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	background-color: #FAF9F5;

	&__heading {
		font-size: rem-calc(44);
		margin-bottom: rem-calc(35);
		line-height: 1.1;

		@include breakpoint(large) {
			font-size: rem-calc(60);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(80);
		}
	}

	&__content {
		margin-bottom: rem-calc(35);
	}

	&__lower {
		display: flex;
	}

	&__cta {
		margin-right: rem-calc(40);
	}

	&__icon {
		width: rem-calc(100);
		height: rem-calc(100);

		@media screen and (min-width: 360px) {
			width: rem-calc(132);
			height: rem-calc(132);
		}

		@include breakpoint(large) {
			display: none;
		}

		@include breakpoint(xlarge) {
			display: block;
		}

		@include breakpoint(xlarge) {
			width: rem-calc(132);
			height: rem-calc(132);
		}

		background-image: url('/assets/img/cea-coin.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}


//================================
// CEA Latest News Section 
//================================

.cea-latestnews {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__item {
		margin-bottom: rem-calc(60);
	}

	&__subhead {
		font-weight: 500;
		font-size: rem-calc(16);

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(20);
		}

		@include breakpoint(large) {
			font-size: rem-calc(28);
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1;
		margin-bottom: rem-calc(30);

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(50);
		}

		@include breakpoint(large) {
			font-size: rem-calc(80);
		}
	}

	&__image {
		margin-bottom: rem-calc(16);
		width: 100%;
		aspect-ratio: 6 / 4;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: rem-calc(28);
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.02em;
		margin-bottom: rem-calc(8);
	}

	&__intro {
		line-height: 1.5;
		margin-bottom: rem-calc(8);
	}
}

//================================
// CEA All News Page 
//================================

.cea-allnews {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	margin-top: rem-calc(50);

	@include breakpoint(menuSwitch) {
		margin-top: 0;
	}

	&__back-link {
		font-size: rem-calc(12);
		font-weight: 500;
		padding: .75em 0;
		margin-bottom: rem-calc(15)s;
		cursor: pointer;

		&:before {
			display: inline-block;
			content: url('/assets/img/right-arrow-white.svg');
			filter: invert(100%);
			transform: rotate(180deg);
			width: 2em;
			height: 1em;
			margin-right: .5em;
			padding-bottom: .5em;
			line-height: 1;
		}
	}

	&__subhead {
		font-weight: 500;
		font-size: rem-calc(16);

		@include breakpoint(menuSwitch) {
			font-size: rem-calc(20);
		}

		@include breakpoint(large) {
			font-size: rem-calc(28);
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1;
		margin-bottom: rem-calc(30);

		@include breakpoint(menuSwitch) {
			margin-bottom: rem-calc(60);
			font-size: rem-calc(50);
		}

		@include breakpoint(large) {
			font-size: rem-calc(80);
		}
	}

	&__item {
		margin-bottom: rem-calc(60);
		display: flex;
		flex-direction: column;

		@include breakpoint(large) {
			flex-direction: row;
		}

	}

	&__image {
		width: 100%;
		height: rem-calc(240);
		flex-grow: 0; // default is 0
		flex-shrink: 0; // default is 1
		margin-bottom: rem-calc(16);

		@include breakpoint(large) {
			margin-bottom: 0;
			width: 400px;
			height: 240px;
		}

		// overflow: hidden;
		// display: flex;
		// flex-direction: row;
		// justify-content: center;
		// align-items: center;

		img {
			object-fit: cover;
			max-width: unset;
			height: 100%;
			width: 100%;
		}
	}

	&__text {
		@include breakpoint(large) {
			margin-left: rem-calc(40);
		}
	}

	&__title {
		font-size: rem-calc(28);
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.02em;
		margin-bottom: rem-calc(8);
	}

	&__intro {
		line-height: 1.5;
		margin-bottom: rem-calc(8);
	}


}


//=================
// Why We Dig It Hero Section
//=================

.why-we-dig-it-hero {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	position: relative;

	min-height: 600px;
	background-image: url('/assets/img/why-we-dig-it.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

	// background-position-x: right -175px;
	// @include breakpoint(xlarge) {
	// 	min-height: 800px;
	// }

	@include breakpoint(menuSwitch) {
		background-position: center;
		margin-right: rem-calc(-100);
	}

	@include breakpoint(large) {
		// background-position-x: right;
	}

	@include breakpoint(xxlarge) {
		// background-position-y: bottom;
		min-height: 50vw;
	}

	&__headline {
		font-size: rem-calc(54);
		margin-top: rem-calc(-200);
		line-height: 1.1;

		@media screen and (min-width: 375px) {
			margin-top: rem-calc(-50);
		}

		@include breakpoint(medium) {
			margin-right: rem-calc(200);
		}

		@include breakpoint(menuSwitch) {
			margin-top: 0;
			font-size: rem-calc(60);
		}

		@include breakpoint(large) {
			font-size: rem-calc(90);
			margin-right: rem-calc(200);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(100);
			margin-right: rem-calc(300);
		}

		@include breakpoint(xxlarge) {
			font-size: rem-calc(120);
		}
	}

	&__scroll-cue {
		@include scroll-cue;
	}
}

//=================
// What Is CEA Section
//=================

.what-is-cea {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__content {
		@include breakpoint(medium) {
			min-height: 600px;
		}

		@include breakpoint(large) {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: rem-calc(60);
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: rem-calc(10);

		@include breakpoint(large) {
			font-size: rem-calc(36);
			margin-bottom: rem-calc(40);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(70);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		max-height: rem-calc(240);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: rem-calc(20) 0;
		object-fit: cover;
		@include breakpoint(large) {
			margin: 0 0 0 rem-calc(-$gutter-large);
			width: unset;
			background-image: url('/assets/img/what-is-cea.jpg');
			background-size: cover;
			background-position: left;
			// max-height: rem-calc(240);
			max-height: unset;

		}

		@include breakpoint(xxlarge) {
			margin: 0 0 0 rem-calc(-$gutter-xxlarge);
		}
	}

	&__bodytext {
		line-height: 1.6;
		margin-bottom: rem-calc(30);
	}

}

//=================
// CEA Carousel Section
//=================

.cea-carousel {
	overflow: hidden;
	margin-bottom: rem-calc(60);

	@include breakpoint(xlarge) {
		padding-left: $gutter-xlarge;
		padding-right: $gutter-xlarge;
	}

	@include breakpoint(xxlarge) {
		padding-left: $gutter-xxlarge;
		padding-right: $gutter-xxlarge;
	}

	.slick-slide {
		padding: rem-calc(2.5);

		@include breakpoint(menuSwitch) {
			padding: rem-calc(5);
		}
	}

	.carousel-nav {
		@include rb-add-page-gutters;
	}
}

//=================
// CEA First Seed Section
//=================

.cea-first-seed {
	margin-bottom: rem-calc(115);

	&__bodytext {
		@include rb-add-page-gutters;
		line-height: 1.6;
		margin-bottom: rem-calc(30);

		@include breakpoint(xxlarge) {
			p {
				width: rem-calc(600);
			}
		}
	}

	&__float-shape {
		width: 90%;
		float: right;
		shape-outside: url('/assets/img/cea-circle-outline.png');

		margin-right: -32px;

		@include breakpoint(medium) {
			margin-right: -$gutter-medium;
		}

		@include breakpoint(large) {
			margin-right: -$gutter-large;
		}

		@include breakpoint(xlarge) {
			margin-right: -$gutter-xlarge;
		}

		@include breakpoint(xxlarge) {
			margin-right: -$gutter-xxlarge;
		}

		@include breakpoint(xxlarge) {
			width: 1000px;
		}
	}

	&__heading {
		margin-top: rem-calc(60);

		@include breakpoint(xxlarge) {
			margin-top: rem-calc(260);
		}

		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.1;

		@include breakpoint(large) {
			font-size: rem-calc(36);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(70);
		}
	}
}

//=================
// CEA Netled Partnership Section
//=================

.cea-netled-partnership {
	position: relative;
	background-color: #FAF9F5;

	// @include rb-add-section-vertical-layout;
	&__text {
		@include rb-add-page-gutters;

		@include breakpoint(xlarge) {
			margin-top: rem-calc(120);
			margin-bottom: rem-calc(120);
			font-size: rem-calc(18);
		}
	}

	&__image-container {
		display: flex;
		flex-direction: column;
		margin-top: rem-calc(-20);

		@include breakpoint(xlarge) {
			margin-top: 0;
		}

		width: 100%;
		height: 100%;

		@include breakpoint(xlarge) {
			width: 100%;
			height: 40vw;

			&--pri {
				padding-right: rem-calc(40);
			}

			&--sec {
				padding-left: rem-calc(120);
				height: 36vw;
			}

		}
	}

	&__image {
		height: rem-calc(260);
		width: rem-calc(300);

		@include breakpoint(medium) {
			height: rem-calc(320);
			width: rem-calc(480);
		}

		@include breakpoint(xlarge) {
			width: 100%;
			height: 100%;
		}

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&--pri {
			align-self: flex-start;
			background-image: url('/assets/img/netled-partnership-1.jpg');
			position: relative;
			top: rem-calc(-50);

			@include breakpoint(xlarge) {
				top: 0;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: rem-calc(-20);
				right: rem-calc(-20);
				width: rem-calc(40);
				height: rem-calc(40);
				background-image: url('/assets/img/netled-symbol-black.svg');
				background-size: 300%;
				background-position: center;
				background-repeat: no-repeat;

				@include breakpoint(xlarge) {
					top: rem-calc(-52);
					right: rem-calc(-52);
					width: rem-calc(104);
					height: rem-calc(104);
				}
			}

			&::before {
				@include breakpoint(xlarge) {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: rem-calc(-112);
					left: rem-calc(-122);
					width: rem-calc(244);
					height: rem-calc(244);
					background-image: url('/assets/img/netled-symbol-black.svg');
					filter: invert(100%);
					background-size: 300%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}

		&--sec {
			align-self: flex-end;
			background-image: url('/assets/img/netled-partnership-2.jpg');
			position: relative;
			bottom: rem-calc(-50);

			@include breakpoint(xlarge) {
				bottom: 0;
				margin-bottom: rem-calc(60);
				margin-left: rem-calc(125);
			}
		}
	}

	&__logo {
		height: 120px;
		width: 120px;
		background-color: white;
		position: absolute;
		bottom: rem-calc(-120);
		left: 50%;
		margin-left: rem-calc(-60);
		background-image: url("/assets/img/netled-nam.svg");
		filter: invert(100%);

		@include breakpoint(xlarge) {
			height: 440px;
			width: 440px;
			margin-left: rem-calc(-220);
		}
	}
}

.cea-netled-partnership-team {
	@include rb-add-page-gutters;
	background-color: white;
	margin-top: rem-calc(200);
	margin-bottom: rem-calc(80);

	@include breakpoint(xlarge) {
		margin-top: 165px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		>* {
			max-width: rem-calc(920);
			text-align: center;
		}
	}

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: rem-calc(30);

		@include breakpoint(xlarge) {
			font-size: rem-calc(44);
		}
	}

	&__subhead {
		font-size: rem-calc(18)
	}
}

//================================
// Netled System Hero Section 
//================================

.netled-system-hero {
	position: relative;
	@include rb-add-page-gutters;
	// @include rb-add-section-vertical-layout;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #DADFD8;
	background-image: url('/assets/img/netled-system-hero.jpg');

	padding-top: rem-calc(168);
	padding-bottom: rem-calc(168);

	@include breakpoint(xlarge) {
		padding-top: rem-calc(300);
		padding-bottom: rem-calc(300);
	}

	@include breakpoint(xxlarge) {
		padding-top: rem-calc(400);
		padding-bottom: rem-calc(400);
	}

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__headline {
		margin-bottom: rem-calc(30);

		// font-size: rem-calc(54);
		@include breakpoint(large) {
			font-size: rem-calc(70);
		}

		@include breakpoint(xlarge) {
			max-width: rem-calc(1200);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(120);
			max-width: rem-calc(1200);
		}
	}

	&__subhead {
		max-width: rem-calc(260);
		margin-bottom: rem-calc(45);

		@include breakpoint(large) {
			max-width: unset;
			margin-bottom: 0;
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(32);
		}
	}


	&__scroll-cue {
		@include scroll-cue;
	}
}

//================================
// Netled System Performance Section 
//================================

.netled-system-performance {

	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include breakpoint(medium) {
			min-height: 600px;
		}

		@include breakpoint(large) {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__heading {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: rem-calc(10);

		@include breakpoint(large) {
			font-size: rem-calc(36);
			margin-bottom: rem-calc(40);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(70);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: rem-calc(20) 0;

		@include breakpoint(large) {
			margin: 0;
			width: unset;
			background-image: url('/assets/img/netled-system-performance.jpg');
			background-size: cover;
			background-position: center;
		}

		@include breakpoint(large) {
			margin-right: rem-calc(-$gutter-large)
		}

		;

		@include breakpoint(xlarge) {
			margin-right: rem-calc(-$gutter-xlarge)
		}

		;

		@include breakpoint(xxlarge) {
			margin-right: rem-calc(-$gutter-xxlarge)
		}

		;

	}

	&__bodytext {
		line-height: 1.6;
		margin-bottom: rem-calc(30);

		@include breakpoint(large) {
			margin-bottom: 0;
		}
	}


}

//================================
// Netled Which Vera Section 
//================================

.netled-which-vera {
	&__container {
		@include rb-add-page-gutters;
		margin-bottom: rem-calc(40);

		@include breakpoint(xlarge) {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		text-align: center;
		line-height: 1.1;
		margin-bottom: rem-calc(22);

		@include breakpoint(large) {
			font-size: rem-calc(36);
			// margin-bottom: rem-calc(40);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(44);
			margin-bottom: rem-calc(68);
		}
	}

	&__options-list {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		@include breakpoint(xlarge) {
			flex-direction: row;
			justify-content: center;
		}
	}

	&__option {
		display: block;
		font-size: rem-calc(14);
		width: 100%;
		padding: rem-calc(14) 0;
		background-color: black;
		color: white;
		font-weight: 700;
		text-align: center;
		margin: rem-calc(10) 0;

		&:hover,
		&:active,
		&:visited {
			color: white;
		}

		@include breakpoint(xlarge) {
			margin: 0 rem-calc(25);
			max-width: rem-calc(190);
		}
	}
}

//================================
// Netled Which Vera Section 
//================================

.netled-why-vera {
	background-color: #FAF9F5;

	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 50vw solid transparent;
		border-right: 50vw solid transparent;
		border-top: 10vw solid white;
		background-color: #FAF9F5;
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: rem-calc(20);
		background-image: linear-gradient(to left, #F98407, #B60E60);
	}

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		text-align: center;
		line-height: 1.1;
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(40);

		@include breakpoint(xlarge) {
			font-size: rem-calc(60);
			margin-top: rem-calc(90);
			margin-bottom: rem-calc(70);
		}
	}

	&__container {
		@include rb-add-page-gutters;

		@include breakpoint(xlarge) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__reasons-list {
		margin-bottom: rem-calc(40);

		@include breakpoint(xlarge) {
			margin-bottom: rem-calc(120);
		}

		@include breakpoint(large) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: rem-calc(1400);
		}

	}

	&__reason {
		line-height: 1.7;
		margin-bottom: rem-calc(40);

		@include breakpoint(large) {
			width: 50%;
			padding: 0 rem-calc(36)
		}

		@include breakpoint(xlarge) {
			width: 25%;
		}
	}

	&__reason-title {
		font-weight: 700;
		font-size: rem-calc(22);
		text-transform: uppercase;
		margin-bottom: rem-calc(8)
	}
}


//================================
// Netled Technology Section 
//================================

.netled-technology {
	background-color: #FFF;

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		text-align: center;
		line-height: 1.1;
		margin-top: rem-calc(80);
		margin-bottom: rem-calc(60);

		@include breakpoint(xlarge) {
			max-width: rem-calc(1400);
			font-size: rem-calc(60);
		}
	}

	&__container {
		@include rb-add-page-gutters;

		@include breakpoint(xlarge) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__features-list {
		@include breakpoint(large) {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			max-width: rem-calc(1400);
		}

	}

	&__features-group {
		@include breakpoint(large) {
			width: 50%;
		}
	}

	&__feature {
		line-height: 1.7;
		margin-bottom: rem-calc(40);

		@include breakpoint(large) {
			// width: 50%;
			padding: 0 rem-calc(36)
		}

		// @include breakpoint(xlarge) {
		// 	width: 25%;
		// }
	}

	&__feature-title {
		font-weight: 700;
		font-size: rem-calc(22);
		text-transform: uppercase;
		margin-bottom: rem-calc(8)
	}
}

//================================
// Netled Vera Features Section 
//================================

.netled-vera-features {
	background-color: #FAF9F5;

	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 50vw solid transparent;
		border-right: 50vw solid transparent;
		border-top: 10vw solid white;
		background-color: #FAF9F5;
	}

	&__prehead {
		font-weight: 600;
		text-transform: uppercase;
		font-size: rem-calc(22);
		margin-top: rem-calc(80);
		margin-bottom: rem-calc(25);

		@include breakpoint(xlarge) {
			padding: 0 rem-calc(36);
			align-self: flex-start;
		}
	}

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);

		@include breakpoint(xlarge) {
			font-size: rem-calc(60);
			padding: 0 rem-calc(36);
			align-self: flex-start;
		}

		font-weight: 700;
		// text-align: center;
		line-height: 1.1;
		// margin-top: rem-calc(80);
		margin-bottom: rem-calc(70);

	}

	&__container {
		@include rb-add-page-gutters;
		width: 100%;

		@include breakpoint(xlarge) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__features-list {
		@include breakpoint(large) {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			max-width: rem-calc(1400);
		}

	}

	&__features-group {
		@include breakpoint(large) {
			width: 50%;
		}
	}

	&__feature {
		line-height: 1.5;
		margin-bottom: rem-calc(80);

		@include breakpoint(large) {
			// width: 50%;
			padding: 0 rem-calc(36)
		}

		>p {
			font-weight: 600;
		}
	}

	&__feature-title {
		font-weight: 700;
		font-size: rem-calc(22);
		margin-bottom: rem-calc(18);
		line-height: 1.1;
	}

	&__feature-description {
		padding-left: 14px;
		background: linear-gradient(to top, #F98407, #B60E60);

		>p {
			background-color: #FAF9F5;
			margin: 0;
			padding-bottom: 1rem;
			padding-left: rem-calc(30);

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		// font-weight: 700;
		// font-size: rem-calc(22);
		// margin-bottom: rem-calc(8);
		// line-height: 1.1;
	}

	&__image {
		background-image: url('/assets/img/netled-vera-features.png');
		width: 100%;
		height: rem-calc(440);
		background-position: 80% 50%;
		background-size: cover;
		margin-top: rem-calc(-80);

		@include breakpoint(xlarge) {
			height: rem-calc(840);
			margin-top: rem-calc(-300);
		}

	}
}

//================================
// Netled Vera Range Section 
//================================
.netled-vera-range {
	background-color: white;
	@include rb-add-page-gutters;
	padding-top: rem-calc(90);

	@include breakpoint(large) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__headline {
		color: $rb-blue3;
		font-size: rem-calc(30);
		font-weight: 700;
		text-align: center;
		line-height: 1.1;
		letter-spacing: -0.02em;
		margin-bottom: rem-calc(65);

		@include breakpoint(large) {
			font-size: rem-calc(60);
		}
	}

	&__product-list {
		@include breakpoint(large) {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			max-width: rem-calc(1400);
		}
	}

	&__product {
		margin-bottom: rem-calc(70);

		@include breakpoint(large) {
			margin-bottom: rem-calc(170);
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			&:nth-of-type(odd) {
				.netled-vera-range__product-wrapper {
					padding-left: rem-calc(120);
					order: 2;
				}
			}

			&:nth-of-type(even) {
				.netled-vera-range__product-wrapper {
					padding-right: rem-calc(120);
				}
			}
		}
	}

	&__product-wrapper {
		@include breakpoint(large) {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			// padding-right: rem-calc(120);
		}

	}

	&__product-title {
		font-size: rem-calc(22);
		font-weight: 700;
		letter-spacing: -0.04em;
		margin-bottom: rem-calc(15);

		@include breakpoint(large) {
			font-size: rem-calc(28);
		}
	}

	&__product-image {
		background-image: url('/assets/img/vera-leafy-greens.jpg');

		&[data-product="leafy-greens"] {
			background-image: url('/assets/img/vera-leafy-greens.jpg');
		}

		&[data-product="herbs"] {
			background-image: url('/assets/img/vera-herbs.jpg');
		}

		&[data-product="berry"] {
			background-image: url('/assets/img/vera-berry.jpg');
		}
		width: 100%;
		height: rem-calc(220);
		background-size: cover;
		margin-bottom: rem-calc(30);

		&.show-for-large {
			height: rem-calc(400);
			width: 50%;
			margin-bottom: 0;
		}
	}

	&__product-description {
		line-height: 1.8;
		margin-bottom: rem-calc(15);

		@include breakpoint(large) {
			margin-bottom: rem-calc(30);
		}
	}
}




//================================
// CEA Intake Form Section 
//================================
.cea-intake {
	@include rb-add-page-gutters;
	background-color: #FAF9F5;
	padding-top: rem-calc(50);
	padding-bottom: rem-calc(75);

	&__prehead {
		font-weight: 500;
		font-size: rem-cal(16);
	}

	&__headline {
		color: $rb-blue3;
		font-weight: 700;
		font-size: rem-calc(30);
		line-height: 1.1;
		margin-bottom: rem-calc(45);

		// @include breakpoint(xlarge) {
		// 	font-size: rem-calc(60);
		// 	padding: 0 rem-calc(36);
		// 	align-self: flex-start;
		// }
	}

	&__form-cue {
		font-weight: bold;
		font-size: rem-calc(14);
		color: $rb-gray5;
		margin-bottom: rem-calc(28);
	}

	&__form-title {
		font-weight: bold;
		font-size: rem-calc(18);
		color: $rb-blue3;
		margin-bottom: rem-calc(30);
	}

	.hs-input {
		font-size: rem-calc(16);
		border-bottom: 1px solid #707070;
	}

	.hs-form-checkbox {
		position: relative;

		input[type='checkbox'] {
			position: absolute;
			cursor: pointer;
			height: 0;
			width: 0;
			left: -20px;
			visibility: hidden;

			&:before {
				content: " ";
				display: block;
				visibility: visible;
				position: relative;
				left: 20px;
				top: 3px;
				width: 18px;
				height: 18px;
				background-color: white;
				border: 1px solid black;
			}

			&:checked:before {
				background-color: $rb-green;
				content: '\2713';
				text-align: center;
				vertical-align: top;
				line-height: 20px;
			}
		}

		span {
			margin-left: rem-calc(30);
		}
	}

	label {
		font-size: rem-calc(14);

		&.hs-error-msg {
			color: $rb-error;
			font-style: italic;
			font-size: rem-calc(12);
		}
	}

	.hs-fieldtype-checkbox>label {
		margin-bottom: rem-calc(5);
	}

	textarea {
		margin-top: rem-calc(10);
		background-color: $rb-gray3;
		border: 1px solid $rb-gray4;
		min-height: 145px;
		padding: 10px;
	}

	ul.inputs-list {
		margin-left: 0;
	}

	li {
		list-style-type: none;
	}

	.hs-button {
		font-size: rem-calc(17);
		font-weight: bold;
		padding: rem-calc(15) 0;
		margin-top: rem-calc(20);
		cursor: pointer;
		background-color: transparent;
		border: 1px solid black;
		width: 100%;

		&:hover,
		&:active {
			color: white;
			background-color: black;
		}
	}

	@include breakpoint (large) {
		.hbspt-form {
			margin-left: -50px;
			margin-right: -50px;

			form {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;

				&>div {
					flex: 0 1 50%;
					padding: 0 50px;
				}

			}
		}
	}

}





//================================
// Consultation Form Section 
//================================

.consultation {
	@include rb-add-page-gutters;
	@include rb-add-section-vertical-layout;
	@include rb-input-styles;
	@include rb-button-styles;
	@include rb-form-styles;

	&__document-download {
		border: 1px solid $black;
		display: flex;
		padding: 20px 25px;
		border: 1px solid $black;
		margin: 2em 0;

		.pdf {
			margin-right: rem-calc(22);
			align-self: center;
		}
	}

	.single-line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input+label {
			flex-grow: 1;
			max-width: 40px;
			display: inline-block;
			width: auto;
		}
	}

	.cell.open-times {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;

		>div {
			&.day {
				width: 50px
			}

			&.separator {
				text-align: center;
				line-height: rem-calc(38);
				font-size: rem-calc(14);
				font-weight: bold;
				margin-bottom: 0.5em;
			}

			&.open-time,
			&.close-time {
				flex: 1;
				text-align: center;
				margin: 0 2px 0.5em 2px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-end;

				>* {
					margin: 0 2px;
				}

				label.time-hour,
				label.time-minute {
					margin-bottom: 0;

					input {
						margin-bottom: 0;
						text-align: center;

						&:active,
						&:focus {
							padding-left: 0;
							border: 1px solid $black;
						}

						&.error {
							padding-left: 0;
						}
					}

					flex: 0 0 44px;
				}

				.time-am-pm {
					flex: 0 0 55px;
					padding-left: 0;
				}

				>.separator {
					flex: 0 0 auto;
				}
			}

			&.closed-today {
				color: $rb-gray2;
				width: 100%;
				text-align: center;
				line-height: 42px;
				font-size: rem-calc(14);
				font-weight: bold;
				//padding-right: 44px;
			}
		}
	}

	div.step[data-step="1"].active~.form-controls {

		// Hide the Prev  and Submit button on the first step
		.prev,
		.submit {
			display: none;
		}

		.next,
		.start {
			display: block;
		}
	}

	div.step[data-step="2"].active~.form-controls,
	div.step[data-step="3"].active~.form-controls,
	div.step[data-step="4"].active~.form-controls,
	div.step[data-step="5"].active~.form-controls {

		// Only show Prev and Next button on the middle steps
		.next,
		.prev {
			display: block;
		}

		.start,
		.submit {
			display: none;
		}
	}

	div.step[data-step="6"].active~.form-controls {

		// Show the Submit button only if we're on the last step
		.prev,
		.submit {
			display: block;
		}

		.next,
		.start {
			display: none;
		}
	}
}


//=================================
// 404 Page 
//=================================

.not-found {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: auto;

	&__foreground {
		z-index: 2;
		max-width: 1200px;
		padding: 120px $gutter-small;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@media screen and (min-width: 400px) {
			justify-content: center;
		}

		@include breakpoint(medium) {
			padding: 80px $gutter-medium;
			min-height: 100vh;
		}

		@include breakpoint(large) {
			padding: 100px $gutter-large;

		}

		@include breakpoint(xlarge) {
			padding: 100px $gutter-xlarge;
		}

		@include breakpoint(xxlarge) {}

		// z-index: 2;

		// max-width: 600px;
	}

	&__prehead {
		font-size: rem-calc(24);
		font-weight: bold;
		line-height: 1;

		@include breakpoint(medium) {
			font-size: rem-calc(40);
			margin-bottom: -.3em;
		}

		@include breakpoint(large) {
			font-size: rem-calc(60);
		}
	}

	&__headline {
		font-size: rem-calc(75);
		font-weight: bold;
		line-height: 1;
		margin-bottom: rem-calc(20);

		@include breakpoint(medium) {
			font-size: rem-calc(100);
		}

		@include breakpoint(xlarge) {
			font-size: rem-calc(178);
		}
	}

	&__content {
		@include breakpoint(xlarge) {
			font-size: rem-calc(26);
		}
	}

	&__cta {
		margin-top: 1em;
	}

	@keyframes blush {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	&__background {
		@include breakpoint(menuSwitch) {
			padding-right: 90px;
		}

		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__blush {
		height: 50vh;
		width: 25vh;
		max-width: 25vw;
		max-height: 50vw;
		background-image: url('/assets/img/blush.png');
		background-repeat: no-repeat;
		background-size: cover;
		animation: blush 5s;

		&--left {
			background-position: center right;
		}

		&--right {
			background-position: center left;
		}
	}
}



//=================================
// Footer Section 
//=================================

.footer {
	width: 100%;
	font-size: rem-calc(12);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1em $gutter-small rem-calc(160) $gutter-small;

	@include breakpoint(medium) {
		padding-left: $gutter-medium;
		padding-right: $gutter-medium;
	}

	@include breakpoint(menuSwitch) {
		padding-bottom: 0;
	}

	@include breakpoint(xlarge) {
		padding-bottom: 1em;
		flex-direction: row;
		justify-content: space-between;
	}

	div {
		margin-bottom: 0.8em;

		@include breakpoint(xlarge) {
			margin-bottom: 0;
		}
	}

	&__social-links {
		display: flex;
		justify-content: space-between;
		width: rem-calc(200);
		margin-bottom: 1.5em;
	}

	// &__company-name {

	// }
	&__tel-fax {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media screen and (min-width: 400px) {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	// &__tel {

	// }
	&__tel-spacer {
		display: none;

		@media screen and (min-width: 400px) {
			padding: 0 rem-calc(12);
			display: block;
		}
	}
}

body.no-nav .footer {
	padding-bottom: 0;

	@include breakpoint(xlarge) {
		padding-bottom: 1em;
	}
}






// // Popular product carousel section
// section#popular-products {
// 	padding: 6em 0;
// 	.headline {
// 		font-size: 1.5em;
// 		font-weight: bold;
// 		margin-bottom: 1.25em;
// 	}
// 	#pre-carousel {
// 		position: relative;
// 		z-index: 2;
// 	}
// 	#post-carousel {
// 		position: relative;
// 		z-index: 2;
// 	}
// 	.carousel {
// 		margin-bottom: -40px;
// 	}
// }


// section#newsletter-signup {
// 	position: relative;
// 	padding-bottom: rem-calc(50);
// 	padding-top: rem-calc(120);
// 	.lead {
// 		margin: 0 0 0.8em 0;	
// 		font-size: rem-calc(18);
// 		font-weight: normal;
// 	}
// 	.heading {
// 		font-size: rem-calc(44);
// 		line-height: 1.2;
// 		font-weight: bold;
// 	}
// 	.count-container .block-count {
// 		color: $black;
// 	}
// 	.form-controls {
// 		padding-top: rem-calc(32); 
// 		padding-bottom: rem-calc(32); 
// 	}
// 	fieldset {
// 		min-height: 180px;
// 	}
// 	// #consent-label {
// 		// margin-left: 0;
// 		// margin-top: rem-calc(24); 
// 		// margin-bottom: rem-calc(16)
// 	// }
// 	#consent-text {
// 		display: inline-block;
// 		font-size: rem-calc(16);
// 	}

// div#rambridge {
// 	max-width: 400px;
// 	width: 70%;
// 	img {
// 		width: 100%;
// 		margin-bottom:rem-calc(80);
// 	}
// }
// div.message {
// 	position: absolute;
// 	bottom: 25%;
// }