
@mixin gutters {
	padding-left: $gutter-small;
	padding-right: $gutter-small;
	@include breakpoint(medium) {
		padding-left: $gutter-medium;
		padding-right: $gutter-medium;
	}
}

.product-details {
	padding-top: rem-calc(117);
	@include breakpoint(menuSwitch) {
		padding-top: rem-calc(70);
	}
	&__images {
		padding-bottom: 5em;
		position: relative;
	}
	&__scroll-cue {
		@include scroll-cue;
		bottom: -30px !important;
	}
	&__backlink {
		@include gutters;
		font-size: rem-calc(12);
		font-weight: 500;
		&:before {
				display: inline-block;
				content: url('/assets/img/right-arrow.svg');
				transform: rotate(180deg);
				width: 2em;
				height: 1em;
				margin-right: .5em;
				padding-bottom: .5em;
				line-height: 1;
		}
	}
	&__category {
		display: none;
		@include breakpoint(menuSwitch) {
			display: block;
			@include gutters;
			font-size: rem-calc(26);
			font-weight: 500;
			color: $rb-blue3;
			margin-top: rem-calc(16);
		}
	}
	&__title {
		@include gutters;
		font-weight: normal;
		font-size: rem-calc(18);
		letter-spacing: -0.05em;
		margin-top: rem-calc(16);
		@include breakpoint(menuSwitch) {
			font-size: rem-calc(44);
			margin-top: 0;
		}
	}
	&__carousel {
		margin: 2em 0;
		&-nav {
			@include gutters;
		}

		width: 100%;
		height: 400px;
		overflow: hidden;

		div img {
			width: 100%;
			height: 400px; 
			object-fit: contain; 
			object-position: center;
		}
	}
	&__overview {
		padding-top: 5em;
		padding-bottom: 5em;
		@include gutters;
		&-title {
			font-size: rem-calc(24);
			font-weight: bold;
			line-height: 1;
			margin-bottom: .3em;
			@include breakpoint(menuSwitch) {
				font-size: rem-calc(36);
			}
		}
		&-product-name {
			margin-bottom: 2.5em;
			@include breakpoint(menuSwitch) {
				font-size: rem-calc(28);
			}
		}
	}
	&__documents {
		padding-top: 5em;
		padding-bottom: 3em;
		@include gutters;
		&-title {
			font-size: rem-calc(24);
			font-weight: bold;
			line-height: 1;
			margin-bottom: .3em;
			@include breakpoint(menuSwitch) {
				font-size: rem-calc(36);
			}
		}
		&-download {
			display: flex;
			padding: 20px 25px;
			@include breakpoint(large) {	
				padding: 30px 45px;
			}
			border: 1px solid $black;
			margin: 2em 0;
			.pdf {
				flex: 0 0 auto;
				width: 35px;
				height: 47px;
				margin-right: rem-calc(22);
				align-self: center;
			
				background-image: url("/assets/img/pdf.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				@include breakpoint(large) {	
					width: 60px;
					height: 78px;
				}
			}
			.dl-text {
				// flex: 1 1 auto;
				display: flex;
				flex-direction: column;				
				@include breakpoint(large) {	
					width: 100%;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					p {
						margin: 0;
						width: auto;
					}
				}
			}
			.download {
				flex: 0 0 auto;
				width: rem-calc(145);
				max-height: rem-calc(30);
			}
			.description {
				margin-right: 1em;
			}
		}
	}
}

.product-listing {
	padding-top: rem-calc(117);
	@include breakpoint(menuSwitch) {
		padding-top: rem-calc(70);
		padding-bottom: rem-calc(70);
	}
	&__top-level-category {
		@include gutters;
		margin-top: rem-calc(16);
		@include breakpoint(menuSwitch) {
			font-size: rem-calc(26);
			font-weight: 500;
			line-height: 1.1;
			color: $rb-blue3;
		}
	}
	&__backlink {
		@include gutters;
		font-size: rem-calc(12);
		font-weight: 500;
		cursor: pointer;
		&:before {
				display: inline-block;
				content: url('/assets/img/right-arrow.svg');
				transform: rotate(180deg);
				width: 2em;
				height: 1em;
				margin-right: .5em;
				padding-bottom: .5em;
				line-height: 1;
		}
	}
	&__category {
		background-color: $rb-silver;
		padding: rem-calc(18) 0;
		margin: rem-calc(18) 0;
		font-size: rem-calc(18);
		line-height: 1.1;
		div {
			@include gutters;
		}
		@include breakpoint(menuSwitch) {
			background-color: transparent;
			font-size: rem-calc(44);
			padding-top: 0;
			margin-top: 0;
		}
	}
	&__cue {
		@include gutters;
		@include breakpoint(menuSwitch) {
			display: none;
		}
	}
	&__grid {
		@include gutters;
	}
	&__cell {
		position: relative;
		// @include breakpoint(menuSwitch) {	
		// }
	}
	&__image-container {
		transition: all .3s;
		@include breakpoint(menuSwitch) {
			transform: scale(0.9);
			transform-origin: center;
		// 	font-size: 111.111%;
			&:hover {
				box-shadow: 0px 3px 6px #00000035;
				transform: scale(1);
				// font-size: 100%;
				.overlay, .product-listing__cta {
					opacity: 1;
				}
				
			}
		}
		.overlay {
			display: none;
			@include breakpoint(menuSwitch) {
				display: flex;
			}
			transition: opacity .3s;
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-left: rem-calc(30);
			height: 20%;
			color: $white;
			align-items: center;
			background-color: #264474;
			mix-blend-mode: multiply;
			z-index: 2;
			// IE doesnt support mix-blend-mode
			// Add opacity rule for IE only
			// https://stackoverflow.com/questions/28417056/how-to-target-only-ie-any-version-within-a-stylesheet
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				opacity: .8;
			}
		}
	}
	&__cta {
		display: none;
		@include breakpoint(menuSwitch) {
			display: flex;
		}
		transition: opacity .3s;
		opacity: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-left: rem-calc(30);
		height: 20%;
		color: $white;
		align-items: center;
		z-index: 3;
	}
	&__image {
		// @include gutters;
		img {
			border: 1px solid $rb-gray1; 
		}

	}
	&__title {
		// @include gutters;
		padding-top: rem-calc(15);
		margin-bottom: rem-calc(45);
		@include breakpoint(menuSwitch) {
			padding: 0;
			position: absolute;
			top: rem-calc(35);
			left: rem-calc(30);
		}
	}
}




// #product-listing {
// 	padding-top: rem-calc(110);
// 	padding-bottom: rem-calc(55);
// 	.top-level-category {
// 		padding-bottom: 1em;
// 	}
// 	.product-listing-image {
// 		border: 1px solid $rb-gray1;
// 	}
// 	.product-title {
// 		font-size: rem-calc(16); 
// 		margin: 1em 0 2em 0;
// 	}
// 	.category {
// 		background-color: $rb-silver;
// 		padding: 1em 32px;
// 		margin: 0 rem-calc(-32) 1em rem-calc(-32);
// 	}
// }

div.rb-spec {
	border: 1px solid $black;
	margin-bottom: 2em;
	.product-spec {
		padding: 1em 3em 1em 1em;
		position: relative;
		font-size: 1rem;
		background-color: transparent;
		color: $black;
		//border: 1px $black solid;
		//border-bottom: 1em $rb-gray1 solid;
		p.product-spec-title {
			margin: 0 .8em 0 0;
		}	
		p.product-spec-detail {
			margin: 0 .8em 1.6em 0;
			font-size: rem-calc(14);
		}	
		p.product-spec-sku {
			margin: 0 .8em 0 0;
			font-size: rem-calc(14);
		}	
		&.has-specs {
			cursor: pointer;
		}
	
		&.has-specs::before {
			position: absolute;
			width: 45px;
			height: 45px;
			margin: 0;
			border-radius: 50%;
			right: rem-calc(16);
			bottom: rem-calc(16);
			font-size: 40px;
			line-height: 45px;
			font-weight: 300;
			content: '\002B';
			text-align: center;
			//vertical-align: center;
			//padding-top: rem-calc(10);
			background-color: $black;
			color: $white;
		}
		&.has-specs[aria-expanded="true"]::before {
			content: '\2212';
		}

	}
	.product-spec-content {
		padding: 0;
		color: $black;
		// border: 1px solid $black;
	}
	.product-spec.has-specs ~ .product-spec-content {
		display: none;
		&.expanded {
			display: block;
		}
	}

	// Spec table styles
	table {
		width: 100%;
		margin-bottom: 0;
	}
	thead, tbody, tfoot {
		border: none;
	}
	td,th {
		padding: 8px;
	}
	// tr {
	// 	background-color: #white;
	// }
	td {
		background-color: #DFE2E3;
	}
	thead {
		font-weight: 600;
		background-color: #A29DA5;
		color: $white;
	}
	@include breakpoint(menuSwitch) {
		tr td:first-of-type, tr th:first-of-type {
			padding-left: 1em;
		}
	}

	@include breakpoint(medium down) {
		table, tbody, thead, tbody, th, td, tr {
			display: block;
			// float: left;/* ie9 fix */
			width: 100%;
			clear: both;
			border: none;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr td:first-of-type {
			font-weight: bold;
			background-color: #A29DA5;
			color: $white;
		}
		tr {
			border: none;
			margin-bottom: 1em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		td,th {
			border: none;
			font-weight: normal;
		}
		td:before {
			font-weight: 600;
			float:left;
			width: 95%;
			padding: 0 0 0 1%;
			margin-left:-100%;
			content: attr(data-label);
		}
		td {
			padding-left: 50%;
			padding-left: calc(50% + 4px);
			box-sizing:border-box; 
		}

		/*
		Label the data
		*/
		// td:nth-of-type(1):before {content: "First Attr";}
		// td:nth-of-type(2):before {content: "Second Attr";}
		// td:nth-of-type(3):before {content: "Third Attr";}
		// td:nth-of-type(4):before {content: "Volume (cf)";}
		// td:nth-of-type(5):before {content: "Weight (lb)";}
		// td:nth-of-type(6):before {content: "Length (in)";}
		// td:nth-of-type(7):before {content: "Width (in)";}
		// td:nth-of-type(8):before {content: "Height (in)";}
	}

}