$gutter-small: 32px;
$gutter-medium: 120px;
$gutter-large: 120px;
$gutter-xlarge: 120px;
$gutter-xxlarge: 160px;
$menu-width: 70px;

section#site-select {
    // @include breakpoint(menuSwitch) {
    //     margin-right: rem-calc($menu-width);
    // }
    min-height: 100vh !important;
    // height: 100%;

    padding: rem-calc(110) rem-calc($gutter-small) rem-calc(140) rem-calc($gutter-small);

    @media screen and (min-width: 375px) {
        padding: rem-calc(110) rem-calc($gutter-small) rem-calc(200) rem-calc($gutter-small);
    }

    @include breakpoint(menuSwitch) {
        min-height: 600px;
        padding: 80px $gutter-medium;
    }

    @include breakpoint(large) {
        padding: 100px $gutter-large;
    }

    @include breakpoint(xlarge) {
        padding: 100px $gutter-xlarge;
    }

    @include breakpoint(xxlarge) {
        padding: 100px $gutter-xxlarge;
    }
}


.site-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // margin-top: rem-calc(25);
    align-items: flex-start;
    @include breakpoint(portrait) {
        @include breakpoint(xlarge) {
            flex-direction: row;
            margin-top: 0;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
    }
    @include breakpoint(landscape) {
        @include breakpoint(menuSwitch) {
            flex-direction: row;
            margin-top: 0;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
    }
    &__card {
        video {
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center center;
        }
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        flex: 1 1 0;
        display: flex;
        position: relative;
        min-height: rem-calc(150);
        width: 100%;
        margin-bottom: rem-calc(12);
        max-width: 800px;
        max-height: 800px;
        overflow: hidden;
        box-shadow: 20px 20px 30px #00000029;
        color: white;

        @include breakpoint(portrait) {
            @include breakpoint(xlarge) {
                margin: 0 rem-calc(20);

            }
        }
        @include breakpoint(landscape) {
            @include breakpoint(menuSwitch) {
                margin: 0 rem-calc(20);

            }
        }

        h1 {
            font-size: rem-calc(18);
            font-weight: 500;
            line-height: 1.1;
            margin-right: rem-calc(40);

            @include breakpoint(medium) {
                @include breakpoint(portrait) {
                    font-size: rem-calc(24);
                }
            }
            @include breakpoint(large) {
                margin-right: rem-calc(70);
                font-size: rem-calc(20);
                line-height: 1.2;
                @include breakpoint(portrait) {
                    font-size: rem-calc(40);
                    line-height: 1.2;
                }
            }
    
            @include breakpoint(xlarge) {
                @include breakpoint(portrait) {
                    font-size: rem-calc(40);
                    line-height: 1.3;
                }
            }
    
            @include breakpoint(xxlarge) {
                font-size: rem-calc(40);
                line-height: 1.4;
            }
        }

        background-size: cover;
        background-position: center center;
        &--rambridge {
            background-color: #E6E9E4;
            background-image:url('/assets/img/nursery-greenhouse.jpg');
        }

        &--netled {
            background-color: #99552E;
            background-image:url('/assets/img/netled-site-bg.jpg');
        }

        &--dark {
            color: black;
        }
    }

    &__card-contents {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex: 1 1 0;

        // Apply perimeter spacing here
        padding: rem-calc(20);
        @include breakpoint(portrait) {
            @include breakpoint(menuSwitch) {
                padding: rem-calc(40);
            }
            @include breakpoint(large) {
                padding: rem-calc(64);
            }
        }
        @include breakpoint(landscape) {
            // @include breakpoint(menuSwitch) {
            //     padding: rem-calc(40);
            // }
            @include breakpoint(large) {
                padding: rem-calc(40);
            }
            @include breakpoint(xlarge) {
                padding: rem-calc(64);
            }
        }

    }
    &__card-contents-inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__button {
        font-size: rem-calc(12);
        font-weight: bold;
        text-align: center;
        background-color: white;
        color: black;
        width: rem-calc(120);
        padding: rem-calc(10) rem-calc(20);
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint(portrait) {
            @include breakpoint(large) {
                bottom: 0;
                left: 0;
                right: unset;
                font-size: rem-calc(18);
                width: rem-calc(250);
                padding: rem-calc(20) rem-calc(80);
            }
        }

        @include breakpoint(landscape) {
            @include breakpoint(xlarge) {
                bottom: 0;
                left: 0;
                right: unset;
                font-size: rem-calc(18);
                width: rem-calc(250);
                padding: rem-calc(20) rem-calc(80);
            }
        }

        &--dark {
            background-color: black;
            color: white;
        }
    }

    &__logo {
        height: rem-calc(94);
        width: rem-calc(94);
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        &--rambridge {
            // background-color: hotpink;
            background: rgba(217, 223, 218, .8);
            background-image:url('/assets/img/rambridge-logo-alt.svg');
            background-size: cover;
        }

        @include breakpoint(portrait) {
            @include breakpoint(medium) {
                height: rem-calc(154);
                width: rem-calc(154);    
            }
            @include breakpoint(large) {
                height: rem-calc(180);
                width: rem-calc(180);
                margin-bottom: rem-calc(-90);
                margin-left: rem-calc(-90);
                bottom: 50%;
                left: 50%; 
            }
            @include breakpoint(xxlarge) {
                height: rem-calc(260);
                width: rem-calc(260);
                margin-bottom: rem-calc(-130);
                margin-left: rem-calc(-130);
            }
        }

        @include breakpoint(landscape) {
            @include breakpoint(xlarge) {
                height: rem-calc(120);
                width: rem-calc(120);
                margin-bottom: rem-calc(-60);
                margin-left: rem-calc(-60);
                bottom: 50%;
                left: 50%; 
            }
            @include breakpoint(xxlarge) {
                height: rem-calc(180);
                width: rem-calc(180);
                margin-bottom: rem-calc(-90);
                margin-left: rem-calc(-90);
                bottom: 50%;
                left: 50%; 
            }
        }

    }
}