<div class="nav__cea-downloads">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title nav__menu-item">Downloads &amp; Media</a>
            <div class="accordion-content" data-tab-content>
                {{#each ceaDownloadsMedia.items}}
                    <div class="nav__menu-item">
                    {{#if this.fields.download.fields.file.url }}
                        <a href="{{ this.fields.download.fields.file.url }}" target="_blank">{{ this.fields.linkText }}</a>
                    {{else}}
                        <a class="external-link" href="{{ this.fields.externalLink }}" target="_blank">{{ this.fields.linkText }}</a>
                    {{/if}}
                    </div>
                {{/each}}
            </div>
        </li>
    </ul>
</div>