{{!-- Modals, menus, footers etc that are required on all pages. --}}

<div id="rambridge-logo" class="logo nav__link nav__link--home" ></div>
<div id="netled-logo" class="logo nav__link nav__link--cea-home" ></div>

<button type="button" class="nav__button nav__button--fixed nav__button--gray nav__button--locator nav__button--secondary nav__button--hide-on-scroll nav__trigger--locator"></button>
<button type="button" class="nav__button nav__button--fixed nav__button--gray nav__button--menu nav__button--primary nav__trigger--main" id="main-menu"></button>
<button type="button" class="nav__button nav__button--fixed nav__button--gray nav__button--info nav__button--tertiary" data-open="information-modal"></button>

{{> mobile-menu-bar }}
{{> information-modal }}
{{> locator-modal }}
{{> privacy-modal }}
{{> terms-and-conditions-modal }}
{{> client-login }}
{{> quick-product-info-modals }}
{{> social-links}}