<div class="nav__faqs">

    <div class="nav__heading">
        Questions?<br />We&apos;ve&nbsp;got&nbsp;answers!
    </div>
    <p class="nav__contact">
        If you can&apos;t find what you are looking for below call us toll free at <a class="tel"
            href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a>
    </p>

    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title accordion-title--alt">
                <div class="nav__faq-number">Q1</div>
                <div class="nav__faq-question">Who can open a Rambridge account?</div>
            </a>
            <div class="accordion-content" data-tab-content>
                <p>As a wholesaler, Rambridge is unable to cater to the general public. If you are a business, you can
                    <span class="nav__link nav__trigger--create-account">open an account</span> with Rambridge to purchase our products. If you are an end user, please use our
                    <span class="nav__link nav__trigger--locator">store locator</span> to find our products near you.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title accordion-title--alt">
                <div class="nav__faq-number">Q2</div>
                <div class="nav__faq-question">How do I open a Rambridge account?</div>
            </a>
            <div class="accordion-content" data-tab-content>
                <p>If you are a business, you can open an account with Rambridge <span
                        class="nav__link nav__trigger--create-account">here</span></p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title accordion-title--alt">
                <div class="nav__faq-number">Q3</div>
                <div class="nav__faq-question">Where can I find Rambridge products?</div>
            </a>
            <div class="accordion-content" data-tab-content>
                <p>Rambridge products are available around the world. To find a retailer near you, <span
                        class="nav__link nav__trigger--locator">click here</span></p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title accordion-title--alt">
                <div class="nav__faq-number">Q4</div>
                <div class="nav__faq-question">What is Rambridge&apos;s warranty process?</div>
            </a>
            <div class="accordion-content" data-tab-content>
                <p>If you have an account with Rambridge, please <a class="nav__link"
                        href="https://assets.ctfassets.net/09thoqeer93l/2YcA55fgg2zUuk4OG8jKUc/1259758df687707667656e9e2989aac2/RAM_Warranty_RMA_Form_2020.pdf"
                        target="_blank">complete this form</a> and submit to <a class="nav__link"
                        href="mailto:warranty@rambridge.com">warranty@rambridge.com</a>.</p>
                <p>A customer service representative will be in touch to assist you shortly!</p>
            </div>
        </li>
    </ul>
    <p class="nav__contact">
        Did we miss your question? We&apos;d love to answer it for you. Just give us a call toll-free at <a class="tel"
        href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a> and a member of our support team will be glad to assist you. 
    </p>
</div>