<footer class="footer black">
	<div class="footer__social-links social-links hide-for-xlarge">
		<a href="https://www.facebook.com/Rambridge-Wholesale-280562465394955/" target="_blank" rel=”noopener”>
			<img src="/assets/img/facebook-white.svg" alt="Facebook icon">
		</a>
		<a href="https://twitter.com/rambridgegrows" target="_blank" rel=”noopener”>
			<img src="/assets/img/twitter-white.svg" alt="Twitter icon">
		</a>
		<a href="https://www.youtube.com/user/RambridgeGrows/videos" target="_blank" rel=”noopener”>
			<img src="/assets/img/youtube-white.svg" alt="YouTube icon">
		</a>
		<a href="https://www.instagram.com/rambridgegrows" target="_blank" rel=”noopener”>
			<img src="/assets/img/instagram-white.svg" alt="Instagram icon">
		</a>
	</div>
	<div class="footer__company-name">
		<strong>©&nbsp;2022&nbsp;Rambridge&nbsp;Wholesale&nbsp;Supply</strong>
	</div>
	<div class="footer__address">
		#150,&nbsp;7880&nbsp;66&nbsp;Street&nbsp;SE, Calgary,&nbsp;AB,&nbsp;T2C&nbsp;5V2
	</div>
	<div class="footer__tel-fax">
		<div class="footer__tel">
			Toll&nbsp;Free: <a class="tel" href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a>
		</div>	
		<div class="footer__tel-spacer"> | </div>
		<div class="footer__fax">
			Toll&nbsp;Free&nbsp;Fax: 1&#8209;866&#8209;852&#8209;5475
		</div>	
	</div>
</footer>