<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{{formatbrand title bold=false}}}</title>
	<link rel="stylesheet" href="/{{root}}assets/css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
	<meta name="Description" content="Rambridge is a family-run manufacturer and wholesale distributor based in Canada, focused on indoor/outdoor growing and products.">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
	<meta name="msapplication-TileColor" content="#ffb8b8">
	<meta name="msapplication-TileImage" content="/mstile-150x150.png">
	<meta name="theme-color" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{{formatbrand title bold=false}}}">
	<meta property="og:description" content="Rambridge is a family-run manufacturer and wholesale distributor based in Canada, focused on indoor/outdoor growing and products.">
	<meta property="og:image" content="https://rambridge.com/assets/img/rambridge-sharecard.jpg">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140457658-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-140457658-2');
	</script>
</head>
