<div class="nav__menu-top darkblue">
	<div class="nav__menu-title">
		Wholesale Items
	</div>
	<button type="button"
		class="nav__button nav__button--close-white nav__button--fixed nav__button--primary nav__button--lighten"
		data-close></button>
</div>

<div class="nav__wholesale-container">
	<ul class="accordion" data-accordion data-allow-all-closed="true">
		{{#each menu.items}}
		<li class="nav__accordion-item accordion-item" data-accordion-item>
			<a href="#" class="nav__menu-item accordion-title">{{ this.fields.headingName }}</a>
			<div class="accordion-content" data-tab-content>
				<ul>
					{{#each this.fields.subItems}}
					<li {{#ifequal this.fields.indent 1}}class="indent" {{/ifequal}}>
						<a href="/{{ this.fields.linkTarget.fields.slug }}.html">{{ this.fields.title }}</a>
					</li>
					{{/each}}
				</ul>
			</div>
		</li>
		{{/each}}
	</ul>
</div>