<div class="contact">
	<div class="contact__intro darkgray">
		<button class="nav__button nav__button--modal nav__button--close-white nav__button--fixed nav__button--darken nav__trigger--main"></button>
		<div class="contact__intro-back-link nav__trigger--main">Back To Main Menu</div>
		<div class="contact__intro-heading">Give us a shout!</div>
		<div class="contact__intro-subhead">Our success team will quickly be in touch</div>
	</div>
	<div class="contact__main">
		<form class="contact__form" action="/" name="contact-form-v2" novalidate data-netlify="true">
			<fieldset>
				<div class="grid-x grid-margin-x">
					<div class="cell">
						<label for="contact-business-name">Business Name<input name="contact-business-name" type="text" id="contact-business-name" placeholder="Business Name"></label>
					</div>
					<div class="cell">
						<label for="contact-contact-name">Contact Name<input name="contact-contact-name" type="text" id="contact-contact-name" placeholder="* Contact Name" required></label>
					</div>
					<div class="cell">
						<label for="contact-company-title">Company Title<input name="contact-company-title" type="text" id="contact-company-title" placeholder="Company Title"></label>
					</div>
					<div class="cell small-6">
						<label for="contact-phone">Phone<input name="contact-phone" type="text" id="contact-phone" placeholder="Phone"></label>
					</div>
					<div class="cell small-6">
						<label for="contact-email">Email<input name="contact-email" type="text" id="contact-email" placeholder="Email"></label>
					</div>
					<div class="cell">
						<label for="contact-company-website">Company Website<input name="contact-company-website" type="text" id="contact-company-website" placeholder="Company Website"></label>
					</div>
					<div class="cell">
						<label>Additional Information<textarea id="contact-additional-info" name="contact-additional-info" placeholder="If you have anything you would like to ask us while you are here, please let us know."></textarea></label>
					</div>
					<div class="cell auto"></div>
					<div class="cell medium-5">
						<button type="submit" class="button expanded arrow-fw gold text-left submit">Send</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<!-- Start of completion screen -->
<div class="contact__thankyou">
		<div class="contact__thankyou-logo">
			<img src="/assets/img/rambridge+ram.svg">
		</div>
		<div class="contact__thankyou-message">
			<div><strong>Message received!</strong></div>
			<div>We’ll get back to you soon.</div>
		</div>
	
	</div>
	<!-- End of completion screen -->
</div>