<div class="create-account__intro-container ">
		<button class="hide-for-menuSwitch nav__button nav__button--primary nav__button--close nav__button--fixed darkblue" data-close><img src="/assets/img/close-white.svg"></button>
	<div class="lightblue create-account__intro step active">
		<div class="create-account__intro-heading">Create&nbsp;Your Free&nbsp;Account</div>
		<div class="create-account__intro-subhead">Let's kickstart your growth together!</div>
	</div>
	<div class="lightblue create-account__intro step">
		<div class="create-account__intro-step">Creating Account</div>
	</div>
	<div class="lightblue create-account__intro step">
		<div class="create-account__intro-step">Creating Account</div>
	</div>
	<div class="lightblue create-account__intro step">
		<div class="create-account__intro-step">Creating Account</div>
	</div>
	<div class="lightblue create-account__intro step">
		<div class="create-account__intro-step">Creating Account</div>
	</div>
	<div class="lightblue create-account__intro step">
		<div class="create-account__intro-step">Creating Account</div>
	</div>
</div>

<div class="create-account create-account__main">
	<form action="/" method="POST" id="application-form" name="application-form"
		class="create-account__application-form" novalidate data-netlify="false">

		{{> application-step-1 }}
		{{> application-step-2 }}
		{{> application-step-3 }}
		{{> application-step-4 }}
		{{> application-step-5 }}
		{{> application-step-6 }}
		{{> application-complete }}
		{{> form-controls }}
		{{> application-form-tidy }}
		
	</form>
</div>

<div class="create-account__progress-container">
	<div class="lightblue create-account__progress step active">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0"
			aria-valuetext="0 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 5%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Basic Information:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">0</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0"
			aria-valuetext="25 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 25%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Business Information:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">25</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="40" aria-valuemin="0"
			aria-valuetext="40 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 40%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Business Information:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">40</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="60" aria-valuemin="0"
			aria-valuetext="60 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 60%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Facility Information:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">60</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0"
			aria-valuetext="75 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 75%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Facility Information:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">75</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0"
			aria-valuetext="90 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 90%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">Upload Documents:</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">90</span>% Complete
			</div>
		</div>
	</div>

	<div class="lightblue create-account__progress step">
		<div class="create-account__progress-bar" role="progressbar" tabindex="0" aria-valuenow="100" aria-valuemin="0"
			aria-valuetext="100 percent" aria-valuemax="100">
			<div class="progress-meter" style="width: 100%"></div>
		</div>
		<div class="grid-x">
			<div class="cell small-6 create-account__progress-step">See, that was easy!</div>
			<div class="cell small-6 text-right create-account__progress-percent">
				<span class="create-account__progress-percent-num">100</span>% Complete
			</div>
		</div>
	</div>
</div>
