<div class="nav__menu-top silver">
	<div class="nav__menu-title">
		Main Menu
	</div>
	<button type="button"
		class="nav__button nav__button--close nav__button--fixed nav__button--primary nav__button--darken nav__trigger--close"
		data-close></button>
	<button type="button" class="nav__button nav__button--home nav__button--fixed nav__button--secondary"></button>
</div>

<div class="silver nav__main-menu-container">

	<div class="nav__menu-item nav__link--home show-for-menuSwitch">Home</div>
	<div class="nav__menu-item"><a href="/about.html">About Us</a></div>

	<div class="nav__menu-item nav__trigger--wholesale hide-for-menuSwitch"><a href="#">Wholesale Items</a></div>
	<div class="nav__menu-item"><a href="/cannabis-applications.html">Cannabis Applications</a></div>
	<div class="nav__menu-item"><a href="/nursery-and-greenhouse.html">Nursery &amp; Greenhouse</a></div>

	<ul class="accordion" data-accordion data-allow-all-closed="true">
		<li class="nav__accordion-item accordion-item" data-accordion-item>
			<a href="#" class="nav__menu-item accordion-title">Controlled Environment Agriculture</a>
			<div class="accordion-content nav__cea" id="cea" data-tab-content>
					<div class="nav__menu-item"><a href="/cea/index.html">Go Vertical</a></div>
					<div class="nav__menu-item"><a href="/cea/why-we-dig-it.html">Why We Dig It</a></div>
					<div class="nav__menu-item"><a href="/cea/news.html">News</a></div>
					<div class="nav__menu-item"><a href="#" class="nav__trigger--wholesale">Consumables &amp; Accessories</a></div>
					<div class="nav__menu-item"><a href="/cea/netled-system.html">Netled Vertical Farming Systems</a></div>
					{{> cea-downloads }}
			</div>
		</li>
		<li class="nav__accordion-item accordion-item" data-accordion-item>
			<a href="#" class="nav__menu-item accordion-title">Resources</a>
			<div class="accordion-content" id="support" data-tab-content>
				{{> resources }}
			</div>
		</li>
		<li class="nav__accordion-item accordion-item" data-accordion-item>
			<a href="#" class="nav__menu-item accordion-title">FAQs</a>
			<div class="accordion-content" id="faqs" data-tab-content>
				{{> faqs }}
			</div>
		</li>
	</ul>
	<div class="nav__menu-item nav__trigger--contact">Contact</div>

	<div class="nav__menu-item hide-for-menuSwitch">
		<div class="nav__menu-social-links">
			<a href="https://www.facebook.com/Rambridge-Wholesale-280562465394955/" target="_blank" rel=”noopener”>
				<img src="/assets/img/facebook.svg" alt="Facebook icon">
			</a>
			<a href="https://twitter.com/rambridgegrows" target="_blank" rel=”noopener”>
				<img src="/assets/img/twitter.svg" alt="Twitter icon">
			</a>
			<a href="https://www.youtube.com/user/RambridgeGrows/videos" target="_blank" rel=”noopener”>
				<img src="/assets/img/youtube.svg" alt="YouTube icon">
			</a>
			<a href="https://www.instagram.com/rambridgegrows" target="_blank" rel=”noopener”>
				<img src="/assets/img/instagram.svg" alt="Instagram icon">
			</a>
		</div>
	</div>

	<div class="">
		<div class="nav__menu-item">
			<span class="cta" data-open="terms-and-conditions-modal">Terms and Conditions</span>
			<span class="cta" data-open="privacy-modal">Privacy Policy</span>
		</div>
	</div>

	<div class="nav__menu-footer show-for-menuSwitch">
		<div class="footer__company-name">
			<strong>©&nbsp2022&nbsp;Rambridge&nbsp;Wholesale&nbsp;Supply</strong>
		</div>
		<div class="footer__address">
			#150,&nbsp;7880&nbsp;66&nbsp;Street&nbsp;SE, Calgary,&nbsp;AB,&nbsp;T2C&nbsp;5V2
		</div>
		<div class="footer__tel-fax">
			<div class="footer__tel">
				Toll&nbsp;Free: <a class="tel" href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a>
			</div>
			<div class="footer__tel-spacer"> | </div>
			<div class="footer__fax">
				Toll&nbsp;Free&nbsp;Fax: 1&#8209;866&#8209;852&#8209;5475
			</div>
		</div>
	</div>

</div>