<div class="mobile-menu-bar">

	<button type="button" class="nav__button nav__button--gray nav__button--in-menu nav__button--toggle show-for-menuSwitch nav__trigger--toggle"></button>
	
	<div class="menu-bar__button silver show-for-menuSwitch nav__trigger--main">
		<div class="menu-bar__text">&nbsp;</div>
	</div>

	<div class="menu-bar__button menu-bar__button--full orange-to-pink nav__trigger--cea">
		<div class="menu-bar__text">Go Vertical</div>
	</div>

	<div class="menu-bar__button menu-bar__button--full darkblue nav__trigger--wholesale">
		<div class="menu-bar__text">Wholesale Items</div>
	</div>

	<div class="menu-bar__button lightblue nav__trigger--create-account">
		<div class="menu-bar__image menu-bar__image--create-account"></div>
		<div class="menu-bar__text">Add Account</div>
	</div>

	<div class="menu-bar__button midblue" data-open="client-login__modal">
		<div class="menu-bar__image menu-bar__image--login"></div>
		<div class="menu-bar__text">My Account</div>
	</div>

</div>