<div class="resources">
	<div class="nav__heading">
		Grow your knowledge
	</div>
	<p class="resources__subhead">
		Learn more about our products!
	</p>
	<ul class="tabs resources__tabs" data-tabs id="support-tabs">
		<li class="resources__tabs-title tabs-title is-active"><a href="#support-pdfs" aria-selected="true">Support
				PDFs</a>
		</li>
		<li class="resources__tabs-title tabs-title"><a href="#support-videos">Support Videos</a></li>
	</ul>

	<div class="resources__tabs-content tabs-content" data-tabs-content="support-tabs">
		<div class="resources__tabs-panel tabs-panel is-active" id="support-pdfs">
			<div class="resources__pdfs">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					{{#each supportDocs.items}}
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title accordion-title--alt">
							<div class="resources__pdfs-group">{{{ this.fields.groupHeading }}}</div>
						</a>
						<div class="accordion-content" data-tab-content>
							{{#each this.fields.items}}
							<div class="resources__pdfs-item">
								<a href="{{ this.fields.document.fields.file.url }}" target="_blank">{{
									this.fields.linkText }}</a>
							</div>
							{{/each}}
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>

		<div class="resources__tabs-panel tabs-panel" id="support-videos">
			<div class="resources__videos">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					{{#each supportVideos.items}}
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title accordion-title--alt">
							<div class="resources__videos-group">{{{ this.fields.groupHeading }}}</div>
						</a>
						<div class="accordion-content" data-tab-content>
							{{#each this.fields.items}}
							<a class="resources__videos-item" href="{{ this.fields.url }}" target="_blank">{{
								this.fields.linkText }}</a>
							{{/each}}
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>