<div class="main-social-links show-for-xlarge">
	<a href="https://www.facebook.com/Rambridge-Wholesale-280562465394955/" target="_blank" rel=”noopener”>
		<img src="/assets/img/facebook.svg" alt="Facebook icon">
	</a>
	<a href="https://twitter.com/rambridgegrows" target="_blank" rel=”noopener”>
		<img src="/assets/img/twitter.svg" alt="Twitter icon">
	</a>
	<a href="https://www.youtube.com/user/RambridgeGrows/videos" target="_blank" rel=”noopener”>
		<img src="/assets/img/youtube.svg" alt="YouTube icon">
	</a>
	<a href="https://www.instagram.com/rambridgegrows" target="_blank" rel=”noopener”>
		<img src="/assets/img/instagram.svg" alt="Instagram icon">
	</a>
</div>