<div class="call-for-details black">
	<p>Looking for more information on this product?</p> 
	<p>Call Us Toll Free: <a class="tel" href="tel:1-800-265-4769">1&#8209;800&#8209;265&#8209;4769</a></p>
</div>