<!-- Start of completion screen -->
<div class="create-account__step-complete step-complete">

	<div class="rambridge">
		<img src="/assets/img/rambridge+ram.svg">
	</div>
	<div class="create-account__step-complete-message">
		<div><strong>Consultation Request Submitted!</strong></div>
		<div>We’ll get back to you soon.</div>
	</div>

</div>
<!-- End of completion screen -->