<!-- Start of step 4 -->
<div class="step" data-step="4">

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Max Truck Size You Can Accommodate</strong></legend>
			</div>
			<div class="cell">
				<label for="max-truck-size">
					<span class="labeltext">Max Truck Size (Feet)</span><span class="errortext"></span>
					<input name="max-truck-size" type="text" id="max-truck-size" placeholder="Max Truck Size (Feet)" required>
				</label>
			</div>
			<div class="cell">
				<label>
					<textarea id="delivery-info" name="delivery-info"
						placeholder="If you have any delivery instructions, please let us know."></textarea>
				</label>
			</div>
		</div>
	</fieldset>

</div>
<!-- End of step 4 -->