<!-- Start of step 2 -->
<div class="step" data-step="2">


	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Receive Invoices by</strong> (Choose One)</legend>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="con-invoice-by-mail" value="Mail" type="radio" required />
				<label for="con-invoice-by-mail">Mail</label>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="con-invoice-by-email" value="Email" type="radio" required />
				<label for="con-invoice-by-email">Email</label>
			</div>
			<div class="cell small-4">
				<input name="invoice-method" id="con-invoice-by-fax" value="Fax" type="radio" required />
				<label for="con-invoice-by-fax">Fax</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
			<div class="grid-x grid-margin-x">
				<div class="cell">
					<legend><strong>Additional Buyer Names</strong> (Only if Applicable)</legend>
				</div>
				<div class="cell">
					<label for="additional-buyer-1">
						<input name="additional-buyer-1" type="text" id="additional-buyer-1" minlength="5" placeholder="Full Name #1">
					</label>
				</div>
				<div class="cell">
					<label for="additional-buyer-2">
						<input name="additional-buyer-2" type="text" id="additional-buyer-2" minlength="5" placeholder="Full Name #2">
					</label>
				</div>
				<div class="cell">
					<label for="additional-buyer-3">
						<input name="additional-buyer-3" type="text" id="additional-buyer-3" minlength="5" placeholder="Full Name #3">
					</label>
				</div>
			</div>
		</fieldset>
	
</div>
<!-- End of step 2 -->