<!-- Start of tidy form -->

<form action="/" method="POST" name="consultation-form-tidy" data-netlify="true">

	<input name="Country" type="hidden">
	<input name="Business Name" type="hidden">
	<input name="Contact Name" type="hidden">
	<input name="Phone" type="hidden">
	<input name="Fax" type="hidden">
	<input name="Email" type="hidden">
	<input name="Website" type="hidden">
	<input name="Business Address" type="hidden">
	<input name="Delivery Address" type="hidden">

	<input name="Invoice Method" type="hidden">

	<input name="Additional Buyer 1" type="hidden">
	<input name="Additional Buyer 2" type="hidden">
	<input name="Additional Buyer 3" type="hidden">

	<input name="Monday" type="hidden">
	<input name="Tuesday" type="hidden">
	<input name="Wednesday" type="hidden">
	<input name="Thursday" type="hidden">
	<input name="Friday" type="hidden">
	<input name="Saturday" type="hidden">
	<input name="Sunday" type="hidden">

	<input name="Has Forklift?" type="hidden">
	<input name="Need Liftgate?" type="hidden">

	<input name="Max Truck Size" type="hidden">
	<input name="Delivery Instructions" type="hidden">

	<input name="Retail Store" type="hidden">
	<input name="ACMPR" type="hidden">
	<input name="Micro Cultivation" type="hidden">
	<input name="Current Applicant" type="hidden">

	<input name="Cultivation" type="hidden">
	<input name="Sale" type="hidden">
	<input name="Processing" type="hidden">
	<input name="Cloning" type="hidden">
	<input name="Edibles" type="hidden">

</form>

<!-- End of tidy form -->