<!-- Start of step 3 -->
<div class="step" data-step="3">

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Operation Days & Hours</strong> (Choose All That Apply)</legend>
			</div>
			<!-- Start Monday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-monday" id="cons-open-monday" type="checkbox" checked />
					<label class="day-button" for="cons-open-monday">M</label>
				</div>
				<div class="closed-today" style="display: none">Closed</div>
				<div class="open-time">
					<label class="time-hour" for="monday-open-time-hour">
						<input class="time-hour" name="monday-open-time-hour" type="text" id="monday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="monday-open-time-minute">
						<input class="time-minute" name="monday-open-time-minute" type="text" id="monday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="monday-open-time-am-pm" id="monday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator">to</div>
				<div class="close-time">
					<label class="time-hour" for="monday-close-time-hour">
						<input class="time-hour" name="monday-close-time-hour" type="text" id="monday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="monday-close-time-minute">
						<input class="time-minute" name="monday-close-time-minute" type="text" id="monday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="monday-close-time-am-pm" id="monday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Monday -->

			<!-- Start Tuesday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-tuesday" id="cons-open-tuesday" type="checkbox" checked />
					<label class="day-button" for="cons-open-tuesday">TU</label>
				</div>
				<div class="closed-today" style="display: none">Closed</div>
				<div class="open-time">
					<label class="time-hour" for="tuesday-open-time-hour">
						<input class="time-hour" name="tuesday-open-time-hour" type="text" id="tuesday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="tuesday-open-time-minute">
						<input class="time-minute" name="tuesday-open-time-minute" type="text" id="tuesday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="tuesday-open-time-am-pm" id="tuesday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator">to</div>
				<div class="close-time">
					<label class="time-hour" for="tuesday-close-time-hour">
						<input class="time-hour" name="tuesday-close-time-hour" type="text" id="tuesday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="tuesday-close-time-minute">
						<input class="time-minute" name="tuesday-close-time-minute" type="text" id="tuesday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="tuesday-close-time-am-pm" id="tuesday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Tuesday -->

			<!-- Start Wednesday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-wednesday" id="cons-open-wednesday" type="checkbox" checked />
					<label class="day-button" for="cons-open-wednesday">W</label>
				</div>
				<div class="closed-today" style="display: none">Closed</div>
				<div class="open-time">
					<label class="time-hour" for="wednesday-open-time-hour">
						<input class="time-hour" name="wednesday-open-time-hour" type="text" id="wednesday-open-time-hour"
							value="10" placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="wednesday-open-time-minute">
						<input class="time-minute" name="wednesday-open-time-minute" type="text" id="wednesday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="wednesday-open-time-am-pm" id="wednesday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator">to</div>
				<div class="close-time">
					<label class="time-hour" for="wednesday-close-time-hour">
						<input class="time-hour" name="wednesday-close-time-hour" type="text" id="wednesday-close-time-hour"
							value="4" placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="wednesday-close-time-minute">
						<input class="time-minute" name="wednesday-close-time-minute" type="text" id="wednesday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="wednesday-close-time-am-pm" id="wednesday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Wednesday -->

			<!-- Start Thursday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-thursday" id="cons-open-thursday" type="checkbox" checked />
					<label class="day-button" for="cons-open-thursday">TH</label>
				</div>
				<div class="closed-today" style="display: none">Closed</div>
				<div class="open-time">
					<label class="time-hour" for="thursday-open-time-hour">
						<input class="time-hour" name="thursday-open-time-hour" type="text" id="thursday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="thursday-open-time-minute">
						<input class="time-minute" name="thursday-open-time-minute" type="text" id="thursday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="thursday-open-time-am-pm" id="thursday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator">to</div>
				<div class="close-time">
					<label class="time-hour" for="thursday-close-time-hour">
						<input class="time-hour" name="thursday-close-time-hour" type="text" id="thursday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="thursday-close-time-minute">
						<input class="time-minute" name="thursday-close-time-minute" type="text" id="thursday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="thursday-close-time-am-pm" id="thursday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Thursday -->

			<!-- Start Friday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-friday" id="cons-open-friday" type="checkbox" checked />
					<label class="day-button" for="cons-open-friday">F</label>
				</div>
				<div class="closed-today" style="display: none">Closed</div>
				<div class="open-time">
					<label class="time-hour" for="friday-open-time-hour">
						<input class="time-hour" name="friday-open-time-hour" type="text" id="friday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="friday-open-time-minute">
						<input class="time-minute" name="friday-open-time-minute" type="text" id="friday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="friday-open-time-am-pm" id="friday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator">to</div>
				<div class="close-time">
					<label class="time-hour" for="friday-close-time-hour">
						<input class="time-hour" name="friday-close-time-hour" type="text" id="friday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="friday-close-time-minute">
						<input class="time-minute" name="friday-close-time-minute" type="text" id="friday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="friday-close-time-am-pm" id="friday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Friday -->

			<!-- Start Saturday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-saturday" id="cons-open-saturday" type="checkbox" />
					<label class="day-button" for="cons-open-saturday">SA</label>
				</div>
				<div class="closed-today">Closed</div>
				<div class="open-time" style="display: none">
					<label class="time-hour" for="saturday-open-time-hour">
						<input class="time-hour" name="saturday-open-time-hour" type="text" id="saturday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="saturday-open-time-minute">
						<input class="time-minute" name="saturday-open-time-minute" type="text" id="saturday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="saturday-open-time-am-pm" id="saturday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator" style="display: none">to</div>
				<div class="close-time" style="display: none">
					<label class="time-hour" for="saturday-close-time-hour">
						<input class="time-hour" name="saturday-close-time-hour" type="text" id="saturday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="saturday-close-time-minute">
						<input class="time-minute" name="saturday-close-time-minute" type="text" id="saturday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="saturday-close-time-am-pm" id="saturday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Saturday -->

			<!-- Start Sunday -->
			<div class="cell open-times">
				<div class="day">
					<input class="open-days" name="cons-open-sunday" id="cons-open-sunday" type="checkbox" />
					<label class="day-button" for="cons-open-sunday">SU</label>
				</div>
				<div class="closed-today">Closed</div>
				<div class="open-time" style="display: none">
					<label class="time-hour" for="sunday-open-time-hour">
						<input class="time-hour" name="sunday-open-time-hour" type="text" id="sunday-open-time-hour" value="10"
							placeholder="10" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="sunday-open-time-minute">
						<input class="time-minute" name="sunday-open-time-minute" type="text" id="sunday-open-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="sunday-open-time-am-pm" id="sunday-open-time-am-pm">
						<option selected value="am" selected>AM</option>
						<option value="pm">PM</option>
					</select>
				</div>
				<div class="separator" style="display: none">to</div>
				<div class="close-time" style="display: none">
					<label class="time-hour" for="sunday-close-time-hour">
						<input class="time-hour" name="sunday-close-time-hour" type="text" id="sunday-close-time-hour" value="4"
							placeholder="4" />
					</label>
					<span class="separator hide-for-small-only">:</span>
					<label class="time-minute hide-for-small-only" for="sunday-close-time-minute">
						<input class="time-minute" name="sunday-close-time-minute" type="text" id="sunday-close-time-minute"
							value="00" placeholder="00" />
					</label>
					<select class="time-am-pm" name="sunday-close-time-am-pm" id="sunday-close-time-am-pm">
						<option selected value="am">AM</option>
						<option value="pm" selected>PM</option>
					</select>
				</div>
			</div>
			<!-- End Sunday -->
		</div>
	</fieldset>
	
	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Do You Have a Forklift? </strong> (Choose One)</legend>
			</div>
			<div class="cell small-6">
				<input name="forklift" id="con-has-forklift" type="radio" value="has-forklift" required />
				<label for="con-has-forklift">Yes</label>
			</div>
			<div class="cell small-6">
				<input name="forklift" id="con-no-forklift" type="radio" value="no-forklift" required />
				<label for="con-no-forklift">No</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Do You Need a Liftgate? </strong> (Choose One)</legend>
			</div>
			<div class="cell small-6">
				<input name="liftgate" id="con-need-liftgate" type="radio" value="need-liftgate" required />
				<label for="con-need-liftgate">Yes</label>
			</div>
			<div class="cell small-6">
				<input name="liftgate" id="con-no-liftgate" type="radio" value="no-liftgate" required />
				<label for="con-no-liftgate">No</label>
			</div>
		</div>
	</fieldset>

</div>
<!-- End of step 3 -->