<!-- Start of step 1 -->
<div class="step active" data-step="1">
		<fieldset>
			<div class="grid-x grid-margin-x">
				<div class="cell">
					<legend><strong>Choose your account location</strong></legend>
				</div>
				<div class="cell">
					<label>
						<select name="countrychooser" id="countrychooser">
							<option disabled value="hint">Choose your account location</option>
							<option selected value="Canada">Canadian / Intl. Account</option>
							<option value="USA">American Account</option>
						</select>
					</label>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<div class="grid-x grid-margin-x">
				<div class="cell">
					<legend><strong>Business Address</strong></legend>
				</div>
				<div class="cell large-6">
					<label for="con-businessname">
						<input name="businessname" type="text" id="con-businessname" minlength="6" placeholder="Business Name" required>
					</label>
				</div>
				<div class="cell large-6">
					<label for="con-contactname">
						<input name="contactname" type="text" id="con-contactname" placeholder="Contact Name" required>
					</label>
				</div>
				<div class="cell small-9">
					<label for="con-biz-streetaddress">
						<input name="biz-streetaddress" type="text" id="con-biz-streetaddress" placeholder="Street Address" required>
					</label>
				</div>
				<div class="cell small-3">
					<label for="con-biz-unitnumber">
						<input name="biz-unitnumber" type="text" id="con-biz-unitnumber" placeholder="Unit Number">
					</label>
				</div>
				<div class="cell large-6">
					<label for="con-biz-city">
						<input name="biz-city" type="text" id="con-biz-city" placeholder="City" required>
					</label>
				</div>
				<div class="cell small-6 large-3 canada-only">
					<label for="con-biz-province">
						<input name="biz-province" type="text" id="con-biz-province" placeholder="Province" class="canada-only" required>
					</label>
				</div>
				<div class="cell small-6 large-3 canada-only">
					<label for="con-biz-postalcode">
						<input name="biz-postalcode" type="text" id="con-biz-postalcode" placeholder="Postal Code" class="canada-only" required>
					</label>
				</div>
	
				<div class="cell small-6 large-3 usa-only">
					<label for="con-biz-state">
						<input name="biz-state" type="text" id="con-biz-state" placeholder="State" class="usa-only" required>
					</label>
				</div>
				<div class="cell small-6 large-3 usa-only">
					<label for="con-biz-zipcode">
						<input name="biz-zipcode" type="text" id="con-biz-zipcode" placeholder="Zipcode" class="usa-only" required>
					</label>
				</div>
	
				<div class="cell small-6 large-3">
					<label for="con-phone">
						<input name="phone" type="text" id="con-phone" placeholder="Phone" required>
					</label>
				</div>
				<div class="cell small-6 large-3">
					<label for="con-fax">
						<input name="fax" type="text" id="con-fax" placeholder="Fax">
					</label>
				</div>
	
				<div class="cell large-6">
					<label for="con-email">
						<input name="email" type="text" id="con-email" placeholder="Email" required>
					</label>
				</div>
	
				<div class="cell large-6>
					<label for="con-website">
						<input name="website" type="text" id="con-website" placeholder="Website">
					</label>
				</div>
				<input name="biz-address-full" type="hidden">
			</div>
		</fieldset>
	
		<fieldset>
			<div class="grid-x grid-margin-x">
				<div class="cell">
					<legend><strong>Delivery Address Different From Above?</strong></legend>
				</div>
				<div class="cell small-6">
					<input type="radio" name="add-delivery-address" value="has-delivery-address" id="con-has-delivery-address">
					<label for="con-has-delivery-address">Yes, it's different</label>
				</div>
				<div class="cell small-6">
					<input type="radio" name="add-delivery-address" value="no-delivery-address" id="con-no-delivery-address" checked>
					<label for="con-no-delivery-address">No, it's the same</label>
				</div>
			</div>
		</fieldset>
	
		<fieldset class="delivery-address">
			<div id="delivery-address" class="grid-x grid-margin-x">
				<div class="cell">
					<legend><strong>Delivery Address</strong></legend>
				</div>
				<div class="cell small-9">
					<label for="dlv-streetaddress">
						<input class="" name="dlv-streetaddress" type="text" id="dlv-streetaddress" placeholder="Street Address" required>
					</label>
				</div>
				<div class="cell small-3">
					<label for="dlv-unitnumber">
						<input class="" name="dlv-unitnumber" type="text" id="dlv-unitnumber"
							placeholder="Unit Number">
					</label>
				</div>
				<div class="cell large-6">
					<label for="dlv-city">
						<input class="" name="dlv-city" type="text" id="dlv-city" placeholder="City" required> 
					</label>
				</div>
				<div class="cell small-6 large-3 canada-only">
					<label for="dlv-province">
						<input class="" name="dlv-province" type="text" id="dlv-province"	placeholder="Province" required>
					</label>
				</div>
				<div class="cell small-6 large-3 canada-only">
					<label for="dlv-postalcode">
						<input class="" name="dlv-postalcode" type="text" id="dlv-postalcode" placeholder="Postal Code" required>
					</label>
				</div>
				<div class="cell small-6 large-3 usa-only">
					<label for="dlv-state">
						<input name="dlv-state" type="text" id="dlv-state" placeholder="State" class=""
							required>
					</label>
				</div>
				<div class="cell small-6 large-3 usa-only">
					<label for="dlv-zipcode">
						<input name="dlv-zipcode" type="text" id="dlv-zipcode" placeholder="Zipcode" class="" required>
					</label>
				</div>
				<input name="dlv-address-full" type="hidden">
			</div>
		</fieldset>
	
	</div>
	<!-- End of step 1 -->