<!-- Start of step 5 -->
<div class="step" data-step="5">

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>Which option describes your business?: </strong> (Choose All That Apply)</legend>
			</div>
			<div class="cell">
				<input class="con-business-type" name="is-retail-store" id="con-is-retail-store" type="checkbox" />
				<label for="con-is-retail-store">Retail Store</label>
			</div>
			<div class="cell">
				<input class="con-business-type" name="is-acmpr" id="con-is-acmpr" type="checkbox" />
				<label for="con-is-acmpr">ACMPR</label>
			</div>
			<div class="cell">
				<input class="con-business-type" name="is-micro-cultivation" id="con-is-micro-cultivation" type="checkbox" />
				<label for="con-is-micro-cultivation">Micro Cultivation</label>
			</div>
			<div class="cell">
				<input class="con-business-type" name="is-applicant" id="con-is-applicant" type="checkbox" />
				<label for="con-is-applicant">Current Applicant</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<legend><strong>*If licensed, what licenses do you currently hold? </strong> (Choose All That Apply)</legend>
			</div>
			<div class="cell">
				<input class="con-licences-held" name="cultivation" id="cultivation" type="checkbox" />
				<label for="cultivation">Cultivation</label>
			</div>
			<div class="cell">
				<input class="con-licences-held" name="sale" id="sale" type="checkbox" />
				<label for="sale">Sale</label>
			</div>
			<div class="cell">
				<input class="con-licences-held" name="processing" id="processing" type="checkbox" />
				<label for="processing">Processing</label>
			</div>
			<div class="cell">
				<input class="con-licences-held" name="cloning" id="cloning" type="checkbox" />
				<label for="cloning">Cloning</label>
			</div>
			<div class="cell">
				<input class="con-licences-held" name="edibles" id="edibles" type="checkbox" />
				<label for="edibles">Edibles</label>
			</div>
		</div>
	</fieldset>
</div>
<!-- End of step 5 -->