<!-- Start of step 6 -->
<div class="step" data-step="6">

		<fieldset>
				<div class="cell">
					<legend>
						<strong>Get started right away, complete these Intake forms</strong>
						(Not Mandatory Right Now)
					</legend>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell large-6">
						<div class="consultation__document-download">
							<div class="pdf"><img src="/assets/img/pdf.svg"></div>
							<div>
								<p>Lighting layout form</p>
								<a class="download" href="#" target="_blank">Download Now</a>
							</div>
						</div>
					</div>
					<div class="cell large-6">
						<div class="consultation__document-download">
							<div class="pdf"><img src="/assets/img/pdf.svg"></div>
							<div>
								<p>Dehumidification form</p>
								<a class="download" href="#" target="_blank">Download Now</a>
							</div>
						</div>
					</div>
					<div class="cell large-6">
						<div class="consultation__document-download">
							<div class="pdf"><img src="/assets/img/pdf.svg"></div>
							<div>
								<p>Benching form</p>
								<a class="download" href="#" target="_blank">Download Now</a>
							</div>
						</div>
					</div>
					<div class="cell large-6">
						<div class="consultation__document-download">
							<div class="pdf"><img src="/assets/img/pdf.svg"></div>
							<div>
								<p>Vertical racks form</p>
								<a class="download" href="#" target="_blank">Download Now</a>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

</div>
<!-- End of step 6 -->