{{!-- This is the base layout for this project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">

{{> head }}

<body>
	<div class="off-canvas position-right" id="rb-off-canvas" data-off-canvas data-transition="overlap">

		{{> menu-bar }}

		<ul class="tabs" data-tabs id="main-menu-tabs" style="display: none;">
			<li class="tabs-title is-active"><a href="#main-menu__default" aria-selected="true">MAIN</a></li>
			<li class="tabs-title"><a href="#main-menu__wholesale">WHOLESALE</a></li>
			<li class="tabs-title"><a href="#main-menu__create-account">CREATE</a></li>
			<li class="tabs-title"><a href="#main-menu__contact">CONTACT</a></li>
		</ul>

		<div class="menu-scroll-container">
			<div class="tabs-content silver" data-tabs-content="main-menu-tabs">
				<div class="tabs-panel silver is-active" id="main-menu__default">
					{{> menu-tab-main }}
				</div>
				<div class="tabs-panel darkblue" id="main-menu__wholesale">
					{{> menu-tab-wholesale }}
				</div>
				<div class="tabs-panel silver" id="main-menu__create-account">
					{{> menu-tab-create-account }}
				</div>
				<div class="tabs-panel silver" id="main-menu__contact">
					{{> menu-tab-contact }}
				</div>
			</div>

		</div>
	</div>

	<div class="off-canvas-content" data-off-canvas-content>
		{{> body}}
	</div>
	
	{{> end-of-page }}
	<script src="/{{root}}assets/js/app.js"></script>
</body>

</html>